
.carousel {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-body {
    width: 80%;
    float: left;
}

.app-carousel {
    position: relative;
    overflow: hidden;
}

.carousel-btn {
    width: 32px;
    height: 52px;
    cursor: pointer;
    margin: -52px 30px 0 30px;
}

.col12-sm-1 {
    margin-top: 26%;
}

.btnL {
    background: url(../../../assets/newImages/ArrowL.png) no-repeat;
}

.btnR {
    background: url(../../../assets/newImages/ArrowR.png) no-repeat;
}

.carousel-box {
    overflow: hidden;
}
.carousel-cont {
    overflow: hidden;
}

.carousel-item {
    list-style: none;
    margin: 0;
    text-align: center;
    float: left;
    font-weight: 900;
}

.pagination {
    text-align: center;
}

.pagination-point {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    width: 22px;
    height: 4px;
    background: rgba(255, 255, 255, .3);
}

.pagination-point.active {
    background: rgba(255, 255, 255, 1);
}

img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .carousel-btn  {
        display: none;
    }

    .carousel-body {
        width: 95%;
    }

    .carousel {
        padding-top: 70px;
    }
}

