<div class="container index-step" id="skrollr-body">
  <section class="section section-22 anchor-hd ec-bg1" id="test-net">
    <div class="cont pt80 pb80">
      <div class="wrapper ta-c color-white clearfix vedio-size">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div 
               *ngFor="let item of swiperList"
                class="swiper-slide ptl22-item"
              >
                <div class=" ta-c color-white clearfix swiper-silde">
                  <div class="col12-sm-6 ptl22-item">
                    <div class="ptl22-box">
                      <div class="ptl22-txt aelf-white-paper-on">
                        <h3 class="fs-36 mb20 pt220 ta-l"><strong>{{item.title}}</strong></h3>
                        <p class="fs-18 lh-16em ta-l">{{item.desc}}</p>
                        <div class="col12-md-3 col12-sm-4 ta-c color-white skrollable skrollable-between mb30 mt20"
                             data-bottom="transform:translate(0%, 30%); opacity:0;"
                             data-center="transform:translate(0%, 0%); opacity:1;">
                          <div class="fs-14 lh-28 clearfix skrollable skrollable-between test-net-buttons"
                            *ngIf="item.buttonText">
                            <a target="_blank" class="col12-md-2 col12-sm-3 mb25 test-net-button clearfix "
                              [href]="item.button"
                              rel="noreferrer noopener">
                              {{item.buttonText}}
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col12-sm-6 ptl22-item">
                    <div class="ptl22-box">
                      <img style="max-height: 594px" [src]="item.leftImg ? item.leftImg.url : item.rightImg.url" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <!--分页器。如果放置在swiper-container外面，需要自定义样式。-->
          </div>

      </div>
    </div>
  </section>


  <section class="section section-22 anchor-hd ec-bg1" id="test-net">
    <div class="wrapper cont pt60">
      <div class=" ta-c color-white clearfix block-reverse mainnet-list-container"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <!-- <div class="col12-sm-6 ptl22-item home-launch-sum">
          <div class="ptl22-box">
            <div class="ptl22-txt main-launch-com">
              <h3 class="fs-36  pt140 pb30 ta-l" ><strong>{{"main-launch-com" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"int-open" | translate}}</p>
              <div class="col12-md-3 col12-sm-4 ta-c color-white skrollable skrollable-between mb30 mt20"
                   data-bottom="transform:translate(0%, 30%); opacity:0;"
                   data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="fs-14 lh-28 clearfix skrollable skrollable-between test-net-buttons">
                  <a target="_blank" class="col12-md-2 col12-sm-3 mb25 test-net-button " [href]="currentLanguage === '中文' ? 'http://aelf-elf.mikecrm.com/fHxatQQ':''" rel="noreferrer noopener">
                    {{"sign-up-now" | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img src="assets/images/homep1.png" alt="">
          </div>
        </div> -->
      </div>
    </div>

    <div class="cont pt10 pb20 mainnet-plan">
      <div class="wrapper  clearfix"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;"
      >
        <div class="clearfix">
          <div class="col12-tn-12 master-plan dis-flex-col">
            <h3 class="fs-36 color-white ta-c miannet-article" ><strong>{{"master-plan" | translate}}</strong></h3>
            <div *ngIf="!hiddenElementList['mainnet-plan']" class="mb65 ta-c link-bottom-line">
              <a class="fs-14 ordinary-link net-button">{{"master-plan-detail" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 0 43px;" class="mainnet-node-container">
        <div style="width: 100%;max-width: 1434px">
          <img [src]="'assets/images/m-p-'+ (currentLanguage === '中文' ?'zh' : 'en') + '.png'" style="width:100%"/>
        </div>
      </div>

      <div class="col12-sm-6 text-1 f-w-500">
        <div class="home-3-item" *ngFor="let item of mainnetRoadmap; let i = index">
          <div class="dis-flex">
            <div class="img-content-wrap" style="align-self:center;">
              <img  [src]="'assets/images/'+ item.node + '-node.png' "  alt="" class="img-content-icon" />
            </div>
            <div class="home-3-item-right ta-l">
              <h3 class="fs-24 color-white txt-link-title">
                <strong class="unclick-able">{{(i+1) + '. '}}{{ 'mainnet-launch-' + item.node | translate}}</strong>
              </h3>
              <p class="lh-20em color-white fs-12" *ngFor="let detail of item.details">
                <span class="dot"></span>
                <span>{{ detail | translate }}</span>
              </p>
            </div>
          </div>
        </div>
     </div>
    </div>
    <!-- 新增 -->
    <div class="cont pt10 pb20 mainnet-plan">
      <!-- <div class="wrapper  clearfix mainnet-plan"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;"> -->
        <div class="clearfix">
          <div class="col12-tn-12 master-plan dis-flex-col">
            <h3 class="fs-36 color-white ta-c miannet-article" ><strong>{{"release-plan" | translate}}</strong></h3>
            <div *ngIf="!hiddenElementList['mainnet-release']" class="mb30 ta-c link-bottom-line">
              <a class="fs-14 ordinary-link net-button">{{"release-plan-detail" | translate}}</a>
            </div>
          </div>
        </div>
        <p class="fs-18 color-white plan-subtitle">{{"release-plan-subtitle" | translate}}</p>
      
        <div class="ec-2-item mb45 release-node-flex">
            <div class="fs-31 ta-r link-color fw600 rel-ob-n"> <strong> {{"release-observe-node" | translate}} </strong> </div>
            <div class="middle-line"></div>
            <div class="">
              <ul class="node-content">
                <li class="ta-l fs-18 color-white pr70 retract" *ngFor="let item of ['content-1','content-2','content-3','content-4']">
                  <span class="dot"></span>
                  <span>{{"release-observe-node-" + item | translate }}</span>
                  </li>
              </ul>
            </div>    
        </div>
        <div class="ec-2-item mb45 release-node-flex">
          <div class="fs-31 ta-r link-color fw600 rel-ob-n"> <strong> {{"release-swap-node" | translate}} </strong>  </div>
          <div class="middle-line"></div>
          <div class="ta-l fs-18 color-white pr70 ml-43 reset-padding al-self-site"> {{"release-swap-node-content" | translate}} </div>    
        </div>
        <div class="ec-2-item mb139 release-node-flex">
          <div class="fs-31 ta-r link-color fw600 rel-ob-n"> <strong> {{"release-complete-node" | translate}} </strong>  </div>
          <div class="middle-line"></div>
          <div class="ta-l fs-18 color-white pr70 ml-43 reset-padding al-self-center"> {{"release-complete-node-content" | translate}} </div>    
        </div>  
      </div>
    <!-- </div> -->
  </section>

  <!-- <section class="section section-13 anchor-bd ec-bg1">
    <div class="cont" *ngIf="productionNodesList.length">
      <div class="txt">
        <div class="wrapper clearfix"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div class="clearfix txt">
            <div class="col12-tn-12 ta-l pt10 tn-show mb10">
              <p class="fs-36 mb15 color-white"><b>{{"Committee Members" | translate}}</b></p>
            </div>
          </div>
        </div>
        <div class="wrapper color-white clearfix mb30 pl40 pr40 mt20">
          <div 
          *ngFor="let item of productionNodesList"
          class="col12-sm-6 mb20 ptl22-item home-1-item"
          data-bottom="transform:translate(0%, 30%); opacity:0;"
          data-center="transform:translate(0%, 0%); opacity:1;">
            <div class="wrap">
              <div class="img-content">
                <img style="max-width: 88px;margin-bottom: 22px" [src]="item.img.url" [alt]="item.title">
              </div>
              <div class="txt-content">
                <h3 class="fs-24 mb10 color-white">
                  <strong>{{item.title}}</strong>
                  <a class="ordinary-btn brow-f ml10 fs-14 mt-5" target="_blank"
                    [href]="item.website">{{"website" | translate}}</a>
                </h3>
                <p class="lh-22em color-white pr20 fs-14">{{item.desc}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cont pb100 tu-img">
      <div class="txt"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="wrapper clearfix">
          <div class="team2 clearfix">
            <div class="col12-tn-12 ta-l pt30 mb40 tn-show mode">
              <p class="fs-36 mb15 color-white"><b>{{"Committee Member Incentive Model" | translate}}</b></p>
            </div>
          </div>
        </div>
        <div class="chart fs-18 ff-arial wrapper model-ec">
          <div style="text-align: center"><img src="assets/images/data_ec0.png" alt=""></div>
        </div>
      </div>
    </div>
  </section> -->
</div>
