
.bg_sh{
  background:rgba(255,255,255,.14);
}
/*.ec-bg1{*/
/*  background: linear-gradient(120deg, #7713b4, #1b0160);*/
/*}*/
.ec-1-item{
  width:22%;
  background:rgba(255,255,255,.05);
  border-radius:4px;
  padding: 20px;
  float: left;
}
.mainnet-plan{
  padding: 0 40px;
}

.miannet-article{
  margin: 95px 0 27px;
}

.txt-link-title {

  /* font-size: 16px; */
  font-weight: 600;
  color: #26B7FF;
  /* line-height: 16px; */
}
.plan-subtitle{
  margin-bottom: 84px;
}

.ec-2-item{
  width:100%;
  border-radius:4px;
  padding: 50px 0;
  float: left;
  background: rgba(255,255,255,0.07);
}

.link-color {
  color: #26B7FF;
}
.link-bottom-line {
  text-decoration: underline;
}

.mainnet-list-img {
  display: none;
}

.ul-special li{
   list-style: disc;
   width: 100%;
 }
 .rel-ob-n{
   width: 21.5%;
   min-width: 21.5%;
   align-self: center;
   text-align: right;
   box-sizing: content-box;
   padding-right: 4%;
   /* border-right: 4px solid #26B7FF; */
 }
 .release-node-flex{
   display: flex;
 }
 .middle-line {

    padding-right: 4px;
    border-left: 4px;
    background: #26B7FF;

  }
  .ml-43{
    margin-left: 43px;
  }
  .mb139{
    margin-bottom: 139px;
  }
  .dis-flex {
    display: flex;
  }
  .dis-flex-col {
    display: flex;
    flex-direction: column;
  }
  .dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
  }

  .node-content{
    margin-left: 57px;
  }
  .retract{
   text-indent: -0.5em;
   margin-bottom: 0.5em;
/* 　  margin-left: 2em; */
  }
  .al-self-center{
    align-self: center;
  }
  .al-self-site {
    align-self: center;
  }

  .text-1 {
    display: none;
  }

  .fs-31 {
    font-size: 31px;
  }

  .color-white {
    color: #fff;
  }



  /* 这里样式属于测试样式 */
  .mainnet-node-wrap {
    /* height: 80px; */
    display: flex;
    justify-content: center;
    /* background: blue; */
    width: 100%;
    align-items: center;
    overflow: hidden;
    padding-bottom: 47px;
  }
  .mainnet-node-wrap .color-white {
    color: #fff;
  }
  
  .node-list-title{
    color: #26B7FF;
    text-align: right;
    width: 45%;
  }
  .node-list-key {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    background-color: #26B7FF;
    align-self: center;
    position: relative;
  }
  .node-list-key-select {
    background: #fff;
    color: #500B90;;
  }
  .node-list-key::before{
    position: absolute;
    bottom: 30px;
    left: 15px;
    display:inline;
    border-left: 1px dashed #fff;
    height: 148px;
    content: "";
  }
  .mainnet-node-wrap:nth-of-type(1) .node-list-key::before{
    height: 60px;
  }
  .node-list-key::after{
    position: absolute;
    top: 30px;
    left: 15px;
    display:inline;
    border-left: 1px dashed #fff;
    height: 148px;
    content: "";
  }
  .mainnet-node-wrap:last-child .node-list-key::after{
    display: none;
  }
  .node-list-detail{
    width: 45%;
    background-color: rgba(255,255,255,0.07);
    padding: 15px 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  

  .mainnet-node-wrap:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .mainnet-node-wrap:nth-of-type(2n+1) .node-list-title,
  .mainnet-node-wrap:nth-of-type(2n) .node-list-detail {
    margin-right: 15px;
  }

  .mainnet-node-wrap:nth-of-type(2n) .node-list-title,
  .mainnet-node-wrap:nth-of-type(2n+1) .node-list-detail{
    margin-right: 0px;
    margin-left: 15px;
  }

  .mainnet-node-wrap:nth-of-type(2n+1) .node-list-detail,
  .mainnet-node-wrap:nth-of-type(2n) .node-list-title {
    text-align: left;
  }
  .mainnet-node-wrap:nth-of-type(2n) .node-list-detail {
    display: flex;
    flex-direction: row-reverse;
  }
  .test-force-left {
    margin-right: auto;
  }
  
  .list-light-high {
    background-color: rgba(255,255,255,0.25);
    position: relative;
    margin-top: 10px;
  }

  .list-light-high::before {
    content: "";
    background: url('/assets/images/current-node-high.png') no-repeat;
    position: absolute;
    top: -10px;
    width: 71px;
    height: 24px;
  }

  .f-w-800{
    font-weight: 800;
  }

.test {
  background: rgba(255, 255, 255, 0.2);
  
}
.test-img {
  border: 1px solid #000;
}

   
.wrapper .ec-1-item:nth-child(1),.wrapper .ec-1-item:nth-child(2),.wrapper .ec-1-item:nth-child(3){
  margin-right: 4%;
}

#data-chart1 {
  position: relative;
  width: 100%
}

#data-chart1 .chart-item:nth-child(2) {
  top: 26%;
  left: 41.2%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(3) {
  top: 16%;
  left: 4%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(4) {
  top: 16%;
  right: 4%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(5) {
  top: 50%;
  left: 4%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(6) {
  top: 50%;
  right: 4%;
  position: absolute;
  width: 18%;
}
#test-net .test-net-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#test-net .test-net-button {
  height:29px;
  line-height: 30px;
  border-radius: 1px;
  background:#26b7ff;
  color:#fff;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  padding: 0 16px;
  border-radius: 3px;
}

#test-net .test-net-button:hover {
  background:#096dd9;
}
.home-1-item>.ptl22-box{
  background:rgba(255,255,255,.07);
  border-radius:4px;
  padding-top: 20px!important;
  padding-bottom: 100px!important;
}
.img {
  background:rgba(255,255,255,0.07);
  padding: 30px 40px 20px 30px;
  border-radius:4px;
}

.wrap{
  display: flex;
  background:rgba(255,255,255,0.07);
  padding: 30px 40px 20px 30px;
  border-radius:4px;
}
.wrap .img-content{
  margin-top: 4px;
  width: 84px;
  margin-right: 20px;
}

.model-ec img{
  position: relative;
}
.model-ec-item{
  position: absolute;
  color: #fff;
}
.model-ec .model-ec-item:nth-child(2){
  top:45%;
  left:22%;
  font-size: 10px;
}
.model-ec .model-ec-item:nth-child(3){
  top:45%;
  left:37.5%;
  font-size: 10px;
}
.model-ec .model-ec-item:nth-child(4){
  top:45%;
  left:51.5%;
  font-size: 10px;
}
.model-ec .model-ec-item:nth-child(5){
  top:46%;
  left:70.1%;
  width: 60px;
  font-size: 10px;
}
.model-ec .model-ec-item:nth-child(6){
  top:46%;
  left:76.6%;
  width: 70px;
  font-size: 10px;
}
.model-ec .model-ec-item:nth-child(7){
  top:62%;
  left:35.6%;
  font-size: 26px;
}
.model-ec .model-ec-item:nth-child(8){
  top:82%;
  left:24.2%;
  width: 70px;
  font-size: 10px;
}
.model-ec .model-ec-item:nth-child(9){
  top:82%;
  left:38%;
  width: 70px;
  font-size: 10px;
}
.ff-arial div{
  background:rgba(255,255,255,0.07);
  padding: 20px 0;
}

@media only screen and (max-width: 1280px) {
  .miannet-article{
    margin: 63px 0 49px;
  }
  .txt-link-title{
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 17px;
  }
  .ec-2-item{
    padding: 35px 0;
  }
  .middle-line {
    padding-right: 3px;
    border-left: 3px;

  }
  .plan-subtitle{
    margin-bottom: 56px;
  }
  .node-content{
    margin-left: 37px;
  }

  .mb139{
    margin-bottom: 93px;
  }
  .fs-36 {
    font-size: 24px;
  }
  .plan-subtitle{
    margin-bottom: 42px;
  }

  .fs-14 ,.fs-18{
    font-size: 12px;
  }
  .m-b-17{
    margin-bottom: 17px;
  }
  .mb65 {
    margin-bottom: 43px;
  }
  .mt58{
    margin-top: 38px;
  }
  
  .fs-31 {
    font-size: 26px;
  }
  .mainnet-node-wrap {
    padding-bottom: 31px;
  }
  .node-list-title {
    font-size: 24px;
  }
  .node-list-detail{
    padding: 15px 24px;
  }
  .img-content-icon{
    width: 106px;
  }
  .mainnet-node-wrap:nth-of-type(1) .node-list-key::before{
    height: 36px;
  }

  .list-light-high::before {
    background-size: 47px;
    top: -7px;
    width: 47px;
    height: 16px;
  }
}


@media only screen and (min-width: 1024px){
  #test-net .test-net-button{
    border-radius: 3px;
  }
}
@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 778px) {
  #test-net .test-net-button{
    width: 250px;
  }
  .model-ec img{
    width: 92% !important;
  }
  .mode{
    margin-bottom: 10px;
  }
  .wrapper .home-1-item:nth-child(2n+1){
    padding-right: 0!important;
  }
  .wrapper .home-1-item:nth-child(2n){
    padding-left: 0!important;
  }
  .tu-img{
    padding-bottom: 0;
  }
  .master-plan h3{
    padding-bottom: 20px;
    font-size: 13px;
  }
  .section-22 .cont, .section-8 .cont{
    padding-top: 0;
    padding-bottom: 20px;
  }
  .ordinary-btn{
    padding: 3px 5px;
  }
  .aelf-white-paper-on h3{
    padding-top: 40px;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .swiper-silde,.block-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  .aelf-white-paper-on .fs-36{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .test-net-button{
    width: 100%;
  }
 .main-launch-com .fs-36,.txt .fs-36,.master-plan .fs-36{
    font-size: 13px;
    text-align: center;
  }
  .txt-content h3{
     font-size: 13px;
   }

  .aelf-white-paper-on .fs-18,.main-launch-com .fs-18{
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }

  .txt-content p{
     font-size: 10px;
     line-height: 20px;
   }


  .home-launch-sum h3{
    padding-top: 20px;
    text-align: center;
  }
  .home-launch-sum p{
    text-align: center;
  }


  .ec-1-item {
    width: 48% !important;
    background: rgba(255, 255, 255, 0.07);
    margin-top: 15px;
  }
  .ec-1-item h3{
    font-size: 13px;
    text-align: center;
  }
  .ec-1-item .pl20{
    padding-left: 12px;
  }
  .ec-1-item p{
    font-size: 10px;
    line-height: 20px;
  }

  .ec-1-container > .ec-1-item:nth-child(2), .ec-1-container > .ec-1-item:nth-child(4) {
    margin-right: 0 !important;
  }
  .ec-1-item img{
    display: none;
  }

  .home-1-item {
    width: 100%;
  }
  .home-1-item .wrap {
    padding: 12px 8px;
  }

  .wrap .img-content{
    margin-top: 4px;
    width: 50px;
    margin-right: 10px;
  }
  .wrap img{
    width: 50px;
  }

  .home-1-item > .wrap {
    display: flex;
  }

  .txt-content h3 {
    font-size: 13px;
  }

  .txt-content p {
    font-size: 10px;
    line-height: 20px;
  }
  .swiper-silde img{
    padding-top: 90px;
    width: 244px;
  }


  .mb65{
    margin-bottom: 31px;
  }

  .miannet-article{
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .mainnet-node-container{
    display: none;
  }
  .mainnet-list-container{
    width: 100%;
    padding: 8%;
    margin: 0;
  }
  .mainnet-list-img{
    width: 100%;
    padding: 0 6%;
  }
  .mainnet-plan {
    padding: 0 6%;
  }
  .ec-2-item{
    padding: 27px 38px;
    margin-bottom: 31px;
  }
  .node-content{
    margin-left: 1px;
  }
  #test-net .net-button {
    height: 29px;
    width: 250px;
    line-height: 29px;
    border-radius: 1px;
    background: #26b7ff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
    border-radius: 3px;
  }
  #test-net .net-button:hover {
    background: #096dd9;
  }
  .fs-36{
    font-size: 24px;
  }
  .fs-31 {
    font-size: 13px;
  }
  .middle-line{
    display: none;
  }
  .rel-ob-n{
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
  }
  .release-node-flex {
    display: flex;
    flex-direction: column;
  }
  .retract{
    padding-right: 0;
  }
  .reset-padding {
    margin-left: 1px;
    padding-right: 0;
  }
  .al-self-site {
    align-self: start;
  }
  
  .text-1 {
    display: block;
    margin-bottom: 39px;
  }
  .f-w-500{
    font-weight: 500;
  }
  .home-3-item {
    /* width: 48%; */
    width: 100%;
    background: rgba(255, 255, 255, .05);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    float: left;
  }

  .txt-link-title{
    margin-bottom: 10px;
  }

  .img-content-wrap {
    width: 100%;
    max-width: 88px;
  }
  .img-content-icon {
    width: 100%;
    /* max-height: 100px; */
  }
  .home-3-item-right {
    margin-left: 19px;
    width: 100%;
  }

  .home-3-item-select {
    background: rgba(255, 255, 255, .25);
    position: relative;
  }
  .home-3-item-select::before {
    height: 37px;
    max-height: 56px;
    /* width: 100%; */
    min-width: 73px;
    max-width: 161px;
    text-align: right;
    content: "";
    background: url('/assets/images/current-node-high.png') no-repeat;
    right: 13px;
    top: -13px;
    position: absolute;
  }
  .txt-link-title-select {
    font-weight: 800;
    color: #fff;
    font-size: 14px;
  }
  
  .txt-detail-select .fs-16{
    font-size: 16px;
  }


}

.wrapper .home-1-item:nth-child(2n+1){
  padding-right: 20px;
}
.wrapper .home-1-item:nth-child(2n){
  padding-left: 20px;
}
.col12-1, .col12-10, .col12-11, .col12-12, .col12-2, .col12-3, .col12-4, .col12-5, .col12-6, .col12-7, .col12-8, .col12-9, .col12-gt-1, .col12-gt-10, .col12-gt-11, .col12-gt-12, .col12-gt-2, .col12-gt-3, .col12-gt-4, .col12-gt-5, .col12-gt-6, .col12-gt-7, .col12-gt-8, .col12-gt-9, .col12-lg-1, .col12-lg-10, .col12-lg-11, .col12-lg-12, .col12-lg-2, .col12-lg-3, .col12-lg-4, .col12-lg-5, .col12-lg-6, .col12-lg-7, .col12-lg-8, .col12-lg-9, .col12-md-1, .col12-md-10, .col12-md-11, .col12-md-12, .col12-md-2, .col12-md-3, .col12-md-4, .col12-md-5, .col12-md-6, .col12-md-7, .col12-md-8, .col12-md-9, .col12-sm-1, .col12-sm-10, .col12-sm-11, .col12-sm-12, .col12-sm-2, .col12-sm-3, .col12-sm-4, .col12-sm-5, .col12-sm-6, .col12-sm-7, .col12-sm-8, .col12-sm-9, .col12-tn-1, .col12-tn-10, .col12-tn-11, .col12-tn-12, .col12-tn-2, .col12-tn-3, .col12-tn-4, .col12-tn-5, .col12-tn-6, .col12-tn-7, .col12-tn-8, .col12-tn-9{
  padding: 0;
}
#test-net .test-net-button{
  margin: 0;
}
#test-net .test-net-buttons{
  display: unset;
}
