.about-us{
  background: rgba(04,16,51,0.2);
  padding: 0 15px;
}
.ta-c{
  padding: 30px 0;
}

@media only screen and (max-width: 1024px) and (min-width: 0px){
  .lg-hidden{
    display: block;
  }

  .ordinary-btn{
    width: 100%;
    height: 28px;
    text-align: center;
    border-radius: 2px;
    padding: 0;
    line-height: 28px;
  }

  .ordinary-btn img{
    margin-right: 4px;
    height: 13px;
    margin-top: -6px;
  }
}
.lg-hidden{
  /*display: none;*/
}

@media only screen and (max-width: 778px) {
  /*.ec-bg1{*/
  /*  background: linear-gradient(90deg,#7713b4,#1b0160);*/
  /*}*/
  .ab_c{
    padding-top: 40px;
  }
  .about-us .col12-tn-12{
    margin-top: 0;
    padding-top: 10px;
  }
  .team-txt h4{
    font-size: 13px;
  }
  .gg-name{
    font-size: 13px;
  }
  .team2{
    margin: 0;
  }
  .team2 .team-item{
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
  }
  .team2 .team-txt{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .Team .fs-36{
    font-size: 13px;
    text-align: center;
  }
  .Team .fs-18{
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }

  .bbbb .pic-txt-list-22:nth-child(1),.bbbb .pic-txt-list-22:nth-child(3){
    display: flex;
    flex-direction:column-reverse;
  }
  .bbbb .pic-txt-list-22 img{
    height: 96px;
    margin: 26px auto;
  }

  .brow-f{
    width: 100%;
    height: 28px;
  }
  .meenu span{
    height: 28px;
    line-height: 28px;
    width: 100%;
  }
  .about-us .fs-34{
    font-size: 13px;
  }
  .about-us .fs-18{
    font-size: 10px;
    line-height: 20px;
  }
  .swp{
    padding: 110px 25px 53px;
  }
  .Team{
    padding-top: 53px;
  }
}


.col12-1, .col12-10, .col12-11, .col12-12, .col12-2, .col12-3, .col12-4, .col12-5, .col12-6, .col12-7, .col12-8, .col12-9, .col12-gt-1, .col12-gt-10, .col12-gt-11, .col12-gt-12, .col12-gt-2, .col12-gt-3, .col12-gt-4, .col12-gt-5, .col12-gt-6, .col12-gt-7, .col12-gt-8, .col12-gt-9, .col12-lg-1, .col12-lg-10, .col12-lg-11, .col12-lg-12, .col12-lg-2, .col12-lg-3, .col12-lg-4, .col12-lg-5, .col12-lg-6, .col12-lg-7, .col12-lg-8, .col12-lg-9, .col12-md-1, .col12-md-10, .col12-md-11, .col12-md-12, .col12-md-2, .col12-md-3, .col12-md-4, .col12-md-5, .col12-md-6, .col12-md-7, .col12-md-8, .col12-md-9, .col12-sm-1, .col12-sm-10, .col12-sm-11, .col12-sm-12, .col12-sm-2, .col12-sm-3, .col12-sm-4, .col12-sm-5, .col12-sm-6, .col12-sm-7, .col12-sm-8, .col12-sm-9, .col12-tn-1, .col12-tn-10, .col12-tn-11, .col12-tn-12, .col12-tn-2, .col12-tn-3, .col12-tn-4, .col12-tn-5, .col12-tn-6, .col12-tn-7, .col12-tn-8, .col12-tn-9{
  padding: 0;
}
#test-net .test-net-button{
  margin: 0;
}
#test-net .test-net-buttons{
  display: unset;
}
