<div class="container index-step" id="skrollr-body">
  <section class="section section-22 anchor-hd ec-bg1">
    <div class="wrapper pt200 pb50 swp">
      <div class="pic-txt-list-22 ta-c color-white clearfix block-reverse"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">

        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="Team">
              <h3 class="fs-36 mb20 ta-l "><strong>{{"aelf Team" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"aelf Team sum" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img style="max-width: -webkit-fill-available" src="assets/images/ab_1.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="cont pt120 pb50" id="team">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="team2 clearfix">
            <div class="col12-tn-12 ta-c pt30  tn-show mb30">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <p class="fs-34 mb15 color-white gg-name"><b>{{"team" | translate}}</b></p>
            </div>
            <div
              class="col-ysg-2 col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-1.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Ma Haobo" | translate}}</b></h4>
                  <div class="fs-12 lh-16em ta-l">{{ 'Ma Haobo-sum' | translate }}</div>
                </div>
              </div>
            </div>
            <div
              class="col-ysg-2 col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-2.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Zhuling Chen" | translate}}</b></h4>
                  <div class="fs-12 lh-16em ta-l">{{ 'Zhuling Chen-sum' | translate }}
                  </div>
                </div>
              </div>
            </div>
            
            <div
              class="col-ysg-2 col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 70%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-3.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Yang Yalong" | translate}}</b></h4>
                  <div class="fs-12 lh-16em ta-l">{{"Yang Yalong-sum" | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cont pt80 pb50">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="team2 clearfix">
            <div class="col12-tn-12 ta-c pt30 tn-show mb30">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <p class="fs-34 mb15 color-white gg-name"><b>{{"Consultants" | translate}}</b></p>
            </div>
            <div
              class="col-ysg-2 col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-6.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Liam Robertson" | translate}}</b></h4>
                  <div class="fs-12 lh-16em ta-l">{{ 'Liam Robertson-sum' | translate }}</div>
                </div>
              </div>
            </div>
            <div
              class="col-ysg-2  col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-4.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Zhou Shuoji" | translate}}</b></h4>
                  <div class="fs-12  lh-16em ta-l">{{"Zhou Shuoji-sum" | translate}}
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-ysg-2  col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-7.jpg" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Kenneth Oh" | translate}}</b></h4>
                  <div class="fs-12  lh-16em ta-l">{{"Kenneth Oh-sum" | translate}}
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-ysg-2  col12-md-4 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mt120"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box h300 clearfix">
                <div class="team-pic"><img src="assets/images/face-8.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"J. Michael Arrington" | translate}}</b></h4>
                  <div class="fs-12  lh-16em ta-l">
                    {{"J. Michael Arrington-sum"| translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper pt100 pb80 ab_c">
      <div class="txt">
        <div class="clearfix">
          <div class="clearfix about-us">
            <div class="ta-c">
              <p class="fs-34 mb15 color-white"><b>{{"Join Us " | translate}}</b></p>
              <p class="fs-18 color-white">{{"send" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
