<header class="header">
  <div class="wrapper clearfix">
    <h1 class="logo"><a href=""><img src="assets/images/logo.png" alt=""></a></h1>
	<h1 class="logo3"><a href=""><img src="assets/images/logo3.png" alt=""></a></h1>

    <div class="menu-btn clearfix">
      <span class="menu-name fs-14 ff-tnri color-white" style="font-size: 1.2em">{{ 'menu' | translate }}</span>
      <span class="menu-icon">
                <span>
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
      </span>
      <select class="menu-name fs-14 ff-tnri color-white" id="languages" #languageSelection (change)="OnChange(languageSelection.value)" >
        <option class="menu-name fs-14 ff-tnri color-white" *ngFor="let item of languageList" [selected]="item === currentLanguage">{{item}}</option>
      </select>

    </div>

  </div>

</header>

