<div class="container index-step" id="skrollr-body">
  <section class="section section-22 anchor-hd ec-bg1">
    <div class="wrapper pt270 pb210">
      <div class=" ta-c color-white clearfix block-reverse">
        <div class="col12-sm-6 ptl22-item pt20">
          <div class="ptl22-box">
            <div class="ptl22-txt Web-Wallet">
              <h3 class="fs-36 mb20 ta-l"><strong>{{"aelf Web Wallet" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"aelf Web Wallet-sum" | translate}}</p>
              <div class="col12-sm-4 ta-c color-white skrollable skrollable-between mb30 mt20"
                   data-bottom="transform:translate(0%, 30%); opacity:0;"
                   data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="meenu brow-f">
                  <span class="fs-14 brow"><img src="assets/images/wallet.svg" alt="">{{"Web Wallet" | translate}}</span>
                  <ul class="fs-14 clearfix">
                    <!-- <li style="width: inherit" ><a target="_blank" href="http://aelf-wallet-test.aelf.io"><p>{{"Main Chain AELF" | translate}}</p></a></li> -->
                    <li style="width: inherit" ><a target="_blank" href="https://web-wallet.aelf.io/"><p>{{"Main Chain AELF" | translate}}</p></a></li>
                    <li style="width: inherit; display: none" ><a target="_blank" href=" http://tdvv-wallet-test.aelf.io"><p>{{"Side Chain tDVV" | translate}}</p></a></li>
                    <!-- <li style="width: inherit" ><a target="_blank" href="http://tdvw-wallet-test.aelf.io"><p>{{"Side Chain tDVW" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href="http://tdvx-wallet-test.aelf.io"><p>{{"Side Chain tDVX" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href="http://tdvy-wallet-test.aelf.io"><p>{{"Side Chain tDVY" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href="http://tdvz-wallet-test.aelf.io"><p>{{"Side Chain tDVZ" | translate}}</p></a></li> -->
                  </ul>
                </div>
                <div class="fs-14 lh-28 clearfix skrollable skrollable-between test-net-buttons sm-hidden ta-l">
                  <p class="fs-14 mt10"><a target="_blank" class="color-27BFFF ordinary-link" [href]="currentLanguage === '中文' ? 'https://aelf-io.gitbook.io/aelf-web-wallet-zh/':'https://aelf-io.gitbook.io/aelf-web-wallet-en/'">{{"View Guideline" | translate}}</a></p>
                </div>
                <div class="fs-14 mt20 lh-28 clearfix lg-hidden">
                  <a target="_blank" class="color-27BFFF" [href]="currentLanguage === '中文' ? 'https://aelf-io.gitbook.io/aelf-web-wallet-zh/':'https://aelf-io.gitbook.io/aelf-web-wallet-en/'"><p class="fs-14 ordinary-btn">{{"View Guideline" | translate}}</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img style="max-height: 300px" src="assets/images/webwal1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-22 anchor-hd1 ec-bg1">
    <div class="cont wrapper pt100 pb60 bbbb">
      <div class="ta-c color-white clearfix vedio-size pb60 block-reverse"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36 pt80 ta-l" ><strong>{{"Asset Management" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"Web Wallet-Management" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img src="assets/images/webwal2.png" alt="">
          </div>
        </div>
      </div>
      <div class="ta-c color-white clearfix vedio-size pb60"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img  src="assets/images/webwal3.png" alt="">
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36  ta-l pt80"><strong>{{"Online Transactions" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"Fast transfers" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
