<div class="container index-step" id="skrollr-body">
  <section class="section section-22 anchor-hd ec-bg1">
    <div class="wrapper pt270 pb210">
      <div class=" ta-c color-white clearfix block-reverse">
        <div class="col12-sm-6 ptl22-item pt20">
          <div class="ptl22-box">
            <div class="ptl22-txt Web-Wallet">
              <h3 class="fs-36 mb20 ta-l"><strong>{{"aelf Web Wallet" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"aelf Web Wallet-sum" | translate}}</p>
              <div class="col12-sm-4 ta-c color-white skrollable skrollable-between mb30 mt20"
                   data-bottom="transform:translate(0%, 30%); opacity:0;"
                   data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="meenu brow-f">
                  <span class="fs-14 brow"><img src="assets/images/wallet.svg" alt="">{{"Web Wallet" | translate}}</span>
                  <ul class="fs-14 clearfix">
                    <li style="width: inherit" ><a target="_blank" href="http://aelf-wallet-test.aelf.io"><p>{{"Main Chain AELF" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href=" http://tdvv-wallet-test.aelf.io"><p>{{"Side Chain tDVV" | translate}}</p></a></li>
                    <!-- <li style="width: inherit" ><a target="_blank" href="http://tdvw-wallet-test.aelf.io"><p>{{"Side Chain tDVW" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href="http://tdvx-wallet-test.aelf.io"><p>{{"Side Chain tDVX" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href="http://tdvy-wallet-test.aelf.io"><p>{{"Side Chain tDVY" | translate}}</p></a></li>
                    <li style="width: inherit" ><a target="_blank" href="http://tdvz-wallet-test.aelf.io"><p>{{"Side Chain tDVZ" | translate}}</p></a></li> -->
                  </ul>
                </div>
                <div class="fs-14 lh-28 clearfix skrollable skrollable-between test-net-buttons sm-hidden ta-l">
                  <p class="fs-14 mt10"><a target="_blank" class="color-27BFFF ordinary-link" [href]="currentLanguage === '中文' ? 'https://aelf-io.gitbook.io/aelf-web-wallet-zh/':'https://aelf-io.gitbook.io/aelf-web-wallet-en/'">{{"View Guideline" | translate}}</a></p>
                </div>
                <div class="fs-14 mt20 lh-28 clearfix lg-hidden">
                  <a target="_blank" class="color-27BFFF" [href]="currentLanguage === '中文' ? 'https://aelf-io.gitbook.io/aelf-web-wallet-zh/':'https://aelf-io.gitbook.io/aelf-web-wallet-en/'"><p class="fs-14 ordinary-btn">{{"View Guideline" | translate}}</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img style="max-height: 300px" src="assets/images/webwal1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-22 anchor-hd1 ec-bg1">
    <div class="cont wrapper pt100 pb60 bbbb">
      <div class="ta-c color-white clearfix vedio-size pb60 block-reverse"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36 pt80 ta-l" ><strong>{{"Asset Management" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"Web Wallet-Management" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img src="assets/images/webwal2.png" alt="">
          </div>
        </div>
      </div>
      <div class="ta-c color-white clearfix vedio-size pb60"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img  src="assets/images/webwal3.png" alt="">
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36  ta-l pt80"><strong>{{"Online Transactions" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"Fast transfers" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="footer_bg">
  <footer class="footer">
    <div class="wrapper clearfix">
      <div class="color-white clearfix vedio-size mb30">
        <div class="col12-sm-5 ptl22-item">
          <div class="ptl22-box">
            <p class="mb50 foot-icon"><img src="assets/images/logo.svg" alt=""></p>
            <div class="fs-20 clearfix shares ">
                <span class="clearfix foot-bar">
                  <a target="_blank" href="mailto:hr@aelf.io"><i class="fa fa-envelope-o"></i></a>
                  <a href="http://www.youtube.com/c/aelfblockchain" target="_blank"><i
                    class="fa fa-youtube-play"></i></a>
                  <a href="https://www.facebook.com/aelfofficial/" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/aelfblockchain" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://github.com/aelfProject" target="_blank"><i class="fa fa-github"></i></a>
                  <a target="_blank" href="https://www.reddit.com/r/aelfofficial/"><i
                    class="fa fa-reddit-alien"></i></a>
                  <a href="https://www.linkedin.com/company/aelfblockchain/" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
                  <a href="https://t.me/aelfblockchain" class="weixin-img" target="_blank"><i
                    class="fa fa-send"></i></a>
                  <a href="https://medium.com/aelfblockchain" target="_blank"><i class="fa fa-medium"></i></a>
                  <a href="https://0.plus/aelf_chs" target="_blank" id="biyong"></a>
                </span>
            </div>
          </div>
        </div>
        <div class="col12-sm-7 ptl22-item foot-bat">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <p class="fs-13 lh-40em" style="font-weight: bold">{{"about-us" | translate}}</p>
              <a href="/app-about#team"><p class="fs-10 lh-30em">{{"team" | translate}}</p></a>
              <a target="_blank" href="mailto:hr@aelf.io"><p class="fs-10 lh-30em">{{"join-us" | translate}}</p></a>
            </div>
          </div>
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <p class="fs-13 lh-40em" style="font-weight: bold">{{"resources" | translate}}</p>
              <div [ngClass]="_fontFamlily.ffMy" [ngSwitch]="currentLanguage">
                <ng-template [ngSwitchCase]="languageList[0]">
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_economic_system_whitepaper_en_v1.0.pdf" class="fs-14 downbtn">
                    <p class="fs-10 lh-30em" style="white-space:nowrap">{{"economic&gover-w-p" | translate}}</p></a>
                </ng-template>
                <ng-template [ngSwitchCase]="languageList[1]">
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_economic_system_whitepaper_zh_v1.0.pdf" class="fs-14 downbtn">
                    <p class="fs-10 lh-30em" style="white-space:nowrap">{{"economic&gover-w-p" | translate}}</p></a>
                </ng-template>
                <ng-template [ngSwitchCase]="languageList[10]">
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_economic_system_whitepaper_TR_v1.0.pdf" class="fs-14 downbtn">
                    <p class="fs-10 lh-30em" style="white-space:nowrap">{{"economic&gover-w-p" | translate}}</p></a>
                </ng-template>
                <ng-template ngSwitchDefault>
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_economic_system_whitepaper_en_v1.0.pdf" class="fs-14 downbtn">
                    <p class="fs-10 lh-30em" style="white-space:nowrap">{{"economic&gover-w-p" | translate}}</p></a>
                </ng-template>
              </div>
              <div [ngClass]="_fontFamlily.ffMy"  [ngSwitch]="currentLanguage">
                <ng-template [ngSwitchCase]="languageList[0]">
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_whitepaper_EN.pdf?v=1.6" class="fs-14 downbtn"><p class="fs-10 lh-30em">{{"aelf-w-p" | translate}}</p></a>
                </ng-template>
                <ng-template [ngSwitchCase]="languageList[1]">
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_whitepaper_ZH.pdf?v=1" class="fs-14 downbtn"><p class="fs-10 lh-30em">{{"aelf-w-p" | translate}}</p></a>
                </ng-template>
                <ng-template ngSwitchDefault>
                  <a target="_blank" href="https://aelf.io/gridcn/aelf_whitepaper_EN.pdf?v=1" class="fs-14 downbtn"><p class="fs-10 lh-30em">{{"aelf-w-p" | translate}}</p></a>
                </ng-template>
              </div>


              <a target="_blank" href="https://aelf.io/gridcn/aelf_economic_system_whitepaper_zh_v1.0.pdf"></a>
            </div>
          </div>
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <p class="fs-13 lh-40em" style="font-weight: bold">{{"tools" | translate}}</p>
              <a href="/browser"><p class="fs-10 lh-30em">{{"explorer" | translate}}</p></a>
              <a href="/wallet"><p class="fs-10 lh-30em">{{"wallet-APP" | translate}}</p></a>
              <a href="/webwallet"><p class="fs-10 lh-30em">{{"web-Wallet" | translate}}</p></a>
              <a href="/plug"><p class="fs-10 lh-30em">{{"explorer-extension" | translate}}</p></a>
            </div>
          </div>
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <a><p class="fs-13 lh-40em" style="font-weight: bold">{{"devel" | translate}}</p></a>
              <a href="/developer"><p class="fs-10 lh-30em">{{"devel-center" | translate}}</p></a>
            </div>
          </div>
        </div>
      </div>
      <p class="fs-14 lh-30em color-white ta-c footer-border-top">Copyright © 2020
        ælf</p>
    </div>
  </footer>
</div>

