@import 'https://cdn.bootcss.com/jquery.perfect-scrollbar/0.8.0/css/perfect-scrollbar.min.css';
.ff-arial-zh,
.ff-cg-zh,
.ff-cgb-zh,
.ff-dbb-zh,
.ff-hnlt-zh,
.ff-my-zh,
.ff-ss-zh,
.ff-tnri-zh {
    font-family: Arial, "Times New Roman", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-arial-ja,
.ff-cg-ja,
.ff-cgb-ja,
.ff-dbb-ja,
.ff-hnlt-ja,
.ff-my-ja,
.ff-ss-ja,
.ff-tnri-ja {
    font-family: "MS PGothic", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light" !important;
}

.ff-ja {
    font-family: 'MS PGothic', Osaka, Arial, sans-serif !important;
}

.ff-arial-en {
    font-family: Arial, "Times New Roman", arial, SimSun, sans-serif, "Microsoft Yahei", "STHeiti Light"
}

.ff-my-en {
    font-family: Arial, "Times New Roman", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-tnri-en {
    font-family: TimesNewRomanItalic, SimSun, sans-serif, arial, "STHeiti Light"
}

.font-en-en {
    font-family: CenturyGothicBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-hnlt-en {
    font-family: HelveticaNeueLTProLt, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-dbb-en {
    font-family: DevilBreezeBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-cg-en {
    font-family: centurygothic, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-ss-en {
    font-family: SimSun, sans-serif, arial, "STHeiti Light"
}

.perfect-scrollbar-container {
    position: absolute;
    overflow: hidden;
    padding-right: 15px;
}

.active-header {
    /*background-color: rgba(105, 11, 177, .5);*/
}

.pie-content-width {
    width: 380px !important;
}

@media screen and (min-width: 2200px) {
    .col-ysg-2 {
        float: left;
        width: 16.66667%;
    }
}

.fix-bottom-right:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 1px;
    height: 30px;
    background-color: #27BFFF00;
    -webkit-transform: translate(0, -25px);
    -moz-transform: translate(0, -25px);
    -ms-transform: translate(0, -25px);
    transform: translate(0, -25px);
}

#biyong_a{
  padding: 0;
  background: none;
}
#biyong{
  background-size: contain;
  background: url("../assets/images/biyong.svg") round;
  height: 30px;
  width: 30px;
}

/*#biyong {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    background-size: cover;*/
/*    background: url("../assets/images/biyong.png") no-repeat;*/
/*}*/

#biyong:hover {
    background: url("../assets/images/biyong1.svg") round;
}

/* 2018.08.28 新增公告, 调整banner样式 */

.header-white {
    /*background-color: rgba(255,255,255, 0.2);*/
}

.aelf-notice {
    text-align: center;
    height: 30px;
    padding: 118px 18px 118px 18px;
    z-index: 3;
    position: relative;
    color: #FFF;
}

@media only screen and (max-width: 1024px) {
    .aelf-notice {
        padding: 68px 18px 118px 18px;
    }
}

.aelf-notice a:hover {
    color: #260a7f;
    cursor: pointer;
}

.aelf-notice-text {
    z-index: 102;
    width: 80%;
    max-width: 900px;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 18px;
    left: 50%;
    position: fixed;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: linear-gradient(120deg, #7713b4, #1b0160);
    color: #FFF;
    font-size: 14px;
    display: none;
}

.aelf-notice-title {
    font-size: 36px;
    text-align: center;
}

.aelf-notice-subtitle {
    font-size: 18px;
    text-align: center;
    padding: 3px 0 8px 0;
}

.aelf-notice-close {
    text-align: center;
    border-radius: 3px;
    border: 1px solid #eee;
    width: 100px;
    margin: 15px auto 0 auto;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

#test-net .test-net-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#test-net .test-net-button {
  width: 240px;
  height: 29px;
  line-height: 29px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #320675;
  cursor: pointer;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  min-width: 30%;
}

#test-net .test-net-button:hover {
  background-color: #5fbdf9;
  color: #ffffff;
}


@media only screen and (max-width: 600px) {
    .hide-small {
        display: none;
    }
    .aelf-notice-text {
        z-index: 102;
        width: 100%;
        max-width: 900px;
        border: 3px solid #fff;
        border-radius: 15px;
        padding: 18px;
        left: 0;
        position: fixed;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        background: linear-gradient(120deg, #7713b4, #1b0160);
        color: #FFF;
        font-size: 14px;
        display: none;
        overflow-y: scroll;
        height: 80%;
        top: 10%;
    }
}
#example-navbar-collapse{
  display: none;
}

.foot-bat{
  /*display: flex;*/
}
.foot-bat .ptl22-box{
  /*flex: 1;*/
  float: right;
}
.foot-bat .ptl22-txt{
  /*float: right;*/
}

@media only screen and (min-width: 1240px) {
  .foot-bat div:nth-child(4){
    margin-right: 18%;
  }
  .foot-bat div:nth-child(3){
    margin-right: 16%;
  }
  .foot-bat div:nth-child(2){
    margin-right: 10%;
  }
}

@media screen and (min-width:1030px) and (max-width:1240px) {
  .foot-bat div:nth-child(4){
    margin-right: 10%;
  }
  .foot-bat div:nth-child(3){
    margin-right: 6%;
  }
  .foot-bat div:nth-child(2){
    margin-right: 2%;
  }
}

@media screen and (max-width:1030px){
  .foot-bat{
    display: none!important;
  }
  .foot-icon{
    text-align: center;
    margin: 4px auto;
  }
  .foot-bar{
    display: flex;
    justify-content: center;
  }
  .foot-bar a{
    height: 19px;
    width:19px;
    line-height: 19px;
  }
  .shares span{
    margin:  0 auto;
  }
  .footer{
    padding: 20px 0 0;
  }
  #biyong_a{
    padding: 0;
    background: none;
  }
  #biyong{
    background-size: contain;
    background: url("../assets/images/biyong.svg") round;
    height: 19px;
    width: 19px;
  }

  #biyong:hover {
    background: url("../assets/images/biyong1.svg") round;
  }
  .foot-icon img{
    height: 20px;
  }
  .foot-icon{
    padding-bottom: 18px;
  }
  .footer .col12-sm-5{
    width: 100%;
  }
}

  .foot-bat div:nth-child(1){
  margin-right: 0;
}

.footer .col12-sm-6{padding: 0}

.foot-icon img{
  height: 42px;
}
.foot-bat .fs-10:hover{
  width: fit-content;
  /*border-bottom:1px solid #fff;*/
  text-decoration:underline;
}

#data-container {
  /*max-width: 1400px;*/
  /* background: url("../assets/images/bg-01.jpg"); */
  background: url("../assets/images/background.jpg");
  /*background: linear-gradient(120deg, #7713b4, #1b0160);*/
}

@media only screen and (max-width: 788px) {

  .other{
    display: none;
  }
}

.footer {
  max-width: 1920px;
  margin: 0 auto;
}

