<div class="fix-top">
  <header class="header clearfix" [ngClass]="headerActiveCssClass">
    <h1 class="logo"><a href=""><img src="assets/images/logo.jpg" alt=""></a></h1>
    <!-- <h1 class="logo3"><a href=""><img src="assets/images/logo3.png" alt=""></a></h1> -->
    <nav class="nav fs-20 sm-hidden index-pagination clearfix" style="font-weight:bold;">
      <ul class="clearfix">
        <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="index">{{"首页" | translate}}</a></li>
        <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="advan">{{"关于我们" | translate}}</a></li>
        <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="team">{{"团队" | translate}}</a></li>
        <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="team2">{{"顾问" | translate}}</a></li>
        <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="team3">{{"支持机构" | translate}}</a></li>
      </ul>
    </nav>
    <div class="other">
      <div [ngClass]="_fontFamlily.ffMy" class="lang color-white">
        <span class="fs-14"><em>{{currentLanguage}}</em><i class="fa fa-caret-down"></i></span>
        <ul class="fs-14 clearfix">
          <li *ngFor="let item of languageList" (click)="OnChange(item)">{{item}}</li>
        </ul>
      </div>
      <div [ngClass]="_fontFamlily.ffMy" class="btns">
        <a href="https://grid.hoopox.com/aelf_whitepaper_final4.pdf" class="fs-14"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
      </div>
    </div>
  </header>
</div>
<div class="fix-bottom-right sm-hidden">
  <div [ngClass]="_fontFamlily.ffArial" class="copys mb10">Copyright © 2017 ælf</div>
  <div class="shares fs-18 sm-hidden clearfix">
        <span class="clearfix">
          <a href="mailto:aelfblockchain@gmail.com"><i class="fa fa-envelope-o"></i></a>
          <a href="https://www.facebook.com/grid.blockchain.1" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/aelfblockchain" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://t.me/aelfblockchain" class="weixin-img" target="_blank"><i class="fa fa-send"></i></a>
          <a href=" https://www.reddit.com/user/aelf_blockchain/" target="_blank"><i class="fa fa-reddit-alien"></i></a>
          <a href="https://medium.com/@aelfblockchain" target="_blank"><i class="fa fa-medium"></i></a>
          <a href="https://github.com/aelfProject" target="_blank"><i class="fa fa-github"></i></a>
        </span>
  </div>
</div>
<div class="container index-step" id="skrollr-body">
  <section class="section section-1 anchor-bd" id="index">
    <div class="cont">
      <div class="earth">
        <!-- <div class="bg-img" style="background-image:url(assets/images/section-1-bg.png);"></div> -->
        <div class="earth-canvas">
          <div id="particles2"></div>
        </div>
      </div>
      <div class="txt color-white">
        <h2 class="fs-90 mb30">{{"去中心化云计算系统" | translate}}</h2>
        <div class="btn-video mb15">
          <a href=""><img src="assets/images/watch-video.png" alt=""></a>
        </div>
        <p [ngClass]="_fontFamlily.ffArial" class="fs-12"><strong>Video</strong></p>
      </div>
      <div [ngClass]="_fontFamlily.ffArial" class="scroll-down fs-14 color-white ta-c">
        <p class="mb10"><img src="assets/images/scroll-down.png" alt=""></p>
        <p class="fs-11">Scrolling mouse</p>
      </div>
    </div>
  </section>
  <section class="section section-22 anchor-hd" id="advan">
    <div class="cont pt200 pb200">
      <div class="grow pic-txt-list-22 ta-c color-white clearfix">
        <div class="gcol-sm-2 gcol-sm-ol-1 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-img mb80"><img src="assets/images/icon-9.png" alt=""></div>
            <div class="ptl22-txt">
              <h3 class="fs-48 mb20"><strong>{{"高性能" | translate}}</strong></h3>
              <p class="fs-22 lh-16em-3over">{{"ælf的全节点能够运行在服务器集群上" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="gcol-sm-2 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-img mb80"><img src="assets/images/icon-10.png" alt=""></div>
            <div class="ptl22-txt">
              <h3 class="fs-48 mb20"><strong>{{"资源隔离" | translate}}</strong></h3>
              <p class="fs-22 lh-16em-3over">{{"每一个智能合约拥有一条自己的区块链" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="gcol-sm-2 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-img mb80"><img src="assets/images/icon-11.png" alt=""></div>
            <div class="ptl22-txt">
              <h3 class="fs-48 mb20"><strong>{{"治理&发展" | translate}}</strong></h3>
              <p class="fs-22 lh-16em-3over">{{"代币持有人的委托票选制度" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-8 anchor-bd" id="team">
    <div class="cont pt200 pb200">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow team2 clearfix">
            <div class="gcol-tn-8 hidden pt30 mb30 tn-show mb30">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <p class="fs-34 mb15 color-white"><b>{{"团队" | translate}}</b></p>
            </div>
            <div class="gcol-1 gcol-ol-1 gcol-lg-1 gcol-sm-2 gcol-md-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <div class="team-pic"><img src="assets/images/face-1.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"马昊伯" | translate}}</b></h4>
                  <div class="fs-12 lh-16em-5over-noellipsis scroll-bd">{{ 'ælf创始人，好扑创始人兼CEO' | translate }}<br/>{{ '区块链行业专家，数字资产领域早期从业者' | translate }}<br/>{{ '曾任GemPay CTO、AllCoin CTO' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 50%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <div class="team-pic"><img src="assets/images/face-2.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"陈注伶" | translate}}</b></h4>
                  <div class="fs-12 lh-16em-5over-noellipsis scroll-bd">{{ '麻省理工毕业生' | translate }}<br/>{{ '多年全球顶级咨询公司经验' | translate }}<br/>{{ '参与跨国公司及政府的战略制订与推动' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 60%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <div class="team-pic"><img src="assets/images/face-5.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"傅理" | translate}}</b></h4>
                  <div class="fs-12 lh-16em-5over-noellipsis scroll-bd">{{"香港理工大学软件科技硕士, 开源社区KOL(id:xtaci), 资深互联网技术专家, 涉及通信网络, 地图导航, 手游等多个领域" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 70%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <div class="team-pic"><img src="assets/images/face-3.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"杨亚龙" | translate}}</b></h4>
                  <div class="fs-12 lh-16em-5over-noellipsis scroll-bd">{{"Monash大学PhD" | translate}}<br/>{{ '专攻地理空间和交易网络的数据可视化' | translate }}<br/>{{ '发表文章已被知名期刊收录' | translate }}</div>
                </div>
              </div>
            </div>
            <!--<div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">

              </div>
            </div>-->
            <div class="md-hidden gcol-1 gcol-lg-3 gcol-sm-2 gcol-md-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <p class="fs-34 mb15"><b>{{"团队" | translate}}</b></p>

                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
              </div>
            </div>
            <div class="hidden md-show tn-hidden gcol-1 gcol-lg-3 gcol-sm-2 gcol-md-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <p class="fs-34 mb15"><b>{{"团队" | translate}}</b></p>

                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
              </div>
            </div>
            <div class="hidden tn-show gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 ta-c team-item skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-8 anchor-bd" id="team2">
    <div class="cont pt200 pb200">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow team2 clearfix">
            <div class="gcol-tn-8 hidden pt30 mb30 tn-show mb30">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <p class="fs-34 mb15 color-white"><b>{{"顾问" | translate}}</b></p>
            </div>
            <div class="gcol-1 gcol-ol-1 gcol-lg-1 gcol-sm-2 gcol-md-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <div class="team-pic"><img src="assets/images/face-6.jpg" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"Liam Robertson" | translate}}</b></h4>
                  <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                    <div class="fs-12 scroll-bd">{{ '特许金融分析师，特许另类投资分析师' | translate }}<br/>{{ 'Liam是欧洲和中东地区最大的个人和公司交易商之一。作为英国的认证投资经理，他在2016年成立了世界上第一个合规加密货币对冲基金。作为Alphabit的创始人和首席执行官，Liam现在为一些基金，家族企业和突破性区块链企业提供咨询服务。' | translate }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 50%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <div class="team-pic"><img src="assets/images/face-4.png" alt=""></div>
                <div class="team-txt pl45 pr45">
                  <h4 class="fs-18 mb20"><b>{{"周硕基" | translate}}</b></h4>
                  <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                    <div class="fs-12  scroll-bd">{{"FBGCapital 创始合伙人，在数字资产交易和投资方面拥有丰富的经验。他同时是一系列区块链企业和项目的早期投资人，被视为亚洲最成熟、富有远见的加密对冲基金领导人。" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 60%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
              </div>
            </div>
            <div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 70%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
              </div>
            </div>
            <div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
              </div>
            </div>-->
            <div class="md-hidden gcol-1 gcol-lg-3 gcol-sm-2 gcol-md-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <p class="fs-34 mb15"><b>{{"顾问" | translate}}</b></p>

                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
              </div>
            </div>
            <div class="hidden md-show tn-hidden gcol-1 gcol-lg-3 gcol-sm-2 gcol-md-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <p class="fs-34 mb15"><b>{{"顾问" | translate}}</b></p>

                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
              </div>
            </div>
            <div class="hidden tn-show gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 ta-c team-item skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">
                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-8 anchor-bd" id="team3">
    <div class="cont pt200 pb200">
      <div class="bigTitle fs-34 ta-c mb45 color-white skrollable skrollable-between" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">{{"支持机构" | translate}}</div>
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow team3 clearfix">
            <div class="gcol-lg-ol-1 gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="assets/images/partner-5.png" alt=""></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="assets/images/partner-2.png" alt=""></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="assets/images/partner-6.jpg" alt=""></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="" alt=""></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="" alt=""></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="" alt=""></div>
            </div>


            <div class="gcol-lg-ol-1 gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="" alt=""></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-2 gcol-tn-4 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic"><img src="" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer pt65 pb65 ta-c">
  <div class="wrapper clearfix">
    <p class="mb30"><img src="assets/images/logo2.jpg" alt=""></p>
    <div class="fs-20 clearfix shares mb30">
            <span class="clearfix">
              <a href="mailto:aelfblockchain@gmail.com"><i class="fa fa-envelope-o"></i></a>
              <a href="https://www.facebook.com/grid.blockchain.1" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/aelfblockchain" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://t.me/aelfblockchain" class="weixin-img" target="_blank"><i class="fa fa-send"></i></a>
              <a href=" https://www.reddit.com/user/aelf_blockchain/" target="_blank"><i class="fa fa-reddit-alien"></i></a>
              <a href="https://medium.com/@aelfblockchain" target="_blank"><i class="fa fa-medium"></i></a>
              <a href="https://github.com/aelfProject" target="_blank"><i class="fa fa-github"></i></a>
            </span>
    </div>
    <p class="fs-12 lh-20em color-999999">Copyright © 2017 ælf</p>
  </div>
</footer>
