@import 'https://cdn.bootcss.com/jquery.perfect-scrollbar/0.8.0/css/perfect-scrollbar.min.css';

.ff-arial-zh, .ff-cg-zh, .ff-cgb-zh, .ff-dbb-zh, .ff-hnlt-zh, .ff-my-zh, .ff-ss-zh, .ff-tnri-zh {
  font-family: "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-arial-ja, .ff-cg-ja, .ff-cgb-ja, .ff-dbb-ja, .ff-hnlt-ja, .ff-my-ja, .ff-ss-ja, .ff-tnri-ja {
  font-family:  "MS PGothic", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light" !important;
}

.ff-ja {
  font-family: 'MS PGothic', Osaka, Arial, sans-serif !important;
}

.ff-arial-en {
  font-family: arial, SimSun, sans-serif, "Microsoft Yahei", "STHeiti Light"
}

.ff-my-en {
  font-family: "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-tnri-en {
  font-family: TimesNewRomanItalic, SimSun, sans-serif, arial, "STHeiti Light"
}

.font-en-en {
  font-family: CenturyGothicBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-hnlt-en {
  font-family: HelveticaNeueLTProLt, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-dbb-en {
  font-family: DevilBreezeBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-cg-en {
  font-family: centurygothic, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-ss-en {
  font-family: SimSun, sans-serif, arial, "STHeiti Light"
}

.perfect-scrollbar-container {
  position: absolute;
  overflow: hidden;
  padding-right: 15px;

}

.active-header {
  background-color: rgba(105,11,177,.5);
}

