<div class="fix-top">
    <header class="header clearfix" [ngClass]="headerActiveCssClass">
        <h1 class="logo">
            <a href=""><img src="assets/images/logo.jpg" alt=""></a>
        </h1>
        <!-- <h1 class="logo3"><a href=""><img src="assets/images/logo3.png" alt=""></a></h1> -->
        <nav class="nav fs-20 sm-hidden index-pagination clearfix" style="font-weight:bold;">
            <ul class="clearfix">
                <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="index">{{"首页" | translate}}</a></li>
                <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="advan">{{"关于我们" | translate}}</a></li>
                <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="team">{{"团队" | translate}}</a></li>
                <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="team2">{{"顾问" | translate}}</a></li>
                <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="team3">{{"投资机构" | translate}}</a></li>
                <li><a href="javascript:void(0);" class="anchor-hd" data-anchor="exchange">{{"交易所" | translate}}</a></li>
                <li><a href="https://medium.com/@aelfblockchain" target="_blank" class="anchor-hd">{{"博客" | translate}}</a></li>
              <!--<li><a href="javascript:void(0);" class="anchor-hd" data-anchor="token_allocation">{{"代币分配" | translate}}</a></li>-->
              <!--<li><a href="javascript:void(0);" class="anchor-hd" data-anchor="news">{{"新闻" | translate}}</a></li>-->
            </ul>
        </nav>
        <div class="other">
            <div [ngClass]="_fontFamlily.ffMy" class="lang color-white">
                <span class="fs-14"><em>{{currentLanguage}}</em><i class="fa fa-caret-down"></i></span>
                <ul class="fs-14 clearfix">
                    <li *ngFor="let item of languageList" (click)="OnChange(item)">{{item}}</li>
                </ul>
            </div>
            <div [ngClass]="_fontFamlily.ffMy" class="btns" [ngSwitch]="currentLanguage">
              <ng-template [ngSwitchCase]="languageList[0]">
                <a href="https://grid.hoopox.com/aelf_whitepaper_EN_v1.5%20.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
              <ng-template [ngSwitchCase]="languageList[1]">
                <a href="https://grid.hoopox.com/Aelf%E7%99%BD%E7%9A%AE%E4%B9%A6%E4%B8%AD%E6%96%87v1.2.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
              <ng-template [ngSwitchCase]="languageList[2]">
                <a href="https://grid.hoopox.com/aelf_whitepaper_v1.2_Japanese.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
              <ng-template [ngSwitchCase]="languageList[3]">
                <a href="https://grid.hoopox.com/%C3%A6lf_whitepaper_v1.2_Korean.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
              <ng-template [ngSwitchCase]="languageList[4]">
                <a href="https://grid.hoopox.com/aelf_whitepaper_v1.2_french.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
              <ng-template [ngSwitchCase]="languageList[5]">
                <a href="https://grid.hoopox.com/aelf_whitepaper_v1.2_Deutsch.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
              <ng-template ngSwitchDefault>
                <a href="https://grid.hoopox.com/aelf_whitepaper_EN_v1.5%20.pdf" class="fs-14 downbtn"><em><img src="assets/images/icon-8.png" alt=""></em> <span>{{"白皮书" | translate}}</span></a>
              </ng-template>
            </div>
        </div>
    </header>
</div>
<div class="fix-bottom-right sm-hidden">
    <div [ngClass]="_fontFamlily.ffArial" class="copys mb10">Copyright © 2017 ælf</div>
    <div class="shares fs-18 sm-hidden clearfix">
        <span class="clearfix">
          <a href="mailto:contact@aelf.io"><i class="fa fa-envelope-o"></i></a>
          <a href="https://www.facebook.com/aelfio/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/aelfblockchain" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://t.me/aelfblockchain" class="weixin-img" target="_blank"><i class="fa fa-send"></i></a>
          <a href="https://www.reddit.com/r/aelfofficial/" target="_blank"><i class="fa fa-reddit-alien"></i></a>
          <a href="https://medium.com/@aelfblockchain" target="_blank"><i class="fa fa-medium"></i></a>
          <a href="https://github.com/aelfProject" target="_blank"><i class="fa fa-github"></i></a>
        </span>
    </div>
</div>
<div class="container index-step" id="skrollr-body">
    <section class="section section-1 anchor-bd" id="index">
        <div class="cont">
            <div class="earth">
                <!--<div class="webgl bg-img" style="background-image:url(assets/images/section-1-bg.png);"></div>-->
                <div class="earth-canvas">
                    <div id="particles2"></div>
                </div>
            </div>
            <div class="txt color-white">
                <h2 class="fs-90 mb30">{{"去中心化云计算区块链网络" | translate}}</h2>
                <div class="btn btn-video mb15">
                    <div class="video-play" [ngSwitch]="currentLanguage">
                      <ng-template [ngSwitchCase]="languageList[0]">
                        <a href="https://grid.hoopox.com/aelf%20presentation-EN.pdf"><img src="assets/images/watch-video.png" alt=""></a>
                      </ng-template>
                      <ng-template [ngSwitchCase]="languageList[1]">
                        <a href="https://grid.hoopox.com/aelf%20presentation-CN.pdf"><img src="assets/images/watch-video.png" alt=""></a>
                      </ng-template>
                      <ng-template [ngSwitchCase]="languageList[2]">
                        <a href="https://grid.hoopox.com/aelf%20presentation-EN.pdf"><img src="assets/images/watch-video.png" alt=""></a>
                      </ng-template>
                      <ng-template [ngSwitchCase]="languageList[3]">
                        <a href="https://grid.hoopox.com/aelf%20presentation-EN.pdf"><img src="assets/images/watch-video.png" alt=""></a>
                      </ng-template>
                      <ng-template [ngSwitchCase]="languageList[4]">
                        <a href="https://grid.hoopox.com/aelf%20presentation-EN.pdf"><img src="assets/images/watch-video.png" alt=""></a>
                      </ng-template>
                      <ng-template ngSwitchDefault>
                        <a href="https://grid.hoopox.com/aelf%20presentation-EN.pdf"><img src="assets/images/watch-video.png" alt=""></a>
                      </ng-template>
                    </div>
                </div>
                <p [ngClass]="_fontFamlily.ffArial" class="fs-12"><strong>About</strong></p>
            </div>
            <div [ngClass]="_fontFamlily.ffArial" class="scroll-down fs-14 color-white ta-c">
                <p class="mb10"><img src="assets/images/scroll-down.png" alt=""></p>
                <p class="fs-11">Scrolling mouse</p>
            </div>
        </div>
    </section>
    <section class="section section-22 anchor-hd" id="advan">
        <div class="cont pt200 pb200">
            <div class="grow pic-txt-list-22 ta-c color-white clearfix">
                <div class="col12-sm-4 ptl22-item">
                    <div class="ptl22-box">
                        <div class="ptl22-img mb80"><img src="assets/images/icon-9.png" alt=""></div>
                        <div class="ptl22-txt">
                            <h3 class="fs-48 mb20"><strong>{{"高性能" | translate}}</strong></h3>
                            <p class="fs-22 lh-16em-3over">{{"ælf的全节点能够运行在服务器集群上" | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col12-sm-4 ptl22-item">
                    <div class="ptl22-box">
                        <div class="ptl22-img mb80"><img src="assets/images/icon-10.png" alt=""></div>
                        <div class="ptl22-txt">
                            <h3 class="fs-48 mb20"><strong>{{"资源隔离" | translate}}</strong></h3>
                            <p class="fs-22 lh-16em-3over">{{"每一个智能合约拥有一条自己的区块链" | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col12-sm-4 ptl22-item">
                    <div class="ptl22-box">
                        <div class="ptl22-img mb80"><img src="assets/images/icon-11.png" alt=""></div>
                        <div class="ptl22-txt">
                            <h3 class="fs-48 mb20"><strong>{{"治理&发展" | translate}}</strong></h3>
                            <p class="fs-22 lh-16em-3over">{{"代币持有人的委托票选制度" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-8 anchor-bd" id="team">
        <div class="cont pt200 pb200">
            <div class="txt">
                <div class="wrapper clearfix">
                    <div class="grow team2 clearfix">
                        <div class="col12-tn-12 hidden ta-c pt30 mb30 tn-show mb30">
                            <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
                            <p class="fs-34 mb15 color-white"><b>{{"团队" | translate}}</b></p>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <div class="team-pic"><img src="assets/images/face-1.png" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"马昊伯" | translate}}</b></h4>
                                    <div class="fs-12 lh-16em">{{ 'ælf创始人，好扑创始人兼CEO' | translate }}<br/>{{ '区块链行业专家，数字资产领域早期从业者' | translate }}<br/>{{ '曾任GemPay CTO、AllCoin CTO' | translate }}<br/>{{ '现任中国电子协会区块链专家委员会委员' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 50%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <div class="team-pic"><img src="assets/images/face-2.png" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"陈注伶" | translate}}</b></h4>
                                    <div class="fs-12 lh-16em">{{ '麻省理工毕业生' | translate }}<br/>{{ '多年全球顶级咨询公司经验' | translate }}<br/>{{ '参与跨国公司及政府的战略制订与推动' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 60%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <div class="team-pic"><img src="assets/images/face-5.png" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"傅理" | translate}}</b></h4>
                                    <div class="fs-12 lh-16em">{{"香港理工大学软件科技硕士, 开源社区KOL(id:xtaci), 资深互联网技术专家, 涉及通信网络, 地图导航, 手游等多个领域" | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 70%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <div class="team-pic"><img src="assets/images/face-3.png" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"杨亚龙" | translate}}</b></h4>
                                    <div class="fs-12 lh-16em">{{"Monash大学PhD" | translate}}<br/>{{ '专攻地理空间和交易网络的数据可视化' | translate }}<br/>{{ '发表文章已被知名期刊收录' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-box clearfix">

              </div>
            </div>-->
                        <div class="md-hidden col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <p class="fs-34 mb15"><b>{{"团队" | translate}}</b></p>

                                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
                            </div>
                        </div>
                        <div class="hidden md-show tn-hidden col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <p class="fs-34 mb15"><b>{{"团队" | translate}}</b></p>

                                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
                            </div>
                        </div>
                        <div class="hidden tn-show col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 ta-c team-item skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h360 clearfix">
                                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-8 anchor-bd" id="team2">
        <div class="cont pt200 pb200">
            <div class="txt">
                <div class="wrapper clearfix">
                    <div class="grow team2 clearfix">
                        <div class="col12-tn-12 hidden ta-c pt30 mb30 tn-show mb30">
                            <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
                            <p class="fs-34 mb15 color-white"><b>{{"顾问" | translate}}</b></p>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h400 clearfix">
                                <div class="team-pic"><img src="assets/images/face-6.png" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"Liam Robertson" | translate}}</b></h4>
                                    <div class="fs-12 lh-16em">{{ '特许金融分析师，特许另类投资分析师' | translate }}<br/>{{ 'Liam是欧洲和中东地区最大的个人和公司交易商之一。作为英国的认证投资经理，他在2016年成立了世界上第一个合规加密货币对冲基金。作为Alphabit的创始人和首席执行官，Liam现在为一些基金，家族企业和突破性区块链企业提供咨询服务。' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 50%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h400 clearfix">
                                <div class="team-pic"><img src="assets/images/face-4.png" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"周硕基" | translate}}</b></h4>
                                    <div class="fs-12  lh-16em">{{"FBGCapital 创始合伙人，在数字资产交易和投资方面拥有丰富的经验。他同时是一系列区块链企业和项目的早期投资人，被视为亚洲最成熟、富有远见的加密对冲基金领导人。" | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 50%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h400 clearfix">
                                <div class="team-pic"><img src="assets/images/face-7.jpg" alt=""></div>
                                <div class="team-txt pl45 pr45">
                                    <h4 class="fs-18 mb20"><b>{{"Kenneth Oh" | translate}}</b></h4>
                                    <div class="fs-12  lh-16em">{{"Dentons Rodyk＆Davidson 中国/印度尼西亚分公司的高级合伙人。 精通企业融资，在风险投资，私募股权，IPO/代币销售，IPO/代币销售融资后期以及并购方面拥有近二十年的丰富经验。" | translate}}</div>
                                </div>
                            </div>
                        </div>
                      <div class="col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 50%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-box h400 clearfix">
                          <div class="team-pic"><img src="assets/images/face-8.png" alt=""></div>
                          <div class="team-txt pl45 pr45">
                            <h4 class="fs-18 mb20"><b>{{"J. Michael Arrington" | translate}}</b></h4>
                            <div class="fs-12  lh-16em">{{"TechCrunch创始人兼首席执行官，RealNames副总裁，Achex的联合创始人，Zip.ca和Pool.com的创始人，Razorgator的首席运营官。曾为Verisign等众多企业提供咨询服务。2008年5月，曾被《时代》评选为全球最具影响力100人之一。" | translate}}</div>
                          </div>
                        </div>
                      </div>
                        <div class="md-hidden col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h400 clearfix">
                                <p class="fs-34 mb15"><b>{{"顾问" | translate}}</b></p>

                                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
                            </div>
                        </div>
                        <div class="hidden md-show tn-hidden col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 team-item ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 40%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h400 clearfix">
                                <p class="fs-34 mb15"><b>{{"顾问" | translate}}</b></p>

                                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
                            </div>
                        </div>
                        <div class="hidden tn-show col12-gt-2 col12-md-3 col12-sm-4 col12-tn-12 ta-c team-item skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 80%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                            <div class="team-box h400 clearfix">
                                <a href="" class="more clearfix"><span class="add-btn3"><i></i><i></i></span> <span>{{"更多" | translate}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-8 anchor-bd" id="team3">
        <div class="cont pt200 pb200">
            <div class="bigTitle fs-34 ta-c mb45 color-white skrollable skrollable-between" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;"><b>{{"投资机构" | translate}}</b></div>
            <div class="txt">
                <div class="wrapper clearfix">
                    <div class="grow team3 clearfix">
                      <div class="col12-lg-ol-1 col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="https://www.fbg.capital/" target="_blank"><img src="assets/images/partner-fbg.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.alphabit.fund/" target="_blank"><img src="assets/images/partner-alphabit.jpg" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <img src="assets/images/partner-galaxy.png" alt="">
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.nodecap.com/" target="_blank"><img src="assets/images/partner-node.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.bven.co/" target="_blank"><img src="assets/images/partner-blockchain-ventures.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-ol-1 col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="https://blocktower.com/" target="_blank"><img src="assets/images/partner-blocktower.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <img src="assets/images/partner-chain-funder.png" alt="">
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.collinstar.com/" target="_blank"><img src="assets/images/partner-collinstar.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.danhuacap.com/" target="_blank"><img src="assets/images/partner-dhvc.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://draperdragon.com/" target="_blank"><img src="assets/images/partner-dragon.jpg" alt=""></a>
                        </div>
                      </div>

                      <div class="col12-lg-ol-1 col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="https://www.hashed.com/" target="_blank"><img src="assets/images/partner-hashed.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://hyperchain.capital/" target="_blank"><img src="assets/images/partner-hyperchain.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <img src="assets/images/partner-jlab.png" alt="">
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <img src="assets/images/partner-1kx.png" alt="">
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.linkvc.com/" target="_blank"><img src="assets/images/partner-linkvc.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-ol-1 col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <a href="http://www.signum.capital/" target="_blank"><img src="assets/images/partner-signum.png" alt=""></a>
                        </div>
                      </div>
                      <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                        <div class="team-pic">
                          <img src="assets/images/partner-d.png" alt="">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <section class="section section-8 anchor-bd" id="exchange">
    <div class="cont pt200 pb200">
      <div class="bigTitle fs-34 ta-c mb45 color-white skrollable skrollable-between" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;"><b>{{"交易所" | translate}}</b></div>
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow team3 clearfix">
              <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
                  <div class="team-pic">
                    <a href="https://www.bitfinex.com/" target="_blank"><img src="assets/images/partner-bitfinex.png" alt=""></a>
                  </div>
                </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.binance.com/" target="_blank"><img src="assets/images/partner-binance.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.okex.com/" target="_blank"><img src="assets/images/partner-okcoin.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.huobi.pro/" target="_blank"><img src="assets/images/partner-huobi.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://cex.com/" target="_blank"><img src="assets/images/partner-cex.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bcex.ca/coins" target="_blank"><img src="assets/images/partner-bcex.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bibox.com/" target="_blank"><img src="assets/images/partner-bibox.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://gate.io/" target="_blank"><img src="assets/images/partner-gate.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://kkex.com/" target="_blank"><img src="assets/images/partner-kkex.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://big.one/" target="_blank"><img src="assets/images/partner-bigone.png" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
            <div class="team-pic">
              <a href="https://otcbtc.com/" target="_blank"><img src="assets/images/partner-otcbtc.png" alt=""></a>
            </div>
          </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.hypex.io/" target="_blank"><img src="assets/images/partner-hypex.jpg" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.gopax.co.kr/" target="_blank"><img src="assets/images/partner-gopax.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--<section class="section section-12 anchor-bd" id="news">
    <div class="cont pt100 pb100">
      <div class="bigTitle fs-34 ta-c mb45 color-white skrollable skrollable-between" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">Development Roadmap</div>
      <div class="txt grow clearfix">
        <div class="col12-gt-8 col12-gt-ol-2 clearfix">
          <div class="time-list">
            <ul class="clearfix">
              <li class="mb25 clearfix">
                <div class="icon"><i><img src="assets/images/icon-13.png" alt=""></i></div>
                <div class="date ff-cgb">
                  <em class="fs-72 lh-10em">01</em>
                  <span class="fs-16">2019</span>
                </div>
                <div class="title">
                  <h3 class="fs-24 lh-12em"><a href="https://github.com/AElfProject/AElf" target="_blank">Ready To Launch</a></h3>
                  <p class="fs16 lh-14em mt10">
                    1. Code optimization before mainnet launching.<br/>
                    2. Code review, pre-releases.<br/>
                    3. Business case battle test.
                  </p>
                </div>
              </li>
              <li class="mb25 clearfix">
                <div class="icon"><i><img src="assets/images/icon-12.png" alt=""></i></div>
                <div class="date ff-cgb">
                  <em class="fs-72 lh-10em">08</em>
                  <span class="fs-16">2018</span>
                </div>
                <div class="title">
                  <h3 class="fs-24 lh-12em"><a href="https://github.com/AElfProject/AElf" target="_blank">Governance</a></h3>
                  <p class="fs16 lh-14em mt10">
                    1. Voting mechanism for sidechain join/leave<br/>
                    2. Voting mechanism for emergency treatment
                  </p>
                </div>
              </li>
              <li class="mb25 clearfix">
                <div class="icon"><i><img src="assets/images/icon-13.png" alt=""></i></div>
                <div class="date ff-cgb">
                  <em class="fs-72 lh-10em">05</em>
                  <span class="fs-16">2018</span>
                </div>
                <div class="title">
                  <h3 class="fs-24 lh-12em"><a href="https://github.com/AElfProject/AElf" target="_blank">The Main Chain</a></h3>
                  <p class="fs-16 lh-14em mt10">
                    1. Crosschain，two-way peg, merkle proofs.<br/>
                    2. Event trigger from one sidechain to another a.k.a cross chain interoperability.
                  </p>
                </div>
              </li>
              <li class="mb25 clearfix">
                <div class="icon"><i><img src="assets/images/icon-12.png" alt=""></i></div>
                <div class="date ff-cgb">
                  <em class="fs-72 lh-10em">05</em>
                  <span class="fs-16">2018</span>
                </div>
                <div class="title">
                  <h3 class="fs-24 lh-12em"><a href="https://github.com/AElfProject/AElf" target="_blank">A Tale Between Two Nodes</a></h3>
                  <p class="fs16 lh-14em mt10">
                    1. tx_pool/mem_pool design.<br/>
                    2. Basic block in-memory construct, eg: merkletree, block header, transactions, statsdb, caching.<br/>
                    3. Wire protocol for inter-ledger block/tx transfering.<br/>
                    4. DPoS implementation, hashing, mining.<br/>
                    5. Block validator, crypto related algorithms, e.g. signing, hmac.<br/>
                    6. p2p discovery/communication.
                  </p>
                </div>
              </li>
              <li class="mb25 clearfix">
                <div class="icon"><i><img src="assets/images/icon-12.png" alt=""></i></div>
                <div class="date ff-cgb">
                  <em class="fs-72 lh-10em">03</em>
                  <span class="fs-16">2018</span>
                </div>
                <div class="title">
                  <h3 class="fs-24 lh-12em"><a href="https://github.com/AElfProject/AElf" target="_blank">The Internal Affair Of The Wonderland</a></h3>
                  <p class="fs-16 lh-14em mt10">
                    1. Graph-based scheduler algorithm implementation. <br />
                    2. Tagged primitive resource Data-Structure, the basic element for resource isolation.<br />
                    3. In-cluster wire protocol (data/task marshal/unmarshal).<br />
                    4. Actor (e.g. akka) based task distribution inside a single cluster/ledger.<br />
                    5. Contract as demostration of concurrent execution.
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="btns pt50 ta-c clearfix">
            <div class="btn"><i class="icon-down"><img src="assets/images/arrow_01.png" alt=""></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
    <!--<section class="section section-11 anchor-bd" id="news">
    <div class="cont pt100 pb100">
      <div class="bigTitle fs-34 ta-c mb45 color-white skrollable skrollable-between" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;"><b>{{"新闻" | translate}}</b></div>
      <div class="txt">
        <div class="grow news-list clearfix">
          <div class="col12-sm-4 news-item clearfix" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
            <div class="news-box">
              <div class="date mb30 color-white">
                <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-72 lh-10em">28</h3>
                <p class="fs-14"><b>2017.11</b></p>
              </div>
              <div class="pic mb30"><div class="bg-img" style="background-image: url(assets/images/Blog-1.jpg);"></div></div>
              <div class="txt color-white mb35">
                <h3 class="fs-30 lh-12em-2over mb20"><a href="https://medium.com/@aelfblockchain/%C3%A6lf-announces-its-plan-for-a-blockhain-central-business-district-52b7bfbcc830" target="_blank" class="link-2"><b>ælf Announces Its Plan for a Blockhain ‘Central Business District’</b></a></h3>
                <p class="fs-14 color-white lh-15em-4over">28th November 2017, NEW YORK — In front of a packed audience at Consensus Invest 2017, ælf (http://aelf.io/) Co-founder Zhuling Chen presented their plan to unleash commercial values on a performant multi-layer blockchain system. The vision is to establish a “Central Business District” where different industry applications have dedicated chains to serve their needs.</p>
              </div>
              <div class="more">
                <a href="https://medium.com/@aelfblockchain/%C3%A6lf-announces-its-plan-for-a-blockhain-central-business-district-52b7bfbcc830" target="_blank" class="btn btn-h46 btn-circle btn-style-5 icon-hover"><i class="icon-arrow icon-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col12-sm-4 news-item clearfix" data-bottom="transform:translate(0%, 60%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
            <div class="news-box">
              <div class="date mb30 color-white">
                <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-72 lh-10em">24</h3>
                <p class="fs-14"><b>2017.11</b></p>
              </div>
              <div class="pic mb30"><div class="bg-img" style="background-image: url(assets/images/Blog-2.jpeg);"></div></div>
              <div class="txt color-white mb35">
                <h3 class="fs-30 lh-12em-2over mb20"><a href="https://medium.com/@aelfblockchain/announcement-we-rename-grid-to-%C3%A6lf-7d4dbf9c4fff" target="_blank" class="link-2"><b>Announcement: we rename Grid to ælf !</b></a></h3>
                <p class="fs-14 color-white lh-15em-4over">Grid, initiated by the non-profit organization Grid Foundation in Singapore, announced it changes its project name to to ælf and its official logo and website accordingly. We have encountered many confusions caused by the coincidental similarities of our name Grid and the other project called Grid+. To avoid future misunderstandings, we have decided to adopt the name ælf, in line with the features of our project. An ælf is indicative of similar speciality of our design in the power of the cluster computing and the flexibility of the multi-chain structure.</p>
              </div>
              <div class="more">
                <a href="https://medium.com/@aelfblockchain/announcement-we-rename-grid-to-%C3%A6lf-7d4dbf9c4fff" target="_blank" class="btn btn-h46 btn-circle btn-style-5 icon-hover"><i class="icon-arrow icon-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col12-sm-4 news-item clearfix" data-bottom="transform:translate(0%, 90%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
            <div class="news-box">
              <div class="date mb30 color-white">
                <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-72 lh-10em">18</h3>
                <p class="fs-14"><b>2017.11</b></p>
              </div>
              <div class="pic mb30"><div class="bg-img" style="background-image: url(assets/images/Blog-3.jpg);"></div></div>
              <div class="txt color-white mb35">
                <h3 class="fs-30 lh-12em-2over mb20"><a href="https://medium.com/@aelfblockchain/we-are-a-different-animal-from-polkadot-91d81deb09db" target="_blank" class="link-2"><b>We Are A DIFFERENT Animal from Polkadot</b></a></h3>
                <p class="fs-14 color-white lh-15em-4over">We have been asked by this question since the beginning. We believe it is necessary to present a straightforward answer: no, Polkadot and Grid are two different ideas.</p>
              </div>
              <div class="more">
                <a href="https://medium.com/@aelfblockchain/we-are-a-different-animal-from-polkadot-91d81deb09db" target="_blank" class="btn btn-h46 btn-circle btn-style-5 icon-hover"><i class="icon-arrow icon-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <section class="section section-13 anchor-bd" id="token_allocation">
    <div class="cont">
      <div class="txt">
        <!--<div class="data-chart-parent"><div class="bd"><div class="chart" id="data-chart"></div></div></div>-->
        <div class="chart fs-18 ff-arial" id="data-chart">
          <div class="img"><img src="assets/images/data.png" alt=""></div>
          <div class="chart-item clearfix">
            <i></i>
            <h3 class="fs-24"><span>Marketing/AirDrop</span></h3>
            <p class="pie-content-width">{{"前三年内使用，用于提高社区的活跃度。" | translate}}</p>
          </div>
          <div class="chart-item clearfix">
            <i></i>
            <h3 class="fs-24"><span>Sale</span></h3>
            <p class="pie-content-width">{{"全部以私募方式出售，没有锁定期。" | translate}}</p>
          </div>
          <div class="chart-item clearfix">
            <i></i>
            <h3 class="fs-24"><span>Foundation</span></h3>
            <p class="pie-content-width">{{"锁定三年，用于构建ælf生态、支持ælf运营以及支持基于ælf的项目的开发和运营。" | translate}}</p>
          </div>
          <div class="chart-item clearfix">
            <i></i>
            <h3 class="fs-24"><span>PoW+PoS</span></h3>
            <p class="pie-content-width">{{"持续100年，挖矿奖励每年度线性递减。" | translate}}</p>
          </div>
          <div class="chart-item clearfix">
            <i></i>
            <h3 class="fs-24"><span>Team</span></h3>
            <p class="pie-content-width">{{"团队代币锁定两年，每半年按等比例释放代币。" | translate}}</p>
          </div>
          <div class="chart-item clearfix">
            <i></i>
            <h3 class="fs-24"><span>Advisors+partnership</span></h3>
            <p class="pie-content-width">{{"代币将锁定两年，每半年按等比例释放代币。" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer pt65 pb65 ta-c">
    <div class="wrapper clearfix">
        <p class="mb30"><img src="assets/images/logo2.jpg" alt=""></p>
        <div class="fs-20 clearfix shares mb30">
            <span class="clearfix">
              <a href="mailto:contact@aelf.io"><i class="fa fa-envelope-o"></i></a>
              <a href="https://www.facebook.com/aelfio/" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/aelfblockchain" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://t.me/aelfblockchain" class="weixin-img" target="_blank"><i class="fa fa-send"></i></a>
              <a href="https://www.reddit.com/r/aelfofficial/" target="_blank"><i class="fa fa-reddit-alien"></i></a>
              <a href="https://medium.com/@aelfblockchain" target="_blank"><i class="fa fa-medium"></i></a>
              <a href="https://github.com/aelfProject" target="_blank"><i class="fa fa-github"></i></a>
            </span>
        </div>
        <p class="fs-12 lh-20em color-999999">Copyright © 2017 ælf</p>
    </div>
</footer>
