.ff-arial-zh, .ff-cg-zh, .ff-cgb-zh, .ff-dbb-zh, .ff-hnlt-zh, .ff-my-zh, .ff-ss-zh, .ff-tnri-zh {
  font-family: "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}
.ff-arial-en {
  font-family: arial, SimSun, sans-serif, "Microsoft Yahei", "STHeiti Light"
}

.ff-my-en {
  font-family: "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-tnri-en {
  font-family: TimesNewRomanItalic, SimSun, sans-serif, arial, "STHeiti Light"
}

.font-en-en {
  font-family: CenturyGothicBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-hnlt-en {
  font-family: HelveticaNeueLTProLt, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-dbb-en {
  font-family: DevilBreezeBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-cg-en {
  font-family: centurygothic, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-ss-en {
  font-family: SimSun, sans-serif, arial, "STHeiti Light"
}
.ps-container .ps-scrollbar-x-rail {
  position: absolute; /* please don't change 'position' */
  bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
}

.ps-container .ps-scrollbar-x-rail {
  background-color: rgba(238, 238, 238, 0.6);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
  background-color: rgba(238, 238, 238, 0.6);
}

.ps-container .ps-scrollbar-y-rail {
  position: absolute; /* please don't change 'position' */
  right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
}

.ps-container .ps-scrollbar-y-rail {
  background-color: rgba(238, 238, 238, 0.6);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
  background-color: rgba(238, 238, 238, 0.6);
}

.ps-container .ps-scrollbar-x {
  position: absolute; /* please don't change 'position' */
  bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
  background-color: rgba(153, 153, 153, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color .2s linear;
  -webkit-transition: background-color.2s linear;
  -moz-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
  font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail .ps-scrollbar-x {
  background-color: rgba(153, 153, 153, 0.6);
}

.ps-container .ps-scrollbar-y {
  position: absolute; /* please don't change 'position' */
  right: 0; /* there must be 'right' for ps-scrollbar-y */
  width: 8px;
  background-color: rgba(153, 153, 153, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color .2s linear;
  -webkit-transition: background-color.2s linear;
  -moz-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
  font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail .ps-scrollbar-y {
  background-color: rgba(153, 153, 153, 0.6);
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
  visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
  visibility: visible;
}
.scroll-bd {
  position: relative;
  overflow: hidden;
  padding-right: 15px;
}
