<header class="header" [ngClass]="headerActiveCssClass">
  <div class="wrapper clearfix">
    <h1 class="logo"><a href=""><img src="assets/images/logo.png" alt=""></a></h1>
    <h1 class="logo3"><a href=""><img src="assets/images/logo3.png" alt=""></a></h1>

    <div class="fs-18 sm-hidden clearfix shares">
            <span class="clearfix">
                <a href="mailto:gridblockchain@gmail.com"><i class="fa fa-envelope-o"></i></a>
                <a href="https://www.facebook.com/grid.blockchain.1" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/GridBlockchain" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://weibo.com/p/1006066351606243/home?from=page_100606&mod=TAB#place" target="_blank"><i class="fa fa-weibo"></i></a>
                <a href="https://web.telegram.org/#/im?p=@gridblockchain" class="weixin-img"><i class="fa fa-send"></i></a>
                <a href="https://gridblockchaininfo.slack.com/messages/C6Y3TKU2W/" target="_blank"><i class="fa fa-slack"></i></a>
                <a href="https://medium.com/@GridBlockchain" target="_blank"><i class="fa fa-medium"></i></a>
            </span>
    </div>
    <div [ngClass]="_fontFamlily.ffMy" class="lang color-white">
      <span class="fs-14"><em>{{currentLanguage}}</em><i class="fa fa-caret-down"></i></span>
      <ul class="fs-14 clearfix">
        <li *ngFor="let item of languageList" (click)="OnChange(item)">{{item}}</li>
      </ul>
    </div>
    <div class="menu-btn clearfix" (click)="menuClick()">
      <span class="menu-icon">
        <span>
          <i></i>
          <i></i>
          <i></i>
        </span>
      </span>
    </div>
  </div>

</header>
<section id="dropdown-pagination-menu" class="index-pagination menu-list2">
  <div class="lines lines-3">
    <div class="grow clearfix">
      <div class="gcol-2 gcol-sm-2 gcol-tn-1"></div>
      <div class="gcol-2 gcol-sm-2 gcol-tn-1"></div>
      <div class="gcol-2 gcol-sm-2 gcol-tn-1"></div>
      <div class="gcol-2 gcol-sm-2 gcol-tn-1"></div>
    </div>
  </div>
  <div class="menu-list2-bd grow clearfix ta-c">
    <a href="javascript:;" class="anchor-hd mlb-item gcol-sm-2 hp100" data-anchor="transition">
      <div class="mlb-txt">
        <div class="line m-auto mb20 w1 h20 bg-color-CBCBCB"></div>
        <div [ngClass]="_fontFamlily.ffArial" class="name-en fs-48"><b>Transition</b></div>
        <div class="name-cn fs-24">转折</div>
      </div>
    </a>
    <a href="javascript:;" class="anchor-hd mlb-item gcol-sm-2 hp100" data-anchor="features">
      <div class="mlb-txt">
        <div class="line m-auto mb20 w1 h20 bg-color-CBCBCB"></div>
        <div [ngClass]="_fontFamlily.ffArial" class="name-en fs-48"><b>Features</b></div>
        <div class="name-cn fs-24">特性</div>
      </div>
    </a>
    <a href="javascript:;" class="anchor-hd mlb-item gcol-sm-2 hp100" data-anchor="advantage">
      <div class="mlb-txt">
        <div class="line m-auto mb20 w1 h20 bg-color-CBCBCB"></div>
        <div [ngClass]="_fontFamlily.ffArial" class="name-en fs-48"><b>Advantage</b></div>
        <div class="name-cn fs-24">优势</div>
      </div>
    </a>
    <div class="mlb-item gcol-sm-2 hp100">
      <div class="mlb-txt2">
        <div class="tn-hidden logo-img mb30"><img src="assets/images/logo.png" alt=""></div>
        <div class="tn-hidden line m-auto mb35 w1 h30 bg-color-CBCBCB"></div>
        <div [ngClass]="_fontFamlily.ffArial" class="name-en fs-60 mb45"><b>Grid Foundation</b></div>
        <div class="w180 btns m-auto">
          <a *ngIf="currentLanguage===languageList[1]"
             href="https://grid.hoopox.com/Grid-Presentation-CN.pdf"
             class="wp100 btn btn-h40 btn-rounded btn-border-thin btn-style-4 fs-14 mb15">{{'Grid商业企划书' | translate}}</a>
          <a *ngIf="currentLanguage===languageList[0]"
             href="https://grid.hoopox.com/Grid-Presentation-EN.pdf"
             class="wp100 btn btn-h40 btn-rounded btn-border-thin btn-style-4 fs-14 mb15">{{'Grid商业企划书' | translate}}</a>
          <a href="https://grid.hoopox.com/grid_v1.1.12.pdf"
             class="wp100 btn btn-h40 btn-rounded btn-border-thin btn-style-4 fs-14">{{'项目白皮书' | translate}}</a>
        </div>
      </div>
      <div class="tn-hidden mlb-txt3">
        <p [ngClass]="_fontFamlily.ffArial" class="fs-12 color-white">Copyright © 2017 GRID Foundation</p>
      </div>
    </div>
  </div>
  <div [ngClass]="_fontFamlily.ffArial" class="menu-list2-bd2 hidden tn-show">
    <ul class="fs-24 clearfix mb50">
      <li><a href="javascript:;" class="anchor-hd" data-anchor="transition">{{'区块链转折' | translate}}</a></li>
      <li><a href="javascript:;" class="anchor-hd" data-anchor="features">{{'项目特性' | translate}}</a></li>
      <li><a href="javascript:;" class="anchor-hd" data-anchor="advantage">{{'优势' | translate}}</a></li>
      <li><a href="javascript:;" class="anchor-hd" data-anchor="team">{{'团队和顾问' | translate}}</a></li>
      <li><a href="javascript:;" class="anchor-hd" data-anchor="platforms">{{'合作伙伴' | translate}}</a></li>
    </ul>
    <div class="fs-30 clearfix shares">
            <span class="clearfix">
              <a href="mailto:gridblockchain@gmail.com"><i class="fa fa-envelope-o"></i></a>
                <a href="https://www.facebook.com/grid.blockchain.1" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/GridBlockchain" target="_blank"><i class="fa fa-twitter"></i></a>
              <br/>
                <a href="http://weibo.com/p/1006066351606243/home?from=page_100606&mod=TAB#place" target="_blank"><i class="fa fa-weibo"></i></a>
                <a href="https://web.telegram.org/#/im?p=@gridblockchain" class="weixin-img"><i class="fa fa-send"></i></a>
                <a href="https://gridblockchaininfo.slack.com/messages/C6Y3TKU2W/" target="_blank"><i class="fa fa-slack"></i></a>
              <a href="https://medium.com/@GridBlockchain" target="_blank"><i class="fa fa-medium"></i></a>
            </span>
    </div>
  </div>
</section>

<div class="container index-step" id="skrollr-body">
  <section class="section section-1">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"><i class="line-box3 w1 h150" data-0p="height:20%;" data-100p="height:100%"></i>
          </div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont">
      <div class="earth">
        <div class="bg-img" style="background-image:url(assets/images/section-1-bg.png);"></div>
        <div class="earth-canvas">
          <span class="point-ani2"><i></i><i></i><i></i><i></i><i></i></span>
          <div id="particles2"></div>
        </div>
      </div>
      <div class="txt">
        <div class="wrapper clearfix" data-center="transform:translate(0, 0%);opacity:1;"
             data-top-bottom="transform: translate(0px, 60%);opacity:0;">
          <div class="grow clearfix">
            <div class="gcol-3 gcol-ol-1 gcol-md-4 no-pl no-pr">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-115 color-white lh-10em mb40">{{ 'Grid' | translate }}<br/>{{ '基金会' | translate }}</h3>
              <div class="times-style-1 ta-c color-white timer-simple-seconds clearfix mb65" datetime="2017/9/5 0:0:1">
                <ul class="clearfix">
                  <li class="mr40 pt10">
                    <p class="name ff-ai fs-12">{{ 'Year' | translate }}:</p>
                    <p [ngClass]="_fontFamlily.ffHnlt" class="hour value fs-48">2017</p>
                  </li>
                  <li class="mr40 pt10">
                    <p class="name ff-ai fs-12">{{ 'Month' | translate }}:</p>
                    <p [ngClass]="_fontFamlily.ffHnlt" class="minute value fs-48">09</p>
                  </li>
                  <li class="mr40 pt10">
                    <p class="name ff-ai fs-12">{{ 'Day' | translate }}:</p>
                    <p [ngClass]="_fontFamlily.ffHnlt" class="second value fs-48">13</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="btns grow clearfix">
            <div class="gcol-1 gcol-ol-1 gcol-md-2 gcol-sm-4 no-pl no-pr">
              <p class="mb20">
                <a *ngIf="currentLanguage===languageList[1]"
                   href="https://grid.hoopox.com/Grid-Presentation-CN.pdf"
                   class="wp100 btn btn-border-thick btn-h46 btn-style-speical-1 fs-16 ta-c"><span>{{ 'Grid商业企划书' | translate }}</span></a>
                <a *ngIf="currentLanguage===languageList[0]"
                   href="https://grid.hoopox.com/Grid-Presentation-EN.pdf"
                   class="wp100 btn btn-border-thick btn-h46 btn-style-speical-1 fs-16 ta-c"><span>{{ 'Grid商业企划书' | translate }}</span></a>
              </p>
              <p><a href="https://grid.hoopox.com/grid_v1.1.12.pdf"
                    class="wp100 btn btn-border-thick btn-h46 btn-style-speical-1 fs-16 ta-c"><span>{{ '项目白皮书' | translate }}</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="_fontFamlily.ffArial" class="scroll-down fs-14 color-white">{{ 'Scroll down' | translate }}</div>
    </div>
  </section>
  <section class="section section-2 anchor-bd" id="transition">
    <div class="lines lines-2">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"><i class="line-box2 w1 h345" data-100p="height:0%;" data-130p="height:60%"><span
            [ngClass]="_fontFamlily.ffArial"
            class="line-txt fs-14 color-8f5ff0 mt25" style="font-style:normal;"><b> {{ 'Critical' | translate }}<br/>{{ 'Point' | translate }}</b></span></i>
          </div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="charts bg-img" style="background-image:url(assets/images/section-2-bg.png);">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1">
            <div class="s1 num" data-bottom="transform:scale(0);" data-center="transform:scale(1);"><span
              class="fs-16 color-8f5ff0"><b>200</b></span></div>
            <div class="info color-white wp55 ta-c" data-bottom="transform:translate(-50%, 30%); opacity:0;"
                 data-center-bottom="transform:translate(-50%, 0%); opacity:1;">
              <p [ngClass]="_fontFamlily.ffArial" class="mb30 lh-14em-3over fs-18"><b>{{ '染色币/链' | translate }}</b></p>
              <h4 [ngClass]="_fontFamlily.ffDbb" class="fs-72 mb10">01</h4>
              <p [ngClass]="_fontFamlily.ffArial" class="fs-18">2013 - 2014</p>
            </div>
          </div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1">
            <div class="s2 num" data-bottom="transform:scale(0);" data-center="transform:scale(1);"><span
              class="fs-16 color-8f5ff0"><b>500</b></span></div>
            <div class="info color-white wp55 ta-c" data-bottom="transform:translate(-50%, 40%); opacity:0;"
                 data-center-bottom="transform:translate(-50%, 0%); opacity:1;">
              <p [ngClass]="_fontFamlily.ffArial" class="mb30 lh-14em-3over fs-18"><b>{{ '基于商业概念的代币发售' | translate }}</b></p>
              <h4 [ngClass]="_fontFamlily.ffDbb" class="fs-72 mb10">02</h4>
              <p [ngClass]="_fontFamlily.ffArial" class="fs-18">2015 - 2017</p>
            </div>
          </div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1">
            <div class="s3 num" data-bottom="transform:scale(0);" data-center="transform:scale(1);"><span
              class="fs-16 color-8f5ff0"><b>1000</b></span></div>
            <div class="info color-white wp55 ta-c" data-bottom="transform:translate(-50%, 50%); opacity:0;"
                 data-center-bottom="transform:translate(-50%, 0%); opacity:1;">
              <p class="mb30 lh-14em-3over fs-18">{{ '真实商业价值进入区块链的临界点' | translate }}</p>
              <h4 [ngClass]="_fontFamlily.ffDbb" class="fs-72 mb10">03</h4>
              <p [ngClass]="_fontFamlily.ffArial" class="fs-18">{{ '未来' | translate }}</p>
            </div>
          </div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont">
      <div class="txt pt110">
        <div class="wrapper clearfix">
          <div class="grow clearfix mb55" data-bottom="transform:translate(-100%, 0%);"
               data-center="transform: translate(0px, 0);">
            <div class="gcol-3 gcol-ol-1 gcol-md-4 no-pl no-pr">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-115 color-8f5ff0 lh-9em">{{ 'Transition' | translate }}</h3>
              <p class="fs-36 color-8f5ff0"><b>{{ '区块链转折' | translate }}</b></p>
              <p class="fs-16 color-999999">{{ '从概念为主-商业价值驱动' | translate }}</p>
            </div>
          </div>
          <div class="btns grow clearfix" data-bottom="transform:translate(-100%, 0%);"
               data-center="transform: translate(0px, 0);">
            <div class="gcol-1 gcol-ol-1 gcol-md-2 gcol-tn-4 no-pl no-pr">
              <p><a href="" class="wp100 btn btn-h46 btn-style-speical-2 fs-16 ta-c"><span><b>{{ '数字货币价格' | translate }}</b></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-3">
    <div class="lines lines-2">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont">
      <div class="txt break pt90">
        <div class="wrapper clearfix">
          <div class="grow clearfix">
            <div class="gcol-2 gcol-ol-1 gcol-lg-4 gcol-md-8 no-pl no-pr pt70"
                 data-bottom="transform:translate(0%, 100%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-115 color-8f5ff0 lh-9em">{{ 'Break' | translate }}</h3>
              <p class="fs-36 color-8f5ff0 mb50"><b>{{ '区块链的下一个突破' | translate }}</b></p>
              <p class="fs-16 color-999999">{{ '区块链技术的下一个突破是建立商业级的技术平台，' | translate }}<br/>{{ '满足商业需求，促进商业应用与创新' | translate }}</p>
            </div>
            <div class="gcol-1 gcol-sm-2 gcol-lg-1 ta-c pt70 h455 clearfix"
                 data-bottom="transform:translate(-200%, 0%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="line-arrow up"></div>
              <p class="mb40"><img src="assets/images/icon-1.png" alt=""></p>
              <article class="fs-14 color-999999 lh-18em">
                <p>{{ '第一个数字货币' | translate }}</p>
                <p>{{ '实现安全的价值传输' | translate }}</p>
              </article>
            </div>
            <div class="gcol-1 gcol-sm-2 gcol-lg-1 ta-c pt70 h455 clearfix"
                 data-bottom="transform:translate(-150%, 0%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p class="mb40"><img src="assets/images/icon-2.png" alt=""></p>
              <article class="fs-14 color-999999 lh-18em">
                <p>{{ '引进智能合约' | translate }}</p>
                <p>{{ '拓展了应用场景' | translate }}</p>
              </article>
              <div class="line-arrow down"></div>
            </div>
            <div class="gcol-1 gcol-sm-2 gcol-lg-1 ta-c pt70 h455 clearfix"
                 data-bottom="transform:translate(-100%, 0%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p class="mb40"><img src="assets/images/icon-3.png" alt=""></p>
              <article class="fs-14 color-999999 lh-18em">
                <p>{{ '商业级的平台性能和能力' | translate }}</p>
                <p>{{ '高定制化的智能合约执行力' | translate }}</p>
                <p>{{ '高度自我进化和完善能力' | translate }}</p>
                <p>{{ '高度的安全性' | translate }}</p>
              </article>
            </div>
            <div class="gcol-1 gcol-sm-2 gcol-lg-1 pt45 nopr nopl ta-c h455 bg-color-8f5ff0 clearfix"
                 data-bottom="transform:translate(-50%, 0%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p class="fs-14 color-white lh-18em pl10 pr10 mb5">{{ '未来区块链行业' | translate }}</p>
              <p [ngClass]="_fontFamlily.ffCgb" class="mb45 pl10 pr10 fs-52 color-white">{{ '构想' | translate }}</p>
              <article class="pl10 pr10 fs-16 color-white lh-16em mb55 pl10 pr10">
                <p>{{ '保险行业' | translate }}</p>
                <p>{{ '去中心化交易' | translate }}</p>
                <p>{{ '数字资产发行' | translate }}</p>
                <p>{{ '信息登记认证' | translate }}</p>
              </article>
              <div class="more pl10 pr10"><a href="" class="add-btn m-auto"><i></i><i></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-4 bg-img anchor-bd" id="features"
           style="background-image: url(assets/images/section-4-bg.jpg);">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"><i class="mt470 line-box w3 h70 bg-color-white"></i></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont">
      <div class="txt pt50 pb80">
        <div class="wrapper clearfix">
          <div class="grow clearfix">
            <div class="i-fr gcol-3 no-pl gcol-md-2 gcol-tn-8 no-pr pt110"
                 data-bottom="transform:translate(0%, 100%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-115 color-white lh-9em">{{ 'Features' | translate }}</h3>
              <p class="fs-36 color-white mb50"><b>{{ '区块链特性' | translate }}</b></p>
              <p class="fs-16 color-white"> {{ 'Grid作为一条高效可进化的多链区块链' | translate }}<br/>{{ '满足了未来推动商业融合的需求。' | translate }}</p>
            </div>
            <div class="i-fl gcol-4 gcol-ol-1 gcol-md-6 gcol-tn-8 gcol-tn-12 no-pl no-pr">
              <div class="tn-hidden">
                <div class="features-info h720 color-white fs-14 grow clearfix bg-img no-ml no-mr"
                     style="background-image: url(assets/images/section-4-bg2.png)">
                  <div class="info-1 gcol-2 gcol-sm-2 no-pl no-pr">
                    <dl class="pt90" data-bottom="transform:translate(0%, 100%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b> {{ '主链&侧链自我' | translate }}<br/>{{ '进化提升' | translate }}</b></dt>
                      <dd>{{ '多样的自定义共识机制，确保主链和侧链的不断自我进化和提升。' | translate }}</dd>
                    </dl>
                  </div>
                  <div class="info-2 gcol-2 gcol-sm-2 no-pl no-pr">
                    <dl class="pt540" data-bottom="transform:translate(0%, 100%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b> {{ '操作系统级的' | translate }}<br/>{{ '结构优化' | translate }}</b></dt>
                      <dd>{{ '最小化内核、智能合约集、' | translate }}<br/>{{ '统一账户体系。' | translate }}</dd>
                    </dl>
                  </div>
                  <div class="info-3 gcol-2 gcol-ol-2 gcol-sm-2 gcol-sm-ol-2 no-pl no-pr">
                    <dl class="pt130" data-bottom="transform:translate(0%, 100%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b> {{ '母链+N侧链' | translate }}<br/>{{ '多链结构' | translate }}</b></dt>
                      <dd>{{ '满足各类商业场景，减少数据冗杂。' | translate }}</dd>
                    </dl>
                    <dl class="pt85" data-bottom="transform:translate(0%, 150%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '高效跨链通信体系' | translate }}</b></dt>
                      <dd>{{ '以 Merkel Tree 作为基础，' | translate }}<br/>{{ '建立高效跨链记录和交流体系。' | translate }}</dd>
                    </dl>
                    <dl class="pt90" data-bottom="transform:translate(0%, 200%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '高运算效率' | translate }}</b></dt>
                      <dd>{{ '并行运算+云服务，' | translate }}<br/>{{ '提高运算效率。' | translate }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="hidden tn-show pt40">
                <div class="features-info h720 color-white fs-14 clearfix bg-img"
                     style="background-image: url(assets/images/section-4-bg3.png)">
                  <div class="info-1  pr20">
                    <dl class="pt70 mb100" data-bottom="transform:translate(0%, 100%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '主链&侧链自我' | translate }}<br/>{{ '进化提升' | translate }}</b></dt>
                      <dd>{{ '多样的自定义共识机制，确保主链和侧链的不断自我进化和提升。' | translate }}</dd>
                    </dl>
                    <dl class="" data-bottom="transform:translate(0%, 200%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '高运算效率' | translate }}</b></dt>
                      <dd>{{ '并行运算+云服务，' | translate }}<br/>{{ '提高运算效率。' | translate }}</dd>
                    </dl>
                  </div>
                  <div class="info-2  pl20">
                    <dl class="mb350" data-bottom="transform:translate(0%, 100%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '母链+N侧链' | translate }}<br/>{{ '多链结构' | translate }}</b></dt>
                      <dd>{{ '满足各类商业场景，减少数据冗杂。' | translate }}</dd>
                    </dl>
                    <dl class="" data-bottom="transform:translate(0%, 100%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '操作系统级的' | translate }}<br/>{{ '结构优化' | translate }}</b></dt>
                      <dd>{{ '最小化内核、智能合约集、' | translate }}<br/>{{ '统一账户体系。' | translate }}</dd>
                    </dl>
                  </div>
                  <div class="info-3 pl20">
                    <dl class="pt100" data-bottom="transform:translate(0%, 150%); opacity:0;"
                        data-center="transform:translate(0%, 0%); opacity:1;">
                      <dt class="fs-24 mb20"><b>{{ '高效跨链通信体系' | translate }}</b></dt>
                      <dd>{{ '以 Merkel Tree 作为基础，' | translate }}<br/>{{ '建立高效跨链记录和交流体系。' | translate }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-5 bg-img bg-color-0F9CFF anchor-bd" id="advantage">
    <div class="circles">
      <div class="c1"><i class="bg-color-5F38D7" data-bottom-top="transform:translate(0%, -300%);"
                         data-top-bottom="transform:translate(0%, 300%);"></i></div>
      <div class="c2"><i class="bg-color-5F38D7" data-top-bottom="transform:translate(0%, -100%);"
                         data-bottom-top="transform:translate(0%, 0%);"></i></div>
      <div class="c3"><i class="bg-color-5F38D7" data-bottom-top="transform:translate(0%, 300%);"
                         data-top-bottom="transform:translate(0%, -200%);"></i></div>
      <div class="c4"><i class="bg-color-5F38D7" data-top-bottom="transform:translate(0%, 400%);"
                         data-bottom-top="transform:translate(0%, -600%);"></i></div>
      <div class="c5"><i class="bg-color-5F38D7" data-bottom-top="transform:translate(0%, -50%);"
                         data-top-bottom="transform:translate(0%, 50%);"></i></div>
      <div class="c6"><i class="bg-color-5F38D7" data-top-bottom="transform:translate(0%, 200%);"
                         data-bottom-top="transform:translate(0%, -100%);"></i></div>
    </div>
    <div id="particles" class="particles"></div>
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont color-white">
      <div class="txt pt150 pb100">
        <div class="wrapper clearfix">
          <div class="grow clearfix pt180">
            <div class="gcol-3 gcol-ol-1 gcol-lg-4 gcol-md-4 gcol-tn-8 no-pl no-pr pt110"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-115 lh-9em">{{ 'Advantage' | translate }}</h3>
              <p class="fs-36 mb50"><b>{{ '项目优势' | translate }}</b></p>
            </div>
          </div>
          <div class="grow clearfix">
            <div class="no-pl gcol-lg-1 gcol-lg-ol-3 gcol-md-2 gcol-md-ol-2 gcol-tn-6 gcol-tn-ol-1 no-pr pt80"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffDbb" class="fs-115 lh-9em mb45">01</h3>
              <p class="fs-24 mb25"><b> {{ '一链一场景' | translate }}<br/>{{ '拒绝冗杂' | translate }}</b></p>
              <p class="fs-14 lh-16em">{{ 'Grid 整体设计架构，如同建立了一个“商业核心区”，每一个行业都有适合其自身的侧链，一链一场景，让整个Grid架构有序、高效!' | translate }}</p>
            </div>
            <div class="gcol-lg-3 gcol-lg-ol-0 gcol-md-3 gcol-md-ol-0 gcol-tn-8 no-pl no-pr ta-c"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p>
                <span [ngClass]="_fontFamlily.ffDbb" class="img-txt-1 fs-12 color-white">
                  <img src="assets/images/section-5-img-1.png" alt="">
                  <em [ngClass]="_fontFamlily.ffArial" class="em1" style="font-size:250%;"><b>Grid</b></em>
                  <em class="em2">{{ '数字资产' | translate }}<br/>{{ '发行侧链' | translate }}</em>
                  <em class="em3">{{ 'Bitcoin' | translate }}</em>
                  <em class="em4">{{ '保险行' | translate }}<br/>{{ '业侧链' | translate }}</em>
                  <em class="em5" style="font-size:116%;">{{ '信息登记' | translate }}<br/>{{ '认证侧链' | translate }}</em>
                  <em class="em6">{{ '去中心化' | translate }}<br/>{{ '交易侧链' | translate }}</em>
                  <em class="em7" style="font-size:116%;">{{ 'Main Chain' | translate }}</em>
                </span>
              </p>
            </div>
          </div>

          <div class="grow clearfix mb20">
            <div class="sm-hidden gcol-md-2 gcol-md-ol-1 gcol-tn-8 no-pl ta-c"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p>
                <span [ngClass]="_fontFamlily.ffDbb" class="img-txt-2 ta-l fs-16 color-white">
                  <img src="assets/images/section-5-img-2.png" alt="">
                  <em class="em1" style="font-size:87.5%;">{{ '共识协议' | translate }}<br/>{{ '智能合约集' | translate }}<br/>{{ '统一化账户系统' | translate }}</em>
                  <em class="em2"> {{ '最小化区块链接系统' | translate }}<br/><i class="fs-12 lh-10em mt5"
                                                                        style="font-style: normal;display:inline-block"></i></em>
                  <em class="em3 ta-c">{{ '自定义接口' | translate }}<br/><i class="fs-12"
                                                                        style="font-style: normal;"></i></em>
                </span>
              </p>
            </div>
            <div class="gcol-lg-1 gcol-lg-ol-0 gcol-md-2 gcol-md-ol-0 gcol-tn-6 gcol-tn-ol-1 no-pl no-pr pt40"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffDbb" class="fs-115 lh-9em mb45">02</h3>
              <p class="fs-24 mb25"><b> {{ '系统定制从此' | translate }}<br/>{{ '轻而易举' | translate }}</b></p>
              <p class="fs-14 lh-16em">{{ '满足瞬息万变的商业变化和创新机制' | translate }}</p>
              <ul class="ul-1" style="list-style: disc;">
                <li>{{ '提供系统化的运行内核' | translate }}</li>
                <li>{{ '自定义接口方便对系统进行定制和优化' | translate }}</li>
                <li>{{ '致力于成为如Linux家族一样的多样性生态系统' | translate }}</li>
              </ul>
            </div>
            <div class="sm-show hidden gcol-lg-2 gcol-lg-ol-1 gcol-tn-8 no-pl no-pr ta-c"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p>
                <span [ngClass]="_fontFamlily.ffDbb" class="img-txt-2 ta-l fs-16 color-white">
                  <img src="assets/images/section-5-img-2.png" alt="">
                  <em class="em1" style="font-size:87.5%;">{{ '共识协议' | translate }}<br/>{{ '智能合约集' | translate }}<br/>{{ '统一化账户系统' | translate }}</em>
                  <em class="em2"> {{ '最小化区块链接系统' | translate }}<br/><i class="fs-12 lh-10em mt5"
                                                                        style="font-style: normal;display:inline-block">Minimize block chaining <br>system</i></em>
                  <em class="em3 ta-c">{{ '自定义接口' | translate }}<br/><i class="fs-12" style="font-style: normal;">Custom interface</i></em>
                </span>
              </p>
            </div>
          </div>
          <div class="grow clearfix mb20">
            <div class="gcol-lg-1 gcol-lg-ol-4 gcol-md-2 gcol-md-ol-4 gcol-tn-6 gcol-tn-ol-1 no-pl no-pr"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffDbb" class="fs-115 lh-9em mb45">03</h3>
              <p class="fs-24 mb25"><b> {{ '告别拥堵' | translate }}<br/>{{ '从未如此容易' | translate }}</b></p>
              <p class="fs-14 lh-16em">{{ 'Grid设计了高效的并行运算机制，可满足商业级的运算需求，不用担心一个繁忙业务让整个系统拥堵' | translate }}</p>
              <ul class="ul-1" style="list-style: disc;">
                <li>{{ '对交易进行分组' | translate }}</li>
                <li>{{ '独立交易并行处理' | translate }}</li>
                <li>{{ '如增加公路车道、减少拥堵' | translate }}</li>
              </ul>
            </div>
            <div class="gcol-md-2 gcol-tn-8 no-pl no-pr ta-c" data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p *ngIf="currentLanguage===languageList[1]"><img src="assets/images/section-5-img-3.png" alt=""></p>
              <p *ngIf="currentLanguage===languageList[0]"><img src="assets/images/section-5-img-3-en.png" alt=""></p>
            </div>
          </div>
          <div class="grow clearfix">
            <div class="gcol-lg-1 gcol-lg-ol-3 gcol-md-2 gcol-md-ol-3 gcol-tn-6 gcol-tn-ol-1 no-pl no-pr"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffDbb" class="fs-115 lh-9em mb45">04</h3>
              <p class="fs-24 mb25"><b>{{ '高效跨链通信体系' | translate }}</b></p>
              <p class="fs-14 lh-16em">{{ '独特的主侧链Merkel Tree 索引，高效处理多链结构，侧链间信息传输支持跨链合作' | translate }}</p>
            </div>
          </div>
          <div class="grow clearfix">
            <div class="gcol-lg-1 gcol-lg-ol-4 gcol-md-2 gcol-md-ol-4 gcol-tn-6 gcol-tn-ol-1 no-pl no-pr"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffDbb" class="fs-115 lh-9em mb45">05</h3>
              <p class="fs-24 mb25"><b>{{ '全新的行业生态模式' | translate }}</b></p>
              <p class="fs-14 lh-16em">{{ 'Grid 将构建一个技术+商业应用+资本三线并行的全新生态模式' | translate }}</p>
            </div>
          </div>
          <div class="grow clearfix">
            <div class="gcol-md-4 gcol-md-ol-3 gcol-tn-8 no-pl no-pr ta-c"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <p>
                <span [ngClass]="_fontFamlily.ffDbb" class="img-txt-3 ta-l fs-18 color-white">
                  <img src="assets/images/section-5-img-4.png" alt="">
                  <em class="em1">{{ '资本' | translate }}<br/><i class="fs-12 lh-16em mt10"
                                                                style="font-style: normal;display:inline-block; width: 20em">{{ '使用Grid生态基金，奖励对生态有贡献者，与VC和其他基金一起对前沿创新技术进行投资。' | translate }}</i></em>
                  <em class="em2">{{ '商业应用' | translate }}<br/><i class="fs-12 lh-16em mt10"
                                                                  style="font-style: normal;display:inline-block; width: 20em">{{ '成立商业联盟与创业公司、大型企业一同推动基于Grid的商业创新；与国际咨询公司联合探索新的商。' | translate }}</i></em>
                  <em class="em3">{{ '技术' | translate }}<br/><i class="fs-12 lh-16em mt10"
                                                                style="font-style: normal;display:inline-block; width: 20em">{{ '关注最新的技术，即时引入Grid生态业模式。' | translate }}</i></em>
                </span>
              </p>
            </div>
          </div>
          <div class="grow clearfix">
            <div class="gcol-lg-1 gcol-md-2 gcol-md-ol-3 gcol-tn-6 gcol-tn-ol-1 no-pl no-pr"
                 data-bottom="transform:translate(0%, 200%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <h3 [ngClass]="_fontFamlily.ffDbb" class="fs-115 lh-9em mb45">06</h3>
              <p class="fs-24 mb25"><b>{{ 'Grid 强调各链的自我进化与提升，吸收新的侧链、引入新的技术' | translate }}</b></p>
              <ul class="ul-1" style="list-style: disc;">
                <li>{{ '各链拥有其共识机制，推动未来新技术的引进' | translate }}</li>
                <li>{{ '侧链可动态加入或脱离Grid，提高侧链间竞争，促进侧链的自我提升' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-6">
    <div class="lines lines-2">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"><i class="line-box2 w1 h70" data-bottom="height:0px;"
                                           data-center="height:70px"></i></div>
          <div class="gcol-1 gcol-tn-1"><i class="line-box2 w1 h170" data-bottom="height:0px;"
                                           data-center="height:170px"></i></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="tn-show hidden btns clearfix">
      <span class="btn-prev btn btn-h38 btn-border-thin btn-pill btn-style-3 fs-18"></span>
      <span class="btn-current btn btn-h38 btn-border-thin btn-pill btn-style-3 fs-18 active"></span>
      <span class="btn-next btn btn-h38 btn-border-thin btn-pill btn-style-3 fs-18"></span>
    </div>
    <div class="cont">
      <div class="txt h580">
        <div class="wrapper clearfix">
          <div class="grow clearfix">
            <div class="gcol-lg-2 gcol-tn-8 gcol-lg-ol-1 no-pl no-pr pt210 h0">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-100 color-8f5ff0 lh-9em mb20">{{ 'Time' | translate }}</h3>
              <p class="fs-30 color-8f5ff0 mb50"><b>{{ '时间线' | translate }}</b></p>
            </div>
            <div
              class="gcol-lg-1 gcol-lg-ol-0 gcol-sm-1 gcol-sm-ol-1 gcol-tn-1 gcol-tn-ol-1 ta-c prev no-pl no-pr time-slide">
              <i class="line-box2 w1 h205" data-bottom="height:0px;" data-center="height:205px"></i>
              <div class="btn btn-h40 btn-circle btn-style-1 fs-20" data-bottom="top: 0;margin-top:0px;"
                   data-center="top: 0;margin-top:205px"><i class="fa fa-angle-left"></i></div>
            </div>
            <div class="gcol-lg-1 gcol-lg-ol-0 gcol-sm-1 gcol-sm-ol-0 gcol-tn-1 ta-c prev-value no-pl no-pr time-slide">
              <i class="line-box2 w1 h280" data-bottom="height:0px;" data-center="height:280px"></i>
              <div class="btn btn-h60 btn-circle btn-style-2 fs-18" data-bottom="top: 0;margin-top:0px;"
                   data-center="top: 0;margin-top:280px"><h4></h4></div>
            </div>
            <div
              class="gcol-lg-1 gcol-lg-ol-0 gcol-sm-1 gcol-sm-ol-1 gcol-tn-1 gcol-tn-ol-1 ta-c cur-value no-pl no-pr time-slide">
              <i class="line-box2 w1 h220" data-bottom="height:0px;" data-center="height:220px"></i>
              <div class="btn h260 w260 btn-circle btn-style-2" data-bottom="top: 0;margin-top:0px;"
                   data-center="top: 0;margin-top:220px">


                <div class="wp100 value-txt pl60 pr60">
                  <h3 class="fs-36 mb15"></h3>
                  <p class="fs-12 lh-16em"></p>
                </div>
              </div>
            </div>
            <div
              class="gcol-lg-1 gcol-lg-ol-0 gcol-sm-1 gcol-sm-ol-1 gcol-tn-1 gcol-tn-ol-1 ta-c next-value no-pl no-pr time-slide">
              <i class="line-box2 w1 h280" data-bottom="height:0px;" data-center="height:280px"></i>
              <div class="btn btn-h60 btn-circle btn-style-2 fs-18" data-bottom="top: 0;margin-top:0px;"
                   data-center="top: 0;margin-top:280px"><h4></h4></div>
            </div>
            <div class="gcol-lg-1 gcol-sm-1 gcol-sm-ol-0 gcol-tn-1 ta-c next no-pl no-pr time-slide">
              <i class="line-box2 w1 h205" data-bottom="height:0px;" data-center="height:205px"></i>
              <div class="btn btn-h40 btn-circle btn-style-1 fs-20" data-bottom="top: 0;margin-top:0px;"
                   data-center="top: 0;margin-top:205px"><i class="fa fa-angle-right"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden hide-txt">
        <ul>
          <li>
            <span>2017<em style="display:block;font-size:70%;">{{ '九月' | translate }}</em></span>
            <p>{{ 'Grid基金会正式在新加坡成立，与北京好扑科技公司达成技术开发合作协议' | translate }}</p>
          </li>
          <li>
            <span>2017<em style="display:block;font-size:70%;">{{ '十月' | translate }}</em></span>
            <p>{{ 'Grid创新联盟正式成立，与商业公司共同探索基于区块链的商业应用与创新' | translate }}</p>
          </li>
          <li>
            <span>2018<em style="display:block;font-size:70%;">{{ '一季度' | translate }}</em></span>
            <p>{{ 'Grid资产发行侧链及去中心化交易所侧链测试链开发完成并进行测试' | translate }}</p>
          </li>
          <li>
            <span>2018<em style="display:block;font-size:70%;">{{ '二季度' | translate }}</em></span>
            <p>{{ 'Grid主链开发完成，与Grid侧链，其它区块链系统进行衔接' | translate }}</p>
          </li>
          <li>
            <span>2018<em style="display:block;font-size:70%;">{{ '三季度' | translate }}</em></span>
            <p>{{ '基于Grid的商业应用开始在Grid系统中正式开始运行' | translate }}</p>
          </li>
          <li>
            <span>2019+</span>
            <p>{{ '通过Grid基金会大规模推动Grid的商业应用' | translate }}</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section section-7 bg-img anchor-bd" id="team"
           style="background-image: url(assets/images/section-7-bg.jpg);">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow team clearfix">
            <div class="gcol-tn-8 hidden pt30 mb30 tn-show">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-100 color-white lh-9em mb5">{{ 'Teams & Advisers' | translate }}</h3>
              <p class="fs-30 color-white"><b>{{ '我们的团队和顾问' | translate }}</b></p>
            </div>
            <div
              class="h655 pt205 gcol-1 gcol-ol-1 gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic mb30"><img src="assets/images/face-1.png" alt=""></div>
              <div class="team-txt pl45 pr45">
                <h4 class="fs-18 mb10"><b>{{ '马昊伯' | translate }}</b></h4>
                <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                  <div class="fs-12">{{ 'Grid创始人，好扑创始人兼CEO' | translate }}<br/> {{ '区块链行业专家，数字资产领域早期从业者' | translate }}<br/>{{ '曾任GemPay CTO、AllCoin CTO' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="h655 pt205 gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
                 data-bottom="transform:translate(0%, 40%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic mb30"><img src="assets/images/face-2.png" alt=""></div>
              <div class="team-txt pl45 pr45">
                <h4 class="fs-18 mb10"><b>{{ '陈注伶' | translate }}</b></h4>
                <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                  <div class="fs-12">{{ '麻省理工毕业生' | translate }}<br/> {{ '多年全球顶级咨询公司经验' | translate }}<br/>{{
                    '参与跨国公司及政府的战略制订与推动' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="h655 pt205 gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
                 data-bottom="transform:translate(0%, 50%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic mb30"><img src="assets/images/face-5.png" alt=""></div>
              <div class="team-txt pl45 pr45">
                <h4 class="fs-18 mb10"><b>{{ '傅理' | translate }}</b></h4>
                <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                  <div class="fs-12">{{ '香港理工大学软件科技硕士, 开源社区KOL(id:xtaci), 资深互联网技术专家, 涉及通信网络, 地图导航, 手游等多个领域' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="h655 pt205 gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
                 data-bottom="transform:translate(0%, 50%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic mb30"><img src="assets/images/face-3.png" alt=""></div>
              <div class="team-txt pl45 pr45">
                <h4 class="fs-18 mb10"><b>{{ '杨亚龙' | translate }}</b></h4>
                <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                  <div class="fs-12">{{ 'Monash大学PhD' | translate }}<br/> {{ '专攻地理空间和交易网络的数据可视化' | translate }}<br/>{{ '发表文章已被知名期刊收录' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div
              class="md-hidden h655 pt205 gcol-1 gcol-lg-3 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
              data-bottom="transform:translate(0%, 60%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <p class="mb25"><img src="assets/images/icon-4.png" alt=""></p>
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-60 lh-10em mb5">{{ 'Teams & Advisers' | translate }}</h3>
              <p class="fs-24 mb95"><b>{{ '我们的团队和顾问' | translate }}</b></p>
              <a href="" class="add-btn2 m-auto"><i></i><i></i></a>
            </div>
            <div class="h655 pt205 gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
                 data-bottom="transform:translate(0%, 70%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic mb30"><img src="assets/images/face-4.png" alt=""></div>
              <div class="team-txt pl45 pr45">
                <h4 class="fs-18 mb10"><b>{{ '周硕基' | translate }}</b></h4>
                <div class="perfect-scrollbar-container lh-16em-5over-noellipsis" [perfect-scrollbar]="config">
                  <div class="fs-12">{{ 'FBGCapital 创始合伙人，在数字资产交易和投资方面拥有丰富的经验。他同时是一系列区块链企业和项目的早期投资人，被视为亚洲最成熟、富有远见的加密对冲基金领导人。' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div
              class="hidden tn-hidden md-show h655 pt205 gcol-1 gcol-lg-3 gcol-md-2 gcol-sm-2 gcol-tn-8 team-item ta-c color-white ta-c no-pl no-pr"
              data-bottom="transform:translate(0%, 60%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <p class="mb25"><img src="assets/images/icon-4.png" alt=""></p>
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-60 lh-10em mb5">{{ 'Teams & Advisers' | translate }}</h3>
              <p class="fs-24 mb95"><b>{{ '我们的团队和顾问' | translate }}</b></p>
              <a href="" class="add-btn2 m-auto"><i></i><i></i></a>
            </div>
            <div class="hidden tn-show gcol-lg-1 gcol-md-2 gcol-sm-2 gcol-tn-8 ta-c team-item no-pl no-pr"
                 data-bottom="transform:translate(0%, 80%); opacity:0;"
                 data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic mb30">
                <p class="mb25"><img src="assets/images/icon-4.png" alt=""></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-8 bg-img" style="background-image: url(assets/images/section-8-bg.jpg);">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-9 bg-color-7652E6 anchor-bd" id="platforms">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont pt100 pb100">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow clearfix">
            <div class="i-fr gcol-2 gcol-ol-1 gcol-md-2 no-pl no-pr gcol-tn-8">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-45 color-white lh-9em mb20"> {{ '' | translate }}<br/><span
                [ngClass]="_fontFamlily.ffCg">Partners</span></h3>
              <p class="fs-30 color-white"><b>合作伙伴</b></p>
            </div>
            <div class="i-fl gcol-4 gcol-ol-1 gcol-lg-5 gcol-md-6 no-pl no-pr pt45 gcol-tn-8">
              <div class="platforms-list clearfix">
                <div class="mb30 platforms-item ta-c"></div>
                <div class="mb30 platforms-item ta-c"><img src="assets/images/partner-2.png" alt=""></div>
                <div class="mb30 platforms-item ta-c"></div>
                <div class="mb30 platforms-item ta-c"><img src="assets/images/partner-5.png" alt=""></div>
                <div class="mb30 platforms-item ta-c"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-11 bg-color-0F9CFF anchor-bd" id="news">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-10 bg-color-white">
    <div class="lines lines-1">
      <div class="wrapper clearfix">
        <div class="grow clearfix">
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"></div>
          <div class="gcol-1 gcol-tn-1"><i class="mt140 line-box w5 h50 bg-color-8F5FF0"></i></div>
          <div class="gcol-1 gcol-tn-1"></div>
        </div>
      </div>
    </div>
    <div class="cont pt140 pb85">
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="grow clearfix">
            <div class="gcol-2 gcol-ol-1 gcol-md-3 no-pl no-pr">
              <h3 [ngClass]="_fontFamlily.ffCgb" class="fs-72 color-8f5ff0 lh-9em mb20">Foundation</h3>
              <p class="fs-36 color-8f5ff0"><b>基金会</b></p>
            </div>
            <div class="gcol-2 gcol-md-3 no-pl no-pr">
              <p class="fs-12 color-999999 lh-20em mb40">{{
                'Grid基金会已在新加坡成立。作为一个非盈利组织，Grid基金会旨在推动Grid技术的开发与应用。协助企业与初创公司在Grid上进行开发与商业创新。Grid基金会将会建立完整的管理机制，做到与新加坡的法律合规。' | translate }}</p>
              <a href=""
                 class="wp50 btn btn-h46 btn-style-1 fs-18 ta-c mb40"><span>{{ '新型开源基金会' | translate }}</span></a>
              <ul style="list-style: disc;" class="ul-1 fs-12 color-999999 lh-20em">
                <li>{{ '代币持有者可交纳少量代币成为基金会员' | translate }}</li>
                <li>{{ '会员根据其代币持有额度拥有相应投票权' | translate }}</li>
                <li>{{ '旨在打造一个去中心化的Linux Foundation' | translate }}</li>
                <li>{{ '基金会致力于积极吸纳商业、资本、技术合作方的进入' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer pt65 pb65 ta-c">
  <div class="wrapper clearfix">
    <p class="mb30"><img src="assets/images/logo2.png" alt=""></p>
    <div class="fs-20 clearfix shares mb30">
            <span class="clearfix">
                <a href="mailto:gridblockchain@gmail.com"><i class="fa fa-envelope-o"></i></a>
                <a href="https://www.facebook.com/grid.blockchain.1" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/GridBlockchain" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://weibo.com/p/1006066351606243/home?from=page_100606&mod=TAB#place" target="_blank"><i class="fa fa-weibo"></i></a>
                <a href="https://web.telegram.org/#/im?p=@gridblockchain" class="weixin-img"><i class="fa fa-send"></i></a>
                <a href="https://gridblockchaininfo.slack.com/messages/C6Y3TKU2W/" target="_blank"><i class="fa fa-slack"></i></a>
                <a href="https://medium.com/@GridBlockchain" target="_blank"><i class="fa fa-medium"></i></a>
            </span>
    </div>
    <p class="fs-12 lh-20em color-999999">{{ 'Copyright © 2017 GRID Foundation' | translate }}</p>
  </div>
</footer>
