<div class="app-node" [ngSwitch]="showModal" >
    <div *ngSwitchDefault>
        <section class="section section-8 anchor-hd">
                <app-application
                    type="left"
                    title="Node Election"
                    brief="In aelf's DPoS consensus, all stakeholders can vote for delegate nodes, which are responsible for executing transactions, compiling blocks, and generating consensus management rules. Stakeholders can also vote on decisions regarding updates to the system contract. See below for rules of the aelf node election, including election requirements and benefits."
                    imgurl="../../../assets/newImages/Node.png"
                    [showbtn]="true"
                    buttontext="View details"
                    (onClicked)="buttonClick($event)"
                    [imgWidth]="'90%'"
                ></app-application>
        </section>
        <section class="section section-8 anchor-hd">
            <div class="pt100 pb100 pl100 pr100">
                <div class="fs-30 color-white pt20 pb20 align-center">{{"Node Display" | translate}}</div>
                <div class="node-list clearfix">
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="more fs-22 color-white">
                            {{"More nodes are joining..." | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-8 anchor-hd">
            <div class="pt100 pb100 pl100 pr100">
                <div class="fs-30 color-white pt20 pb20 head">{{"Campaign Node" | translate}}</div>
                <div class="campaign-node-infomation pt20 pb20 pl20 pr20 ptl22-txt color-white">
                    <div class="fs-22 mb20" (click)="getModalShow()">{{"Start Time:" | translate}}</div>
                    <div class="fs-22 mb20">{{"Deadline:" | translate}}</div>
                    <div class="fs-22 mb20">{{"Download Node Election Application Form:" | translate}} <a class="download" href="javascript:void(0);">{{"Alf Node Election Application Form (click to download)" | translate}}</a></div>
                    <div class="fs-22 mb40">{{"Publicity and voting: The election situation will be publicized through official channels such as the official website and the community; the publicity time is XX days; after the publication, the election will enter the BP node to vote." | translate}}</div>
                    <div class="button">
                        <a href="mailto:xxxx@aelf.com?subject=aelf节点竞选报名申请--单位名称/2019年X月X日&body=(请阐述您的节点申请内容，包括申请单位、联系方式、实力描述、愿景展望等)">
                            <app-button text="Mail registration" ></app-button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="app-modal" [style.height]="modalHeight + 'px'" *ngSwitchCase="'show'" >
    <!-- <div class="app-modal" [style.height]="modalHeight + 'px'" > -->
        <div class="space"></div>
        <div class="template-body pl100 mt100 pr100" [style.height]="modalHeight - 270 + 'px'">
            <div class="fs-30 mb20">{{"Node Candidate Requirements" | translate}}</div>
            <div class="fs-20 mb20">{{"Token Requirements: Individuals or teams applying for BP nodes need to hold 100,000 ELFs" | translate}}</div>
            <div class="fs-20 mb20">{{"Hardware Requirements: 8 cores / 16GB / 5TB / 100Mbps" | translate}}</div>
            <div class="fs-30 mb20">{{"How to Become a Node" | translate}}</div>
            <div class="fs-20 mb20">{{"In the creation phase, 17 BP nodes will be set up, and the top 17 votes will be the BP nodes." | translate}}</div>
            <div class="fs-20 mb20">{{"Become a BP node to participate in blocks packaging and get awards" | translate}}</div>
            <div class="fs-30 mb20">{{"Benefits of BP Nodes" | translate}}</div>
            <div class="fs-20 mb20">{{"1. Block production incentive: All nodes share 12% of the total circulation of ELF revenue. The more votes you get, the more re-elected you will get, the higher the rewards you will get." | translate}}</div>
            <div class="fs-20 mb20">{{"2. Block reward: BP node will get block reward according to the corresponding weight (basic income + voting weight + re-election weight)" | translate}}</div>
            <div class="fs-20 mb20">{{"3. GAS fee: platform GAS fee revenue" | translate}}</div>
            <div class="fs-20 mb20">{{"4. Index Fee Income: Side Chain Index Fee Income" | translate}}</div>
            <div class="fs-20 mb20">{{"5. Side Chain Dividend Benefit: Developer Support Measuring Chain Dividend Benefit" | translate}}</div>
            <div class="fs-30 mb10">{{"Income distribution ratio" | translate}}</div>
            <div class="mb20">
                <table>
                    <tr>
                        <td>{{"BP Basic Benefits" | translate}}</td>
                        <td>{{"BP Vote Weight Dividend" | translate}}</td>
                        <td>{{"BP Re-election Weight Dividend" | translate}}</td>
                        <td>{{"Candidate node dividend" | translate}}</td>
                        <td>{{"User voting dividend" | translate}}</td>
                    </tr>
                    <tr>
                        <td>40%</td>
                        <td>10%</td>
                        <td>10%</td>
                        <td>20%</td>
                        <td>20%</td>
                    </tr>
                </table>
            </div>
            <div class="fs-30 mb20">{{"Revenue forecast" | translate}}</div>
            <div class="fs-20 mb20">{{"2 ELF for each packaged block produced" | translate}}</div>
            <div class="fs-20 mb20">{{"The number of blocks produced by 17 super nodes per day is about 21600." | translate}}</div>
            <div class="fs-20 mb20">{{"21600/7 super nodes = 1270.5 (calculation generates a block every 4 seconds, producing blocks 21600 per day; single BP node packs 1270 blocks per month)" | translate}}</div>
            <div class="fs-20">{{"Assuming that the total number of votes is 300 million, the total number of votes obtained by 20 million votes will be cast by the node, and the election node will receive 80% of the node's revenue as revenue." | translate}}</div>
        </div>
        <div class="modal-close">
            <app-button text="Close Window" (click)="closeModal()" ></app-button>
        </div>
    </div>
</div>
