.campaign-node-infomation {
    background: rgba(255, 255, 255, 0.1);
}

.download {
    text-decoration: underline;
}

.app-modal {
    position: fixed;
    left: 0;
    top: 0;
    background: #651d9e;
    color: #fff;
    width: 100%;
    z-index: 9;
}

.app-modal > p {
    font-size: 50px;
}

.space {
    height: 70px;
    background: rgba(0, 0, 0, .1);
    width: 100%;
}

.template-body {
    overflow: auto;
}

.modal-close {
    text-align: center;
}

.fs-20 {
    margin-left: 2em;
}

.fs-30 {
    font-weight: 700;
}

table {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .1);
    margin: 4em;
}

table td {
    border: 1px solid #fff;
    text-align: center;
    vertical-align: middle;
    height: 2vw;
}

img {
    margin-top: 70px;
}

.head {
    text-align: center;
    background: #421b6b;
}

.button {
    text-align: center;
}

.align-center {
    text-align: center;
}

@media screen and (max-width: 640px) {
    #application .ptl22-txt {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pr100 {
        padding-right: 20px;
    }

    .pl100 {
        padding-left: 20px;
    }

    table {
        margin:10px;
    }
}

@media screen and (max-width: 1840px) {
    .col12-lg-4 {
        width: 50%;
    }
}

@media screen and (max-width: 1310px) {
    .col12-lg-4 {
        width: 100%;
    }
}

.more {
    min-height: 200px;
    background: rgba(255, 255, 255, .1);
    text-align: center;
    line-height: 200px;
    border-radius: 8px;
    min-height: 200px;
}

.more:hover {
    background: rgba(255, 255, 255, .3);
}
