<div class="app-node" [ngSwitch]="showModal" >
    <div *ngSwitchDefault>
        <section class="section section-8 anchor-hd">
                <app-application
                    type="left"
                    title="节点竞选"
                    brief="AELF是一个高效的、深度可定制的OS，我们期待它能成为区块链里的Linux，提供一个高效可以稳定运行的商业应用的可靠配置。本介绍页面将说明AELF节点竞选规则，包括竞选条件以及收益等。"
                    imgurl="../../../assets/newImages/Node.png"
                    [showbtn]="true"
                    buttontext="查看详情"
                    (onClicked)="buttonClick($event)"
                    [imgWidth]="'90%'"
                ></app-application>
        </section>
        <section class="section section-8 anchor-hd">
            <div class="pt100 pb100 pl100 pr100">
                <div class="fs-30 color-white pt20 pb20 align-center">{{"节点展示" | translate}}</div>
                <div class="node-list clearfix">
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="node">
                            <app-nodelist
                                campaigner="xxx公司"
                                describe="xxxxxx"
                                number="数量等"
                                nodename="节点名称"
                            ></app-nodelist>
                        </div>
                    </div>
                    <div class="col12-lg-4">
                        <div class="more fs-22 color-white">
                            {{"更多节点加入中..." | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-8 anchor-hd">
            <div class="pt100 pb100 pl100 pr100">
                <div class="fs-30 color-white pt20 pb20 head">{{"竞选节点" | translate}}</div>
                <div class="campaign-node-infomation pt20 pb20 pl20 pr20 ptl22-txt color-white">
                    <div class="fs-22 mb20" (click)="getModalShow()">{{"开始时间: 2019年4月15日" | translate}}</div>
                    <div class="fs-22 mb20">{{"截止时间: 2019年10月15日" | translate}}</div>
                    <div class="fs-22 mb20">{{"下载节点竞选申请表:" | translate}} <a class="download" href="javascript:void(0);">{{"《AELF节点竞选申请表》（点击下载）" | translate}}</a></div>
                    <div class="fs-22 mb40">{{"公示与投票: 竞选情况将在官网与社群等官方渠道进行公示；公示时间为10天；公示结束后进入BP节点竞选投票" | translate}}</div>
                    <div class="button">
                        <app-button text="邮件报名" linkurl="mailto:contact@aelf.io" ></app-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="app-modal" [style.height]="modalHeight + 'px'" *ngSwitchCase="'show'" >
    <!-- <div class="app-modal" [style.height]="modalHeight + 'px'" > -->
        <div class="space"></div>
        <div class="template-body pl100 mt100 pr100" [style.height]="modalHeight - 270 + 'px'">
            <div class="fs-30 mb20">{{"（一）节点竞选者要求：" | translate}}</div>
            <div class="fs-20 mb20">{{"持币要求： 申请BP节点的个人或团队需要持有10万个ELF" | translate}}</div>
            <div class="fs-20 mb20">{{"硬件要求：8核 / 16GB / 5TB / 100Mbps" | translate}}</div>
            <div class="fs-30 mb20">{{"（二）如何成为正式节点：" | translate}}</div>
            <div class="fs-20 mb20">{{"创世阶段将设置17个BP节点，由全网投票得票数最多的前17名担任BP节点。" | translate}}</div>
            <div class="fs-20 mb20">{{"成为BP节点参与区块的生产并获得奖励。" | translate}}</div>
            <div class="fs-30 mb20">{{"（三）BP节点的收益" | translate}}</div>
            <div class="fs-20 mb20">{{"1、区块生产奖励：所有节点共享发行量总量12%的ELF收益。获得票数越多，连任届数越多，获得的奖励将会越高。" | translate}}</div>
            <div class="fs-20 mb20">{{"2、出块奖励：BP节点将按相应权重获得出块奖励（基本收益 + 得票权重 + 连任权重）" | translate}}</div>
            <div class="fs-20 mb20">{{"3、GAS费用：平台GAS费收益'" | translate}}</div>
            <div class="fs-20 mb20">{{"4、索引费收益：侧脸索引费收益" | translate}}</div>
            <div class="fs-20 mb20">{{"5、测链分红收益：开发者扶持测链分红" | translate}}</div>
            <div class="fs-30 mb10">{{"（四）收益分配比例：" | translate}}</div>
            <div class="mb20">
                <table>
                    <tr>
                        <td>{{"BP基本收益" | translate}}</td>
                        <td>{{"BP得票权重分红" | translate}}</td>
                        <td>{{"BP连任权重分红" | translate}}</td>
                        <td>{{"候选节点分红" | translate}}</td>
                        <td>{{"用户投票分红" | translate}}</td>
                    </tr>
                    <tr>
                        <td>40%</td>
                        <td>10%</td>
                        <td>10%</td>
                        <td>20%</td>
                        <td>20%</td>
                    </tr>
                </table>
            </div>
            <div class="fs-30 mb20">{{"（五）收益预测：" | translate}}</div>
            <div class="fs-20 mb20">{{"每生产的打包区块，奖励2ELF；" | translate}}</div>
            <div class="fs-20 mb20">{{"17个超级节点每日出块数量约为： 21600；" | translate}}</div>
            <div class="fs-20 mb20">{{"21600 / 7个超级节点 = 1270.5（计算按每4秒生成一个区块，每天生产区块21600；单个BP节点打包月1270块）" | translate}}</div>
            <div class="fs-20">{{"假设总投票数3亿计算，获得2千万票所获票数全部由该节点投出，竞选节点将获得节点收益80%作为收益。" | translate}}</div>
        </div>
        <div class="modal-close">
            <app-button text="关闭窗口" (click)="closeModal()" ></app-button>
        </div>
    </div>
</div>
