<div class="container index-step" id="skrollr-body">
  <section class="section section-22 anchor-hd ec-bg1">
    <div class="wrapper pt180 pb180">
      <div class=" pic-txt-list-22 ta-c color-white clearfix vedio-size block-reverse">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="Block-Explore pt50">
              <h3 class="fs-36 mb20  ta-l"><strong>{{"aelf Block Explorer" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"banner description" | translate}}</p>

              <div class="ta-c  color-white mb40 mt40 btn-width250">
                <div class="meenu brow-f ">
                  <span class="fs-14 brow"><img src="assets/images/brow.svg"
                                                alt="">{{"Block Explorer" | translate}}</span>
                  <ul class="fs-14 clearfix">
                    <!-- <li style="width: inherit"><a target="_blank"
                      href="http://aelf-explorer-test.aelf.io/"><p>{{"Main Chain AELF" | translate}}</p></a></li> -->
                    <li style="width: inherit"><a target="_blank"
                      href="https://explorer.aelf.io/"><p>{{"Main Chain AELF" | translate}}</p></a></li>
                    <li style="width: inherit; display: none;"><a target="_blank"
                      href="http://tdvv-explorer-test.aelf.io/"><p>{{"Side Chain tDVV" | translate}}</p></a></li>
                    <!-- <li style="width: inherit"><a target="_blank"
                      href="http://tdvw-explorer-test.aelf.io/"><p>{{"Side Chain tDVW" | translate}}</p></a></li>
                    <li style="width: inherit"><a target="_blank"
                      href="http://tdvx-explorer-test.aelf.io/"><p>{{"Side Chain tDVX" | translate}}</p></a></li>
                    <li style="width: inherit"><a target="_blank"
                      href="http://tdvy-explorer-test.aelf.io/"><p>{{"Side Chain tDVY" | translate}}</p></a></li>
                    <li style="width: inherit"><a target="_blank"
                      href="http://tdvz-explorer-test.aelf.io/"><p>{{"Side Chain tDVZ" | translate}}</p></a></li> -->
                  </ul>
                </div>
                <div class="fs-14 lh-28 clearfix sm-hidden ta-l">
                  <p class="fs-14 mt10"><a target="_blank" class="color-27BFFF ordinary-link"
                                           [href]="currentLanguage === '中文' ? 'https://aelf-io.gitbook.io/aelf-block-explorer-zh/':'https://aelf-io.gitbook.io/aelf-block-explorer-en/'">{{"View Guideline" | translate}}</a>
                  </p>
                </div>
                <div class="fs-14 mt20 lh-28  clearfix lg-hidden">
                  <a target="_blank" class="color-27BFFF"
                     [href]="currentLanguage === '中文' ? 'https://aelf-io.gitbook.io/aelf-block-explorer-zh/':'https://aelf-io.gitbook.io/aelf-block-explorer-en/'">
                    <p class="fs-14 ordinary-btn">{{"View Guideline" | translate}}</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img style="max-height: 300px" src="assets/images/br1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-22 anchor-hd1 ec-bg1">
    <div class="wrapper cont pt100 pb100 bbbb">
      <div class="pic-txt-list-22 ta-c color-white clearfix pb60"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <h3 class="fs-36 pt20  mb20 ta-l"><strong>{{"Monitor and Search for Information" | translate}}</strong></h3>
            <p class="fs-18 lh-16em ta-l">{{"Monitor and Search for Information-sum" | translate}}</p>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <img  src="assets/images/bro_2.png" alt="">
        </div>
      </div>
      <div class="pic-txt-list-22 ta-c color-white clearfix pb60"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <img  src="assets/images/bro_3.png" alt="">
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <h3 class="fs-36 mb20 pt20  ta-l"><strong>{{"Participate in Node Elections" | translate}}</strong></h3>
            <p class="fs-18 lh-16em ta-l">{{"Participate in Node Elections-sum" | translate}}</p>
          </div>
        </div>
      </div>
      <div class="pic-txt-list-22 ta-c color-white clearfix pb60"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
            <h3 class="fs-36 mb20 pt20  ta-l"><strong>{{"Purchase Resource Token" | translate}}</strong></h3>
            <p class="fs-18 lh-16em ta-l">{{"Purchase Resource Token-sum" | translate}}</p>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <img  src="assets/images/bro_4.png" alt="">
        </div>
      </div>
      <div class="pic-txt-list-22 ta-c color-white clearfix"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <img src="assets/images/bro_5.png" alt="">
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <h3 class="fs-36 mb20 pt20 ta-l"><strong>{{"Viewing Contracts" | translate}}</strong></h3>
            <p class="fs-18 lh-16em ta-l">{{"Viewing Contracts-sum" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
