<div class="application-page">
    <section class="section section-22 anchor-hd">
        <app-application
            type="left"
            title="区块浏览器"
            brief="安全可靠的区块浏览器，按照区块、交易或地址进行搜索，界面美观，为维度统计信息，为您打造超好用的区块浏览器"
            imgurl="assets/images/icon-9.png"
            linkurl="#"
            [showbtn]="true"
        ></app-application>
    </section>
    <section class="section section-22 anchor-hd">
        <app-application 
            type="right"
            title="AELF钱包"
            brief="去中心化钱包，安全、高效、便捷的数字资产管理应用。"
            imgurl="assets/images/icon-9.png"
            linkurl="#"
            [showbtn]="true"
        ></app-application>
    </section>
    <section class="section section-22 anchor-hd">
        <app-application
            type="left"
            title="Candy Box"
            brief="糖果系统在aelf价值体制下，全球80万用户在aelf注册，用户每日参与空投红包、邀请好友、点赞、分享等活动，Telegram社群规模10万，
            覆盖地区 美国、日本、韩国、越南、俄罗斯等。"
            imgurl="assets/images/icon-9.png"
            linkurl="#"
            [showbtn]="true"
        ></app-application>
    </section>
    <div class="more fs-20">{{ "更多精品应用将会在未来不断收录，敬请期待" | translate }}</div>
</div>

