<div class="application-page">
    <section class="section section-22 anchor-hd">
        <app-application
            type="left"
            title="Block Explorer"
            brief="A secure and reliable Block Explorer that can perform a one-stop search by block, transaction or address. It filters redundant information while protecting user privacy, visualizing all data, and improving information search efficiency to give you the best user experience."
            imgurl="assets/newImages/explorer.png"
            linkurl="https://explorer-test.aelf.io/"
            [showbtn]="true"
        ></app-application>
    </section>
    <section class="section section-22 anchor-hd">
        <app-application 
            type="right"
            title="aelf Wallet"
            brief="A secure and reliable Block Explorer that can perform a one-stop search by block, transaction or address. It filters redundant information while protecting user privacy, visualizing all data, and improving information search efficiency to give you the best user experience."
            imgurl="assets/newImages/wallet.png"
            linkurl="https://wallet-test.aelf.io"
            [showbtn]="true"
        ></app-application>
    </section>
    <section class="section section-22 anchor-hd">
        <app-application
            type="left"
            title="CandyBox"
            brief="CandyBox is one of aelf's star project that gained tremendous popularity across different projects and blockchain industry. It currently has more than 1,000,000 users worldwide, covering 221 countries and over 16,500 cities. In its strategic core lies the continuous incentives for the community to consistently contribute and and participate in the project's community operations. It aims to help projects in their early stage to encourage active community engagement while building a clear empirical understanding of the community's demographic. Currently, there are more than ten high-quality projects such as aelf, OracleChain and Cortex that have built their global community millions strong, through CandyBox."
            imgurl="assets/newImages/candy.png"
            linkurl="https://candybox.ai"
            [showbtn]="true"
        ></app-application>
    </section>
    <section class="section section-22 anchor-hd pt30 pb30">
        <div class="more fs-20">{{ "More high-quality applications will be included in the future, please look forward to it." | translate }}</div>
    </section>
</div>

