.application-page {
    position: relative;
}

.application-page .more {
    width: 90%;
    bottom: 30px;
    height: 50px;
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    color: #FFF;
}

@media only screen and (max-width: 1024px) {
    #application .ptl22-txt {
        padding: 96px 20px;
    }
}