<div class="container index-step" id="skrollr-body">
  <section class="section section-22 anchor-hd ec-bg1" id="test-net">
    <div class=" pt80 pb80">
        <div class="wrapper ta-c color-white clearfix vedio-size">
        <div class="col12-sm-12 ptl22-item">
          <div class="swiper-container" id="swiper-container-after">
            <div class="swiper-wrapper pb130">
              <div 
              *ngFor="let item of swiperList"
              class="swiper-slide col12-sm-12 ptl22-item">
                <div class="ta-c color-white clearfix block-reverse">
                  <div class="col12-sm-6 ptl22-item">
                    <div class="ptl22-box">
                      <div class="ptl22-txt pro-node-of-node">
                        <h3 class="fs-36 mb20 pt220 ta-l"><strong>{{item.title}}</strong></h3>
                        <p class="fs-18 lh-16em-3over mb40 ta-l">{{item.desc}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col12-sm-6 ptl22-item">
                    <div class="ptl22-box">
                      <img style="max-height:488px" [src]="item.leftImg ? item.leftImg.url : item.rightImg.url" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div 
            id="swiper-pagination-after"
            class="swiper-pagination" style="margin-top: 70px"></div>
            <!--分页器。如果放置在swiper-container外面，需要自定义样式。-->
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section section-13 anchor-bd ec-bg1">
    <div class="cont pt10">
      <div class="wrapper clearfix"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="clearfix">
          <div class="col12-tn-12 ta-l pt10 tn-show  become-node">
            <h3 class="fs-36 lh-16em pb10 color-white ta-l"><strong>{{"become-node" | translate}}</strong> </h3>
            <!-- <h3 class="fs-18 lh-16em  color-white ta-l">{{"become-node-content" | translate}} <a target="_blank" class='ordinary-link fs-18 ml10 sm-hidden' href="https://explorer-test.aelf.io/vote/election"> {{"apply now" | translate}}</a></h3> -->
            <h3 class="fs-18 lh-16em  color-white ta-l">{{"become-node-content" | translate}} <a target="_blank" class='ordinary-link fs-18 ml10 sm-hidden' href="https://explorer.aelf.io/vote/election"> {{"apply now" | translate}}</a></h3>
            <!-- <div class="lg-hidden ta-c"><a target="_blank" class=' fs-18 ml10 ' href="https://explorer-test.aelf.io/vote/election"><p style="height: 28px;line-height: 24px;width: 250px;margin: 0 auto 20px;border-radius: 1px;" class="ordinary-btn">{{"apply now" | translate}}</p> </a></div> -->
            <div class="lg-hidden ta-c"><a target="_blank" class=' fs-18 ml10 ' href="https://explorer.aelf.io/vote/election"><p style="height: 28px;line-height: 24px;width: 250px;margin: 0 auto 20px;border-radius: 1px;" class="ordinary-btn">{{"apply now" | translate}}</p> </a></div>
          </div>
        </div>
      </div>
      <div class="wrapper color-white clearfix mb30 mt30 ec-2-container inline-block flex-wrap "
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="ptl22-item ec-2-item">
          <div class="wap">
            <div class="pt20 pb10">
              <img style="height: 65px;margin-bottom: 22px" src="assets/images/af_icon1.png" alt="">
              <h3 class="fs-24 mb10 color-white"><strong>{{"step-1" | translate}}</strong></h3>
              <p class="lh-16em color-white fs-14">{{"step-1_content" | translate}}</p>
            </div>
          </div>
        </div>
        <div class=" ptl22-item ec-2-item -align-center">
          <div class="wap">
            <div class="pt20 pb10">
              <img style="height: 65px;margin-bottom: 22px" src="assets/images/af_icon2.png" alt="">
              <h3 class="fs-24 mb10 color-white"><strong>{{"step-2" | translate}}</strong></h3>
              <p class="fs-14 lh-16em color-white">{{"step-2_content" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="ptl22-item ec-2-item -align-center">
          <div class="wap">
            <div class="pt20 pb10">
              <img style="height: 65px;margin-bottom: 22px" src="assets/images/af_icon3.png" alt="">
              <h3 class="fs-24 mb10 color-white"><strong>{{"step-3" | translate}}</strong></h3>
              <p class="fs24 lh-16em color-white">{{"step-3_content" | translate}}</p>
            </div>
          </div>
        </div>
        <div class=" ptl22-item ec-2-item -align-right">
          <div class="wap">
            <div class="pt20 pb10">
              <img style="height: 65px;margin-bottom: 22px" src="assets/images/af_icon4.png" alt="">
              <h3 class="fs-24 mb10 color-white"><strong>{{"step-4" | translate}}</strong></h3>
              <p class="fs-14 lh-16em color-white">{{"step-4_content" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cont mt80">
      <div class="txt">
        <div class="wrapper clearfix"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div class="clearfix">
            <div class="col12-tn-12 ta-l pt10 tn-show mb30 vote-node">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <!-- <p class="fs-36 mb15 color-white"><b>{{"vote-node" | translate}}</b> <a target="_blank" class="ordinary-link fs-14 sm-hidden" href="https://explorer-test.aelf.io/vote/election">{{"more" | translate}}</a></p> -->
              <p class="fs-36 mb15 color-white"><b>{{"vote-node" | translate}}</b> <a target="_blank" class="ordinary-link fs-14 sm-hidden" href="https://explorer.aelf.io/vote/election">{{"more" | translate}}</a></p>
              <p class="fs-18 mb15 color-white">{{"in-aelf-eco" | translate}}</p>
              <!-- <h3 class="lg-hidden ta-c"><a target="_blank" style="margin: 0 auto" class="ordinary-link fs-14" href="https://explorer-test.aelf.io/vote/election">{{"more" | translate}}</a></h3> -->
              <h3 class="lg-hidden ta-c"><a target="_blank" style="margin: 0 auto" class="ordinary-link fs-14" href="https://explorer.aelf.io/vote/election">{{"more" | translate}}</a></h3>
            </div>
          </div>
        </div>
        <div class="wrapper color-white clearfix mb30 pr40 mt10"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div class="col12-sm-6 mb20 ptl22-item home-1-item">
            <div class="wrap">
              <div class="img-content">
                <img style="max-width: 88px;margin-bottom: 22px" src="assets/images/af_icon5.png" alt="">
              </div>
              <div class="txt-content">
                <h3 class="fs-24 mb10 color-white"><strong>{{"voting" | translate}}</strong></h3>
                <!-- <p class="lh-16emr color-white fs-14">{{"user-can-sel" | translate}} <a target="_blank" class="ordinary-link fs-14 ml10" [href]="currentLanguage === '中文' ? 'https://app.gitbook.com/@aelf-io/s/node-zh/wei-jie-dian-tou-piao' : 'https://aelf-io.gitbook.io/node-en-1/voting-for-members '">{{"tutorial" | translate}}</a></p> -->
                <p class="lh-16em color-white fs-14">{{"user-can-sel" | translate}} <a target="_blank" class="ordinary-link fs-14 ml10" [href]="currentLanguage === '中文' ? 'https://app.gitbook.com/@aelf-io/s/node-zh/wei-jie-dian-tou-piao' : 'https://aelf-io.gitbook.io/node-en-1/voting-for-members '">{{"tutorial" | translate}}</a></p>
              </div>
            </div>
          </div>
          <div class="col12-sm-6 mb20 ptl22-item home-1-item">
            <div class="wrap">
              <div class="img-content">
                <img style="max-width: 88px;margin-bottom: 22px" src="assets/images/af_icon6.png" alt="">
              </div>
              <div class="txt-content">
                <h3 class="fs-24 mb10 color-white"><strong>{{"redemption" | translate}}</strong></h3>
                <p class="lh-16em color-white fs-14">{{"redemption-content" | translate}} <a target="_blank" [href]="currentLanguage === '中文' ? 'https://app.gitbook.com/@aelf-io/s/node-zh/shu-hui-xuan-piao':'https://aelf-io.gitbook.io/node-en-1/redemption-of-votes'" class="ordinary-link fs-14 ml10">{{"tutorial" | translate}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cont mt80" *ngIf="productionNodesList.length">
      <div class="txt">
        <div class="wrapper clearfix"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div class="clearfix">
            <div class="col12-tn-12 ta-l pt10 tn-show mb30 int-of-pro">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <p class="fs-36 mb15 color-white"><b>{{"int-of-pro" | translate}}</b></p>
            </div>
          </div>
        </div>
        <div class="wrapper color-white clearfix mb30  pr40 mt10"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div 
          *ngFor="let item of productionNodesList"
          class="col12-sm-6 mb20 ptl22-item home-1-item">
            <div class="wrap">
              <div class="img-content">
                <img style="max-width: 88px;margin-bottom: 22px" [src]="item.img.url" [alt]="item.title">
              </div>
              <div class="txt-content">
                <h3 class="fs-24 mb10 color-white">
                  <strong>{{item.title}}</strong>
                  <a class="ordinary-btn brow-f ml10 fs-14 mt-5" target="_blank"
                    [href]="item.website">{{"website" | translate}}</a>
                </h3>
                <p class="lh-22em color-white fs-14">{{item.desc}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section section-13 anchor-bd2 ec-bg1">

    <div class="cont  pt80 pb60">
      <div class="txt">
        <div class="wrapper clearfix"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div class="clearfix">
            <div class="col12-tn-12 ta-l pt10 tn-show mb30 how-to-pur-res">
              <!-- <h3 class="ff-cgb fs-100 color-white lh-9em mb5">Adviser</h3> -->
              <!-- <p class="fs-36 mb15 color-white"><b>{{"how-to-pur-res" | translate}}</b><a target="_blank" class="ordinary-link fs-14 ml10 sm-hidden" href="https://explorer-test.aelf.io/resource" >{{"more" | translate}}</a></p> -->
              <p class="fs-36 mb15 color-white"><b>{{"how-to-pur-res" | translate}}</b><a target="_blank" class="ordinary-link fs-14 ml10 sm-hidden" href="https://explorer.aelf.io/resource" >{{"more" | translate}}</a></p>
              <p class="fs-18 color-white">{{"how-to-pur-res-sum" | translate}}</p>
              <!-- <h3 class="lg-hidden ta-c pt20"><a target="_blank" style="margin: 0 auto" class="ordinary-link fs-14" href="https://explorer-test.aelf.io/proposal" >{{"more" | translate}}</a></h3> -->
              <h3 class="lg-hidden ta-c pt20"><a target="_blank" style="margin: 0 auto" class="ordinary-link fs-14" href="https://explorer.aelf.io/proposal" >{{"more" | translate}}</a></h3>
            </div>
          </div>
        </div>
        <div class="wrapper color-white clearfix mb30 pl40 pr40 mt10"
        data-bottom="transform:translate(0%, 30%); opacity:0;"
        data-center="transform:translate(0%, 0%); opacity:1;">
          <div class="col12-sm-6 ptl22-item home-1-item">
            <div class="wrap">
              <div class="img-content">
                <img style="max-width: 88px;margin-bottom: 22px" src="assets/images/af_icon7.png" alt="">
              </div>
              <div class="txt-content">
                <h3 class="fs-24 mb10 color-white"><strong>{{"buy-sell-res-tok" | translate}}</strong></h3>
                <p class="lh-16em color-white fs-14">{{"buy-sell-res-tok-sum" | translate}} <a target="_blank" [href]="currentLanguage === '中文' ? 'https://app.gitbook.com/@aelf-io/s/node-zh/zi-yuan-gou-mai':'https://aelf-io.gitbook.io/node-en-1/resources-purchasing'" class="ordinary-link fs-14 ml10">{{"tutorial" | translate}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cont">
      <div class="wrapper clearfix"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class=" clearfix">
          <div class="col12-tn-12 ta-l pt10 mb60 tn-show mb30 pro-init-imp">
            <h3 class="fs-36 mb15 color-white  ta-l"><strong>{{"pro-init-imp" | translate}}</strong>
              <!-- <a class="ordinary-link fs-14 sm-hidden" target="_blank" href="https://explorer-test.aelf.io/proposal" >{{"more" | translate}}</a></h3> -->
              <a class="ordinary-link fs-14 sm-hidden" target="_blank" href="https://explorer.aelf.io/proposal" >{{"more" | translate}}</a></h3>
            <h3 class="fs-18 lh-16em color-white  ta-l">{{"pro-init-imp_sum" | translate}}
              <a class="ordinary-link fs-18 sm-hidden" target="_blank" 
                href="https://explorer.aelf.io/proposal?#https%3A%2F%2Fexplorer.aelf.io%2Fviewer%2Fproposal.html%23%2Fapply">{{"Submit Proposal" | translate}}</a> -->
              </h3>
            <h3 class="lg-hidden ta-c pt10"><a class="fs-14" style="margin: 0 auto" href="https://explorer.aelf.io/proposal?#https%3A%2F%2Fexplorer.aelf.io%2Fviewer%2Fproposal.html%23%2Fapply" ><p style="width: 250px;height: 28px;line-height: 28px;padding: 0;margin: 10px auto;border-radius: 1px;" class="ordinary-btn">{{"proposal now" | translate}}</p></a></h3>
            <!-- <h3 class="lg-hidden ta-c pt10"><a class="ordinary-link fs-14" style="margin: 0 auto" href="https://explorer-test.aelf.io/proposal" >{{"more" | translate}}</a></h3> -->
            <h3 class="lg-hidden ta-c pt10"><a class="ordinary-link fs-14" style="margin: 0 auto" href="https://explorer.aelf.io/proposal" >{{"more" | translate}}</a></h3>
          </div>
        </div>
      </div>

      <div class="wrapper color-white clearfix mb30  ec-1-container"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-4 ptl22-item mb20 ec-1-item">
          <div class="ptl22-box">
            <div class="pb30">
              <h3 class="fs-24 color-white aaa"><strong><i>{{"apply" | translate}}</i></strong></h3>
              <p class="lh-16em color-white pl20 pr20 fs-14 ta-l">{{"step-1-content" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-4 ptl22-item mb20 ec-1-item -align-center">
          <div class="ptl22-box">
            <div class="pb30">
              <h3 class="fs-24 mb10 color-white aaa"><strong><i>{{"voting" | translate}}</i></strong></h3>
              <p class="fs-14 lh-16em color-white pl20 pr20 ta-l">• {{"step-2-1-content" | translate}}</p>
              <p class="fs-14 lh-16em color-white pl20 pr20 ta-l">• {{"step-2-2-content" | translate}}</p>
              <p class="fs-14 lh-16em color-white pl20 pr20 ta-l">• {{"step-2-3-content" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-4 ptl22-item mb20 ec-1-item -align-center">
          <div class="ptl22-box">
            <div class="pb30">
              <h3 class="fs-24 mb10 color-white aaa"><strong><i>{{"execute" | translate}}</i></strong></h3>
              <p class="fs-14 lh-16em color-white pl20 pr20 ta-l">• {{"step-3-1-content" | translate}}</p>
              <p class="fs-14 lh-16em color-white pl20 pr20 ta-l">• {{"step-3-2-content" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
