@import 'https://cdn.bootcss.com/jquery.perfect-scrollbar/0.8.0/css/perfect-scrollbar.min.css';
.ff-arial-zh,
.ff-cg-zh,
.ff-cgb-zh,
.ff-dbb-zh,
.ff-hnlt-zh,
.ff-my-zh,
.ff-ss-zh,
.ff-tnri-zh {
    font-family: Arial, "Times New Roman", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-arial-ja,
.ff-cg-ja,
.ff-cgb-ja,
.ff-dbb-ja,
.ff-hnlt-ja,
.ff-my-ja,
.ff-ss-ja,
.ff-tnri-ja {
    font-family: "MS PGothic", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light" !important;
}

.ff-ja {
    font-family: 'MS PGothic', Osaka, Arial, sans-serif !important;
}

.ff-arial-en {
    font-family: Arial, "Times New Roman", arial, SimSun, sans-serif, "Microsoft Yahei", "STHeiti Light"
}

.ff-my-en {
    font-family: Arial, "Times New Roman", "Microsoft Yahei", SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-tnri-en {
    font-family: TimesNewRomanItalic, SimSun, sans-serif, arial, "STHeiti Light"
}

.font-en-en {
    font-family: CenturyGothicBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-hnlt-en {
    font-family: HelveticaNeueLTProLt, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-dbb-en {
    font-family: DevilBreezeBold, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-cg-en {
    font-family: centurygothic, SimSun, sans-serif, arial, "STHeiti Light"
}

.ff-ss-en {
    font-family: SimSun, sans-serif, arial, "STHeiti Light"
}

.perfect-scrollbar-container {
    position: absolute;
    overflow: hidden;
    padding-right: 15px;
}

.active-header {
    background-color: rgba(105, 11, 177, .5);
}

.pie-content-width {
    width: 380px !important;
}

@media screen and (min-width: 2200px) {
    .col-ysg-2 {
        float: left;
        width: 16.66667%;
    }
}

.fix-bottom-right:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 1px;
    height: 30px;
    background-color: #27BFFF00;
    -webkit-transform: translate(0, -25px);
    -moz-transform: translate(0, -25px);
    -ms-transform: translate(0, -25px);
    transform: translate(0, -25px);
}

#biyong {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    background: url("../../../assets/images/biyong-o.png");
}

#biyong:hover {
    background: url("../../../assets/images/biyong-o-b.png");
}

/* 2018.08.28 新增公告, 调整banner样式 */

.header-white {
    /*background-color: rgba(255,255,255, 0.2);*/
}

.aelf-notice {
    text-align: center;
    height: 30px;
    padding: 118px 18px 118px 18px;
    z-index: 3;
    position: relative;
    color: #FFF;
}

.aelf-notice a:hover {
    color: #260a7f;
    cursor: pointer;
}

.aelf-notice-text {
    z-index: 102;
    width: 80%;
    max-width: 900px;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 18px;
    left: 50%;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #8e21d0, #42018f);
    color: #FFF;
    font-size: 14px;
    display: none;
}

.aelf-notice-title {
    font-size: 36px;
    text-align: center;
}

.aelf-notice-subtitle {
    font-size: 18px;
    text-align: center;
    padding: 3px 0 8px 0;
}

.aelf-notice-close {
    text-align: center;
    border-radius: 3px;
    border: 1px solid #eee;
    width: 100px;
    margin: 15px auto 0 auto;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}


/* two stage nav */

.header .nav li {
    position: relative;
    min-width: 66px;
    text-align: center;
}

.header .nav li.active a span {
    display: inline;
    border-bottom: 4px solid #7DBDEB;
}

.two-stage-nav {
    position: absolute;
    width: 66px;
    color: #CFB4E0;
    text-align: left;
    padding-top: 20px;
    text-align: center;
}

.two-stage-nav > div span {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    display: inline-block;
    margin-bottom: 4px;
}

.two-stage-nav > div:hover span {
    border-bottom:  1px solid #FFF;
}

.menu {
    background: url(../../../assets//newImages/menu.png) no-repeat;
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
    float: left;
    display: none;
}



@media only screen and (max-width: 1434px) {
    .fs-20 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1590px) {

    .header .nav li  {
        margin-right: 10px;
    }
}


@media only screen and (max-width: 1280px) {
    .aelf-notice {
        padding: 68px 18px 118px 18px;
    }

    .menu {
        display: block;
    }

    .nav li {
        float: inherit;
    }

    .nav {
        float: inherit;
        position: absolute;
        top: 60px;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        left: 0;
        
    }

    .header .nav li  {
        text-align: left;
        padding-left: 20px; 
    }

    .two-stage-nav {
        position: relative;
        padding-top: 0;
        padding-left: 24px;
        width: auto;
        text-align: left;
    }


}

@media only screen and (max-width: 600px) {
    .hide-small {
        display: none;
    }
    .aelf-notice-text {
        z-index: 102;
        width: 100%;
        max-width: 900px;
        border: 3px solid #fff;
        border-radius: 15px;
        padding: 18px;
        left: 0;
        position: fixed;
        top: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        background: linear-gradient(to right, #8e21d0, #42018f);
        color: #FFF;
        font-size: 14px;
        display: none;
        overflow-y: scroll;
        height: 80%;
        top: 10%;
    }
}