.icon-list {
    width: 100%;
}

.pic {
    width: 20%;
    float: left;
}

.pic-bd {
    text-align: center;
    padding: 0 20px;
}

.title {
    text-align: center;
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.line-l {
    height: 1px;
    margin-top: 7px;
    width: 45%;
    background: rgba(255, 255, 255, .1);
}

.dividing-line {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.dividing-line .line {
    width: 45%;
    height: 1px;
    background: rgba(255, 255, 255, .1);
}

.tips {
    width: 10%;
    text-align: center;
}

@media only screen and (max-width: 714px) {
    .dividing-line .line {
        margin: 0;
        width: 30%;
    }

    .tips {
        width: 40%;
        text-align: center;
    }
    
}