<div class="app-community">
    <section class="section section-8 anchor-hd">
        <div class="cont pt300 pb300">
                <div class="pic-txt-list-22 ta-c color-white clearfix">
                        <div class="col12-sm-6">
                            <div class="ptl22-box">
                                <div class="ptl22-txt">
                                    <h3 class="fs-30 mb20 text-left"><strong>{{ "aelf Community" | translate}}</strong></h3>
                                    <p class="fs-20 lh-16em text-left">{{ "Since inception, aelf has always adhered to the initial vision of driving positive changes in the society through technology and helping businesses focus on their core value delivery”. We designed and developed aelf to achieve this goal, and our tenacity attracted a large number of loyal fans across the world. Join our community and be a part of our effort to change the world step by step!" | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col12-sm-6">
                            <div class="ptl22-box image-box">
                                <div class="ptl22-img">
                                    <div class="img">
                                        <img src="assets/newImages/Community.png" alt="">
                                    </div>
                                </div>
                                <a href="https://www.facebook.com/aelfofficial/" target="_blank" class="co co-facebook" (mouseenter)="removeClass()"></a>
                                <a href="JavaScript:void(0);" target="_blank" class="co co-wechat" (mouseenter)="removeClass('wechat')" (mouseleave)="hideQrcode()" ></a>
                                <a href="https://t.me/aelfblockchain" target="_blank" class="co co-tme" (mouseenter)="removeClass()"></a>
                                <a href="https://twitter.com/aelfblockchain" target="_blank" class="co co-twitter" (mouseenter)="removeClass()"></a>
                                <a href="https://www.reddit.com/r/aelfofficial/" target="_blank" class="co co-reddit" (mouseenter)="removeClass()"></a>
                                <a href="https://www.linkedin.com/company/aelfblockchain/" target="_blank" class="co co-linkedin" (mouseenter)="removeClass()"></a>
                                <a href="https://github.com/aelfProject" target="_blank" class="co co-github" (mouseenter)="removeClass()"></a>
                                <a href="http://www.youtube.com/c/aelfblockchain" target="_blank" class="co co-youtube" (mouseenter)="removeClass()"></a>
                                <a href="https://medium.com/aelfblockchain" target="_blank" class="co co-medium" (mouseenter)="removeClass()"></a>
                                <a href="JavaScript:void(0);" class="qrcode"></a>
                            </div>
                        </div>
                </div>
        </div>
    </section> 
</div>