<div class="app-community">
    <section class="section section-8 anchor-hd">
        <div class="cont pt300 pb300">
                <div class="pic-txt-list-22 ta-c color-white clearfix">
                        <div class="col12-sm-6">
                            <div class="ptl22-box">
                                <div class="ptl22-txt">
                                    <h3 class="fs-30 mb20 text-left"><strong>{{ "AELF社区" | translate}}</strong></h3>
                                    <p class="fs-20 lh-16em-5over text-left">{{ "欢迎来到AELF社区，AELF拥有引以为傲的、基础广泛的各类活跃社区，在这里我们展示了各种不同平台和语言的官方社区。欢迎加入我们，和我们一道前行。" | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col12-sm-6">
                            <div class="ptl22-box image-box">
                                <div class="ptl22-img">
                                    <div class="img">
                                        <img src="assets/newImages/Community.png" alt="">
                                    </div>
                                </div>
                                <a href="https://www.facebook.com/aelfofficial/" target="_blank" class="co co-facebook" (mouseenter)="removeClass()"></a>
                                <a href="JavaScript:void(0);" target="_blank" class="co co-wechat" (mouseenter)="removeClass()"></a>
                                <a href="https://t.me/aelfblockchain" target="_blank" class="co co-tme" (mouseenter)="removeClass()"></a>
                                <a href="https://twitter.com/aelfblockchain" target="_blank" class="co co-twitter" (mouseenter)="removeClass()"></a>
                                <a href="https://www.reddit.com/r/aelfofficial/" target="_blank" class="co co-reddit" (mouseenter)="removeClass()"></a>
                                <a href="https://www.linkedin.com/company/aelfblockchain/" target="_blank" class="co co-linkedin" (mouseenter)="removeClass()"></a>
                                <a href="https://github.com/aelfProject" target="_blank" class="co co-github" (mouseenter)="removeClass()"></a>
                                <a href="http://www.youtube.com/c/aelfblockchain" target="_blank" class="co co-youtube" (mouseenter)="removeClass()"></a>
                            </div>
                        </div>
                </div>
        </div>
    </section> 
</div>