<div class="container index-step font-title" id="skrollr-body">
  <section class="section section-1 anchor-bd ec-bg1" id="index">
    <div class="wrapper">
      <div class="earth">
        <div class="webgl bg-img" style="background-image:url('../../assets/images/section-1-bg.png');"></div>
        <div class="earth-canvas">
          <div id="particles2"></div>
        </div>
      </div>
      <div class="txt color-white sssss">
        <h2 class="fs-45 mb30" style="font-weight: bold;">{{"dec-cl-com-blo-net" | translate}}</h2>
        <h3 class="fs-18">{{"t-l-blo-a-s-com-app" | translate}}</h3>
      </div>
      <div class="color-white lg-hidden bvaipi-btn">
        <div [ngClass]="_fontFamlily.ffMy" class="btns">
          <a target="_blank" [href]="currentLandscape" class="fs-14 ordinary-btn">
            <p class="fs-14 ordinary-btn">{{"aelf-landscape" | translate}}</p>
          </a>
        </div>

        <div [ngClass]="_fontFamlily.ffMy" class="btns mt20">
          <a target="_blank" [href]="currentEconomicPaper"
            class="fs-14 ordinary-btn">
            <p class="fs-14 ordinary-btn">{{"economic&gover-w-p" | translate}}</p>
          </a>
        </div>

        <div [ngClass]="_fontFamlily.ffMy" class="btns mt20" [ngSwitch]="currentLanguage">
          <a target="_blank" [href]="currentWhitePaper">
            <p class="fs-14 ordinary-btn">{{"aelf-w-p" | translate}}</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section 
    class="section section-22 anchor-bd ec-bg1" 
    id="mainnet-monitoring"
    *ngIf="mainnetStageInfo.stage"
  >
    <div class="cont">
      <div class="wrapper ta-c color-white clearfix mainnet-list-container"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">

        <div class="home-mainnet-monitoring" [ngStyle]="{'background-image': 'url(' + mainnetStageInfo.url + ')'}">
          <h2 class="fs-45 mb30 mainnet-stage-title">
            <strong>{{mainnetStageInfo.stage}}</strong>
          </h2>
          <h3 *ngIf="mainnetStageInfo.desc" class="m-b-45 fs-36">
            {{mainnetStageInfo.desc}}
          </h3>
          <a *ngIf="mainnetStageInfo.linkContent" [href]="mainnetStageInfo.linkSite" class="fs-14 pt10 ordinary-link special-color view-evolve-button">{{mainnetStageInfo.linkContent}}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-22 anchor-hd ec-bg1" id="test-net">
    <div class="cont pb20 pt40 pb40">
      <div class="wrapper ta-c color-white clearfix mainnet-list-container"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-12 ptl22-item">
          <div class="font-title miannet-article fs-36 ta-c">
            <strong>{{"aelf-mainnet-overview" | translate}}</strong>
          </div>
          <div class="home-2-item home-2-mb-20">
            <div class="home-item-wrap">
                <p class="fs-18 color-white m-b-17">{{"block-height" | translate}}</p>
                <span class="color-white fs-24 font-weight">{{mainnetSource.height | number }}</span>
            </div>
          </div>
          <div class="home-2-item home-2-mb-20">
            <div class="home-item-wrap">
                <p class="fs-18 color-white m-b-17">TPM</p>
                <span class="color-white fs-24 font-weight">{{mainnetSource.count | number }}</span>
            </div>
          </div>
          <div class="home-2-item">
            <div class="home-item-wrap">
                <p class="fs-18 color-white m-b-17">{{"accounts" | translate}}</p>
                <span class="color-white fs-24 font-weight">{{mainnetSource.accountNumber | number }}</span>
            </div>
          </div>
          <div class="home-2-item">
            <div class="home-item-wrap">
              <p class="fs-18 color-white m-b-17">{{"transactions" | translate}}</p>
              <span class="color-white fs-24 font-weight">{{mainnetSource.totalTxs | number}}</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="wrapper ta-c color-white clearfix"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;"
      >
        <h2 class="font-title ta-c fs-36 miannet-article"> <strong>{{"aelf-mainnet-ecosystem" | translate}} </strong> </h2>
        <div class="ptl22-item">
          <h3 class="mt58 fs-18 ta-l m-b-17">{{"aelf-mainnet-ecosystem-detail" | translate}}</h3>
          <div *ngIf="!hiddenElementList['mainnet-progress']" class="mb65 mt15 ecosystem-detail-link">
            <a class="fs-14 pt10 ordinary-link special-color net-button">{{"check-out-more-about-mainnet" | translate}}</a>
          </div>
        </div>
      </div>
      <div class="wrapper ta-c color-white clearfix"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;"
      *ngIf="mainnetEcosystem.length"
      >
        <div class="col12-sm-6 text-1 f-w-500" *ngFor="let item of mainnetEcosystem">
          <div class="home-3-item">
            <div class="wrap">
              <div class="img-content-wrap" style="align-self:center;position: relative;">
                <img  src={{item.icon[0].url}}  alt="" class="img-content-icon vertical-middle" />
              </div>
            <div class="home-3-item-right ta-l">
                <a *ngIf="item.clickable" [href]="item.website || '/' "  class="fs-24 txt-link-title">
                  <strong>{{item.title || ""}}</strong>
                </a>
                <div *ngIf="!item.clickable" class="txt-link-title" style="display: flex;">
                  <h3 class="fs-24 color-white"><strong class="unclick-able">{{item.title || ""}}</strong></h3>
                  <span class="unclick-able-content fs-14">{{"coming-soon" | translate}}</span>
                </div>
                <p class="lh-16em color-white fs-14 mt15 f-w-400">{{item.desc || ""}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="wrapper ta-c color-white clearfix pt90"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm- ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36 mb20 ta-l pt40"><strong>{{"aelf-an-open-blo-net" | translate}}</strong></h3>
              <p class="fs-18 lh-16em  ta-l">{{"fac-re-world-pro" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img [lazyLoad]="'assets/images/home3.png'" alt="" [offset]="1080">
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <section class="section section-22 anchor-hd ec-bg1" id="test-net">
    <div class="cont pb20 yun pt40 pb40">
      <div class="wrapper ta-c color-white clearfix"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36 mb20 ta-l pt40"><strong>{{"aelf-all-blo-to-em" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"pro-a-blo-pla-&-exc-per" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img [lazyLoad]="'assets/images/home1.png'" alt="" [offset]="1080">
          </div>
        </div>
      </div>
      <div class="wrapper ta-c color-white clearfix  pt90"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img [lazyLoad]="'assets/images/home2.png'" alt="" [offset]="1080">
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36 mb20 ta-l pt40"><strong>{{"new-bus-tra" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"bre-th-tra-bus-mod" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper ta-c color-white clearfix pt90"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt">
              <h3 class="fs-36 mb20 ta-l pt40"><strong>{{"aelf-an-open-blo-net" | translate}}</strong></h3>
              <p class="fs-18 lh-16em  ta-l">{{"fac-re-world-pro" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <img [lazyLoad]="'assets/images/home3.png'" alt="" [offset]="1080">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-22 anchor-hd ec-bg1" id="advan">
    <div class="cont pt80 pb50">
      <div class="wrapper pic-txt-list-22 ta-c color-white clearfix" style="margin: 0 auto">
        <div [ngSwitch]="currentLanguage" class="col12-sm-12 col12-lg-12  ptl22-item">
          <ng-template [ngSwitchCase]="languageList[1]">
            <video id="player" width="90%" style="margin: 0 auto" [src]="VideoSrc" controls></video>
          </ng-template>
          <ng-template ngSwitchDefault>
            <iframe webkit-playsinline id="player" width="90%" type="text/html" [src]="VideoSrc" frameborder="0" scrolling="no" border="0"
                    frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
          </ng-template>
        </div>
      </div>

      <div class="color-white clearfix wrapper pt60 v-bar inline-block flex-wrap"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="home-1-item">
          <div class="wrap">
            <div class="img-content">
              <img  [lazyLoad]="'assets/images/home_icon1.png'" alt="" [offset]="1080">
            </div>
            <div class="txt-content">
              <h3 class="fs-24 mb10 color-white"><strong>{{"un-perf" | translate}}</strong></h3>
              <p class="lh-16em color-white fs-14">{{"par-com&ser" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="home-1-item">
          <div class="wrap">
            <div class="img-content">
              <img  [lazyLoad]="'assets/images/home_icon2.png'" alt="" [offset]="1080">
            </div>
            <div class="txt-content">
              <h3 class="fs-24 mb10 color-white"><strong>{{"res-isolation" | translate}}</strong></h3>
              <p class="lh-16em color-white fs-14">{{"cross-chain-col" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="home-1-item">
          <div class="wrap">
            <div class="img-content">
              <img  [lazyLoad]="'assets/images/home_icon3.png'" alt="" [offset]="1080">
            </div>
            <div class="txt-content">
              <h3 class="fs-24 mb10 color-white"><strong>{{"sta&sim-imp" | translate}}</strong></h3>
              <p class="lh-16em color-white fs-14">{{"plug-and-play-app-mod" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="home-1-item">
          <div class="wrap">
            <div class="img-content">
              <img  [lazyLoad]="'assets/images/home_icon4.png'" [offset]="1080" alt="">
            </div>
            <div class="txt-content">
              <h3 class="fs-24 mb10 color-white"><strong>{{"mul-gover" | translate}}</strong></h3>
              <p class="lh-16em color-white fs-14">{{"the-flex-mul-gover" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-22 anchor-hd ec-bg1" id="test-net">
    <div class="cont pt100 pb20">
      <div class="ta-c color-white clearfix wrapper"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt main-laun-int">
              <h3 class="fs-36 mb20 ta-l pt40"><strong>{{"aelf-dao" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"aelf-dao-desc" | translate}}</p>
              <div class="col12-md-3 col12-sm-4 ta-c color-white skrollable skrollable-between mb30 mt20">
                <div class="fs-14 lh-28 clearfix skrollable skrollable-between test-net-buttons">
                  <a class="col12-md-2 col12-sm-3 mr30 mb25 test-net-button " href="/afterstart"
                    rel="noreferrer noopener">
                    {{"click-enter" | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item sm-hidden">
          <div class="ptl22-box">
            <img [lazyLoad]="'assets/images/home4.png'" alt="">
          </div>
        </div>
      </div>
      <div class="ta-c color-white clearfix wrapper pt60 pb80 dddd"
      data-bottom="transform:translate(0%, 30%); opacity:0;"
      data-center="transform:translate(0%, 0%); opacity:1;">
        <div class="col12-sm-6 ptl22-item sm-hidden">
          <div class="ptl22-box">
            <img [lazyLoad]="'assets/images/home5.png'" alt="">
          </div>
        </div>
        <div class="col12-sm-6 ptl22-item">
          <div class="ptl22-box">
            <div class="ptl22-txt main-laun-int">
              <h3 class="fs-36 mb20 ta-l pt40"><strong>{{"start-exp-test" | translate}}</strong></h3>
              <p class="fs-18 lh-16em ta-l">{{"start-exp-test-content" | translate}}</p>
              <div class="col12-md-3 col12-sm-4 ta-c color-white skrollable skrollable-between mb30 mt20">
                <div class="fs-14 lh-28 clearfix skrollable skrollable-between test-net-buttons">
                  <a class="col12-md-2 col12-sm-3 mr30 mb25 test-net-button " href="/facility" rel="noreferrer noopener">
                    {{"click-enter" | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-11 anchor-bd ec-bg1" id="news">
    <div class="cont pt100 pb100 wrapper">
      <div class="bigTitle fs-36 ta-c mb45 color-white skrollable skrollable-between "
           data-bottom="transform:translate(0%, 30%); opacity:0;"
           data-center="transform:translate(0%, 0%); opacity:1;"><b>{{"development-history" | translate}}</b></div>
      <div class="txt">
        <div class="grow news-list clearfix pb100" id="develop_content">
          <div class="txt-container">
            <img [lazyLoad]="'assets/images/dep_bg.png'" [offset]="1080" class="dep-bg" alt="">
            <div class="dep_item clearfix">
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage2-3" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage2-2" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage2-1" | translate}}</p>
              <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage2" | translate}}</strong></h3>
            </div>
            <div class="dep_item clearfix">
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage4-3" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage4-2" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage4-1" | translate}}</p>
              <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage4" | translate}}</strong></h3>
            </div>
            <div class="dep_item clearfix">
              <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage1" | translate}}</strong></h3>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage1-1" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage1-2" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage1-3" | translate}}</p>
            </div>
            <div class="dep_item clearfix">
              <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage3" | translate}}</strong></h3>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left;">{{"develp-stage3-1" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage3-2" | translate}}</p>
              <p class="lh-16em fs-18 color-white"
                 style="text-align: left">{{"develp-stage3-3" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="color-white clearfix ta-c mb30 ec-1-container inline-block flex-wrap">
          <div class="ec-1-item">
            <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage1" | translate}}</strong></h3>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage1-1" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage1-2" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage1-3" | translate}}</p>
          </div>
          <div class="ec-1-item">
            <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage2" | translate}}</strong></h3>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage2-1" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage2-2" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage2-3" | translate}}</p>
          </div>
          <div class="ec-1-item">
            <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage3" | translate}}</strong></h3>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left;">{{"develp-stage3-1" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage3-2" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage3-3" | translate}}</p>
          </div>
          <div class="ec-1-item">
            <h3 class="fs-22 mb10 lh-16em color-white"><strong>{{"develp-stage4" | translate}}</strong></h3>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage4-1" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage4-2" | translate}}</p>
            <p class="lh-16em fs-18 color-white"
               style="text-align: left">{{"develp-stage4-3" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-11 anchor-bd ec-bg1" id="news">
    <div class="cont pt100 pb100">
      <div class="bigTitle fs-36 ta-c mb45 color-white skrollable skrollable-between"
           data-bottom="transform:translate(0%, 30%); opacity:0;"
           data-center="transform:translate(0%, 0%); opacity:1;"><b>{{"news_rep" | translate}}</b></div>
      <div class="txt">
        <div class="wrapper news-list clearfix">
          <div
            *ngFor="let item of newsList"
            class="col12-sm-3 news-item clearfix"
            data-bottom="transform:translate(0%, 30%); opacity:0;"
            data-center="transform:translate(0%, 0%); opacity:1;">
            <div class="news-box">
              <!--<div class="date mb30 color-white">-->
              <!--<h3 [ngClass]="_fontFamlily.ffCgb" class="fs-72 lh-10em">{{item.day}}</h3>-->
              <!--<p class="fs-14"><b>{{item.month}}</b></p>-->
              <!--</div>-->
              <div class="pic mb30">
                <a
                  [href]="item.link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <div
                    class="bg-img"
                    [ngStyle]="{'background-image': 'url(' + item.img.url + ')'}"
                  >
                  </div>
                </a>
              </div>
              <div class="txt color-white mb35">
                <h3 class="fs-14 lh-11em mb10">
                  <a
                    [href]="item.link"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="link-2"
                  >
                    {{item.time}}
                  </a>
                </h3>
                <h3 class="fs-18 lh-16em-2over mb20">
                  <a
                    [href]="item.link"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="link-2"
                  >
                    <b>
                      {{item.title}}
                    </b>
                  </a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-8 anchor-bd ec-bg1" id="team3">
    <div class="cont pt200 pb100">
      <div class="bigTitle fs-36 ta-c mb45 color-white skrollable skrollable-between" data-bottom="transform:translate(0%, 30%); opacity:0;"
           data-center="transform:translate(0%, 0%); opacity:1;"><b>{{"inv-ins" | translate}}</b>
      </div>
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="team3 clearfix">
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.fbg.capital/" target="_blank"><img [lazyLoad]="'assets/images/partner-fbg.png'" [offset]="1080" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.alphabit.fund/" target="_blank"><img [lazyLoad]="'assets/images/partner-alphabit.jpg'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-galaxy.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.nodecap.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-node.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.bven.co/" target="_blank"><img [lazyLoad]="'assets/images/partner-blockchain-ventures.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://blocktower.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-blocktower.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-chain-funder.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.collinstar.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-collinstar.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.danhuacap.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-dhvc.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://draperdragon.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-dragon.jpg'" [offset]="1080" alt=""></a>
              </div>
            </div>

            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.hashed.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-hashed.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://hyperchain.capital/" target="_blank"><img [lazyLoad]="'assets/images/partner-hyperchain.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-d.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-1kx.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.linkvc.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-linkvc.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="http://www.signum.capital/" target="_blank"><img [lazyLoad]="'assets/images/partner-signum.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-liaode.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-ha.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-jlab.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-as.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-cc.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-gbic.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-bixin.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://bitmain.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-bitman.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.huobi.com/capital" target="_blank"><img [lazyLoad]="'assets/images/partner-huobi-capital.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.cgs.group/" target="_blank">
                  <img [lazyLoad]="'assets/images/partner-cgs.png'" [offset]="1080" alt="">
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="cont pt100 pb200">
      <div class="bigTitle fs-36 ta-c mb45 color-white skrollable skrollable-between"><b>{{"exchange" | translate}}</b>
      </div>
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="team3 clearfix">
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bitfinex.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-bitfinex.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.binance.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-binance.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bithumb.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-bithumb.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://upbit.com" target="_blank"><img [lazyLoad]="'assets/images/partner-upbit.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.okex.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-okcoin.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.hbg.com" target="_blank"><img [lazyLoad]="'assets/images/partner-huobi.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://cex.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-cex.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bcex.ca/coins" target="_blank"><img [lazyLoad]="'assets/images/partner-bcex.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bibox.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-bibox.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://gate.io/" target="_blank"><img [lazyLoad]="'assets/images/partner-gate.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://kkex.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-kkex.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://big.one/" target="_blank"><img [lazyLoad]="'assets/images/partner-bigone.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://otcbtc.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-otcbtc.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.hypex.io/" target="_blank"><img [lazyLoad]="'assets/images/partner-hypex.jpg'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.gopax.co.kr/" target="_blank"><img [lazyLoad]="'assets/images/partner-gopax.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bancor.network/" target="_blank"><img [lazyLoad]="'assets/images/partner-bancor.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.kucoin.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-kucoin.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://radarrelay.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-Radar-Relay.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.cointiger.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-cointiger.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://kyber.network/" target="_blank"><img [lazyLoad]="'assets/images/partner-kyber.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.airswap.io/" target="_blank"><img [lazyLoad]="'assets/images/partner-airswap.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://hitbtc.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-hitbtc.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://www.bitforex.com/" target="_blank"><img [lazyLoad]="'assets/images/partner-bitforex.png'" [offset]="1080" alt=""></a>
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/partner-tbox.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/exchange-abcc.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <img [lazyLoad]="'assets/images/exchange-bitcloud.png'" [offset]="1080" alt="">
              </div>
            </div>
            <div class="col12-lg-2 col12-sm-4 col12-tn-3 ta-c color-white ta-c skrollable skrollable-between mb30" data-bottom="transform:translate(0%, 30%); opacity:0;" data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://international.bittrex.com/" target="_blank"><img [lazyLoad]="'assets/images/exchange-bittrex.png'" [offset]="1080" alt="exchange-bittrex"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cont pt100 pb200">
      <div class="bigTitle fs-36 ta-c mb45 color-white skrollable skrollable-between">
        <b>{{"partnership" | translate}}</b>
      </div>
      <div class="txt">
        <div class="wrapper clearfix">
          <div class="team4 clearfix">
            <div class="col12-lg-6 col12-sm-6 col12-tn-12 ta-c color-white ta-c skrollable skrollable-between mb30">
              <div class="col12-lg-6 col12-sm-6 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
                data-bottom="transform:translate(0%, 30%); opacity:0;"
                data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="team-pic">
                  <a href="https://marketplace.huaweicloud.com/intl/product/00301-183003-0--0" target="_blank">
                    <img class="partner-img" [lazyLoad]="'assets/images/partnership/huawei_cloud@1,5x.png'" [offset]="1080" alt=""></a>
                </div>
              </div>
              <div class="col12-lg-6 col12-sm-6 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
                data-bottom="transform:translate(0%, 30%); opacity:0;"
                data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="team-pic">
                  <a href="https://console.cloud.google.com/marketplace/details/aelf-public/aelf-enterprise?q=aelf&id=b90de7d1-e0a2-30fc-92c3-6feed581ef7d&pli=1"
                    target="_blank">
                    <img class="partner-img" [lazyLoad]="'assets/images/partnership/google_cloud@1,5x.png'" [offset]="1080" alt=""></a>
                </div>
              </div>
            </div>
            <div class="col12-lg-6 col12-sm-6 col12-tn-12 ta-c color-white ta-c skrollable skrollable-between mb30">
              <div class="col12-lg-6 col12-sm-6 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
                data-bottom="transform:translate(0%, 30%); opacity:0;"
                data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="team-pic">
                  <a href="https://azuremarketplace.microsoft.com/zh-cn/marketplace/apps/aelf.aelf-enterprise"
                    target="_blank"><img class="partner-img" [lazyLoad]="'assets/images/partnership/microsoft_azure@1,5x.png'" [offset]="1080" alt=""></a>
                </div>
              </div>
              <div class="col12-lg-6 col12-sm-6 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
                data-bottom="transform:translate(0%, 30%); opacity:0;"
                data-center="transform:translate(0%, 0%); opacity:1;">
                <div class="team-pic">
                  <a href="https://aws.amazon.com/marketplace/pp/B07S2DT928" target="_blank">
                    <img class="partner-img" [lazyLoad]="'assets/images/partnership/amazon@1,5x.png'" [offset]="1080" alt=""></a>
                </div>
              </div>
            </div>
            <!-- <div class="col12-lg-3 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://marketplace.huaweicloud.com/intl/product/00301-183003-0--0" target="_blank"><img
                    [lazyLoad]="assets/images/partnership/huawei_cloud@1,5x.png"
                    alt=""></a>
              </div>
            </div>
            <div class="col12-lg-3 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://console.cloud.google.com/marketplace/details/aelf-public/aelf-enterprise?q=aelf&id=b90de7d1-e0a2-30fc-92c3-6feed581ef7d&pli=1"
                  target="_blank"><img
                    [lazyLoad]="assets/images/partnership/google_cloud@1,5x.png"
                    alt=""></a>
              </div>
            </div> -->
            <!-- <div class="col12-lg-3 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://azuremarketplace.microsoft.com/zh-cn/marketplace/apps/aelf.aelf-enterprise"
                  target="_blank"><img
                    [lazyLoad]="assets/images/partnership/microsoft_azure@1,5x.png"
                    alt=""></a>
              </div>
            </div>
            <div class="col12-lg-3 col12-sm-4 col12-tn-6 ta-c color-white ta-c skrollable skrollable-between mb30"
              data-bottom="transform:translate(0%, 30%); opacity:0;"
              data-center="transform:translate(0%, 0%); opacity:1;">
              <div class="team-pic">
                <a href="https://aws.amazon.com/marketplace/pp/B07S2DT928" target="_blank"><img
                    [lazyLoad]="assets/images/partnership/amazon@1,5x.png" alt=""></a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
