@media only screen and (max-width: 1024px) {
  .aelf-notice {
    padding: 68px 18px 118px 18px;
  }
}

.aelf-notice a:hover {
  color: #260a7f;
  cursor: pointer;
}

.aelf-notice-text {
  z-index: 102;
  width: 80%;
  max-width: 900px;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 18px;
  left: 50%;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: linear-gradient(120deg, #7713b4, #1b0160);
  color: #FFF;
  font-size: 14px;
  display: none;
}

.aelf-notice-title {
  font-size: 36px;
  text-align: center;
}

.aelf-notice-subtitle {
  font-size: 18px;
  text-align: center;
  padding: 3px 0 8px 0;
}

.aelf-notice-close {
  text-align: center;
  border-radius: 3px;
  border: 1px solid #eee;
  width: 100px;
  margin: 15px auto 0 auto;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

#test-net .test-net-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#test-net .test-net-button {
  height: 29px;
  line-height: 29px;
  border-radius: 1px;
  background: #26b7ff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  padding: 0 16px;
  border-radius: 3px;
}

#test-net .test-net-button:hover {
  background: #096dd9;
}
@media only screen and (max-width: 600px) {
  .hide-small {
    display: none;
  }

  .aelf-notice-text {
    z-index: 102;
    width: 100%;
    max-width: 900px;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 18px;
    left: 0;
    position: fixed;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    background: linear-gradient(120deg, #7713b4, #1b0160);
    color: #FFF;
    font-size: 14px;
    display: none;
    overflow-y: scroll;
    height: 80%;
    top: 10%;
  }
}

.home-1-item {
  width: 22%;
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
  padding: 20px 16px;
  float: left;
}

.wrapper .home-1-item:nth-child(1), .wrapper .home-1-item:nth-child(2), .wrapper .home-1-item:nth-child(3) {
  margin-right: 4%;
}

.home-1-item > .ptl22-box {
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
  padding-top: 20px !important;
  padding-bottom: 120px !important;
}

.home-2-item {
  /* width: 20%; */
  width: 22%;
  height: 144px;
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
  position: relative;
  margin-right: 4%;
  float: left;
}

.home-2-item:last-child{
  margin-right: 0;
}


.text-1:nth-child(2n){
  padding-left: 2%;
}
/* .wrapper .home-2-item:nth-of-type(1), .wrapper .home-2-item:nth-of-type(2), .wrapper .home-2-item:nth-of-type(3),.home-2-item:nth-of-type(4) {
  margin-right: 4%;
} */

.wrap-home-3{
  width: 48%;
  margin: 2%;
}

.home-3-item {
  /* width: 48%; */
  width: 100%;
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
  padding: 20px 16px;
  float: left;
}


.text-1:nth-child(2n+1){
  padding-right: 2%;
}

.img-content-wrap {
  min-width: 67px;
  width: 67px;
  height: 67px;
  /* background: #340154; */
  /* border-radius: 3px; */
}
.img-content-icon {
  width: 59px;
}
.txt-link-title {

/* font-size: 16px; */
font-weight: 600;
color: #26B7FF;
}
.txt-link-title-white {
  color: #fff;
}
.home-3-item-right{
  margin-left: 28px;
}
.text-1 {
  min-height: 132px;
  margin-bottom: 39px;
}

.mainnet-list-container{
  padding: 0 40px;
}
.font-title {
  font-family: Arial, "Times New Roman", "Microsoft Yahei", arial, Helvetica !important;
}
.miannet-article{
  margin: 95px 0 105px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brow-f {
  background: #26B7FF;;
  width: fit-content;
  border-radius: 4px;
  color: #fff;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.8;
  position: relative;
  min-width: 111px;
}
.brow-f span,
.brow-f ul li {
  padding-left: 13px;
  padding-right: 13px;
  color: #fff;
}
.brow-f ul, .brow-f ul li{
  width: 100%;
}
.brow-f ul li {
  line-height: 30px;
  background: rgba(21,7,81,1);
  margin-bottom: 1px;
}


.brow-f ul {
  position: absolute;
}
.mainnet-list-wrap .home-2-item::before {
  display: block;
  content: "";
  width: 61px;
  height: 61px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.mainnet-list-wrap .home-2-item:nth-of-type(2)::before{
  background: url('assets/images/block-height.svg');
}
.mainnet-list-wrap .home-2-item:nth-of-type(3)::before{
  background: url('assets/images/tpm.svg');
}
.mainnet-list-wrap .home-2-item:nth-of-type(4)::before{
  background: url('assets/images/accounts.svg');
}
.mainnet-list-wrap .home-2-item:nth-of-type(5)::before{
  background: url('assets/images/transactions.svg');
}

.triangle-icon {
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
  margin-right: 13px;
}
.jump-icon {
  width: 24px;
}
.f-w-400 {
  font-weight: 400;
}
.f-w-500{
  font-weight: 500;
}
.f-w-600{
  font-weight: 600;
}
.m-b-45 {
  margin-bottom: 45px;
}
.home-item-wrap{ 
  margin-top: 19px;
  display: flex;
  line-height: 2;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unclick-able-content {
  font-size: 12px;
  font-weight: 400;
  background: #ccc;
  margin-left: 23px;
  /* height: 12px; */
  height: 20px;
  line-height: 20px;
  align-self: center;
  padding: 0 13px;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: default;
}
.unclick-able {
  color: #ccc; 
}
.m-b-67{
  margin-bottom: 67px;
}
.m-b-17 {
  margin-bottom: 17px;
}
.vertical-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-mainnet-monitoring {
  height: 450px;
  max-height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mainnet-stage-title {
  display: block;
  color: #22DFFF;
}

.view-evolve-button {
  height: 40px;
  line-height: 40px;
  border-radius: 1px;
  background: #26b7ff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  padding: 0 16px;
  border-radius: 3px;
}

@media only screen and (max-width: 1280px) {
  .miannet-article{
    margin: 63px 0 69px;
  }
  .home-2-item {
    width: 213px;
    height: 107px;
    margin-right: 27px;
    /* line-height: 107px; */
  }

  .home-2-mb-20{
    margin-bottom: 20px;
  }

  .home-3-item {
    padding: 24px 14px;
  }
  .img-content-wrap {
    min-width: 59px;
    width: 59px;
    height: 59px;
  }
  .img-content-icon {
    width: 39px;
  }
  .txt-link-title{
    font-size: 16px;
    line-height: 2;
  }

  .home-3-item-right{
    margin-left: 19px;
  }
  .fs-24{
    font-size: 16px;
  }

  .text-1 {
    margin-bottom: 16px;
  }
  .text-1:nth-child(2n){
    padding-left: 12px;
  }
  .text-1:nth-child(2n+1){
    padding-right: 12px;
  }
  .mainnet-list-container{
    padding: 0 160px;
  }
  .fs-36 {
    font-size: 24px;
  }
  
  .fs-14 ,.fs-18{
    font-size: 12px;
  }
  .m-b-17{
    margin-bottom: 9px;
  }
  .mb65 {
    margin-bottom: 43px;
  }
  .mt58{
    margin-top: 15px;
  }
  .mt15 {
    margin-top: 10px;
  }
  .mb30 {
    margin-bottom: 20px;
  }
  .m-b-45 {
    margin-bottom: 30px;
  }
  .unclick-able-content {
    height: 20px;
    padding: 0 9px;
    margin-left: 15px;
  }
  .view-evolve-button {
    height: 27px;
    width: 133px;
    line-height: 27px;
  }
  .home-item-wrap {
    margin-top: 12px;
  }

  .brow-f {
    border-radius: 3px;
    margin-left: 13px;
    font-size: 12px;
    min-width: 72px;
  }
  .brow-f span,
  .brow-f ul li {
    padding-left: 9px;
    padding-right: 9px;
  }
  .brow-f ul li {
    line-height: 24px;
    margin-bottom: 1px;
  }
  
  .mainnet-list-wrap .home-2-item::before {
    width: 40px;
    height: 40px;
    top: -20px;
  }
  .triangle-icon {
    width: 9px;
    height: 9px;
    margin-right: 9px;
  }
  .jump-icon {
    width: 18px;
  }
}

#develop_content {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 698px;
  background: rgba(255, 255, 255, 0.05);
  padding: 90px 40px 60px 20px;
  border-radius: 4px;
}

.txt-container {
  position: relative;
}

#develop_content .dep_item:nth-child(2) {
  position: absolute;
  width: 25%;
  margin-left: 27.5%;
  bottom: 53%;
}

.dep_item {
  padding: 10px 8px;
}

#develop_content .dep_item:nth-child(3) {
  position: absolute;
  width: 25%;
  margin-left: 70%;
  bottom: 53%;
}

#develop_content .dep_item:nth-child(4) {
  position: absolute;
  width: 25%;
  margin-left: 7%;
  top: 55%
}

#develop_content .dep_item:nth-child(5) {
  position: absolute;
  width: 25%;
  margin-left: 49%;
  top: 55%
}

.wrap{
  display: flex;
}
.img-content{
  width: 33%;
}

.txt-content{
  margin-left: 4%;
  width: 63%;
}

text-1 {
  width: 20%;
  min-height: 59px;
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
  padding: 20px 16px;
  /* float: left; */
  display: flex;
}

.ec-1-container{
  display: none;
}
@media only screen and (min-width: 1024px){
  #test-net .test-net-button{
    border-radius: 3px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 0px){
  .sssss{
    padding: 0 25px;
  }

  .earth-canvas{
    width: 100%;
    padding: 0 25px;
  }
  #particles2 {
    text-align: center;
  }
  .bigTitle{
    font-size: 13px;
  }
  #develop_content .fs-22{
    font-size: 10px;
  }
  .ordinary-btn{
    height: 28px;
    line-height: 28px;
    width: 250px;
    margin: 0 auto;
    border-radius: 1px;
  }
  #develop_content {
    display: none;
  }
  .ec-1-container{
    display: inline-flex;

    width: 100%;
  }

  .ec-1-item {
    width: 48% !important;
    background: rgba(255, 255, 255, 0.07);
    margin-top: 15px;
    float: left;
    margin-right: 4%;
    padding: 10px 12px;
  }
  .ec-1-item h3{
    font-size: 13px;
    text-align: left;
  }
  .ec-1-item .pl20{
    padding-left: 12px;
  }
  .ec-1-item p{
    font-size: 10px;
    line-height: 20px;
  }

  .ec-1-container > .ec-1-item:nth-child(2), .ec-1-container > .ec-1-item:nth-child(4) {
    margin-right: 0 !important;
  }

  #develop_content .dep_item {
    position: unset;
  }

  #develop_content {
    background: none;
    padding: 10px 8px !important;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    height: 360px!important;
  }

  .dep_item {
    width: 48% !important;
    background: rgba(255, 255, 255, 0.05);
  }

  #develop_content .dep_item:nth-child(4) {
    margin-left: 0 !important;
    top: 0 !important;
  }

  #develop_content .dep_item:nth-child(5) {
    margin-left: 0 !important;
    top: 52% !important;
  }

  #develop_content .dep_item:nth-child(2) {
    margin-left: 50% !important;
    top: 0 !important;
    display: flex;
    flex-direction: column-reverse;
  }

  #develop_content .dep_item:nth-child(3) {
    margin-left: 50% !important;
    top: 52% !important;
    display: flex;
    flex-direction: column-reverse;
  }
}


@media only screen and (max-width: 778px) {
  #test-net .test-net-button{
    width: 250px;
  }
  #player{
    width: 100% !important;
  }
  .v-bar{
    padding-top: 30px;
  }
  #develop_content {
    background: none;
    padding: 10px 8px !important;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
  }

  .dep_item {
    width: 48% !important;
    background: rgba(255, 255, 255, 0.05);
  }

  #develop_content .dep_item:nth-child(4) {
    margin-left: 0 !important;
    top: 0 !important;
  }

  #develop_content .dep_item:nth-child(5) {
    margin-left: 0 !important;
    top: 52% !important;
  }

  #develop_content .dep_item:nth-child(2) {
    margin-left: 50% !important;
    top: 0 !important;
    display: flex;
    flex-direction: column-reverse;
  }

  #develop_content .dep_item:nth-child(3) {
    margin-left: 50% !important;
    top: 52% !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .bvaipi-btn{
    margin: 60px 25px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 4;
    text-align: center;
  }
  .section-1 .txt{
    bottom: 260px;
  }
  .test-net-button{
    width: 100%;
  }
  .yun > div:nth-child(1), .yun > div:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
  }

  .yun div {
    margin-top: 10px;
    /*padding: 20px;*/
  }
  .yun .wrapper{
    padding-top: 40px;
  }

  .yun img {
    width: 70%;
  }

  .yun h3 {
    font-size: 13px;
    text-align: center;
  }

  .yun p {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }


  .home-1-item {
    width: 48%;
    padding: 12px 8px;
  }

  .v-bar > .home-1-item:nth-child(1), .v-bar > .home-1-item:nth-child(2) {
    margin-bottom: 20px;
  }

  .v-bar > .home-1-item:nth-child(2), .v-bar > .home-1-item:nth-child(4) {
    margin-right: 0 !important;
  }

  .home-1-item img {
    width: 44px;
  }

  .home-1-item > .wrap {
    display: flex;
  }

  .txt-content {
    margin-left: 10px;
  }

  .txt .fs-90{
    font-size: 21px;
    text-align: center;
  }

  .txt-content h3{
    font-size: 13px;
  }
  .main-laun-int .fs-36{
    font-size: 13px;
    text-align: center;
  }

  .txt-content p,.txt .fs-18,.main-laun-int .fs-18  {
    font-size: 10px;
    line-height: 20px;
  }

  .main-laun-int h3{
    padding-top: 20px;
  }
  .dddd{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .news-list .news-item{
    margin-bottom: 0;
  }

  .col12-tn-3{
    padding: 0 10px!important;
    text-align: center;
    margin-bottom: 0;
  }
  .partner-img {
    max-height: 71%;
  }

  .miannet-article{
    font-size: 13px;
    margin:0 0 15px;
  }
  .mainnet-list-container{
    width: 100%;
    padding: 8%;
    margin: 0;
  }

  .home-2-item {
    /* width: 20%; */
    width: 48%;
    height: 111px;
    background: rgba(255, 255, 255, .05);
    border-radius: 4px;
    position: relative;
    float: left;
  }
  .home-2-item:nth-child(2n){
    margin-right: 4%;
  }
  .home-2-item:nth-child(2n+1){
    margin-right: 0;
  }
  .ecosystem-detail-link{
    height: 28px;
    line-height: 28px;
    width: 250px;
    margin: 0 auto;
    font-size: 12px;
    background: #26B7FF;
    border-radius: 3px;
    margin-bottom: 52px;
    margin-top: 20px;
  }
  .txt-link-title, .unclick-able {
    font-size: 13px;
  }

  #test-net .net-button, #test-net .view-evolve-button {
    height: 29px;
    line-height: 29px;
    border-radius: 1px;
    background: #26b7ff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    padding: 0 16px;
    border-radius: 3px;
  }
  #test-net .net-button:hover, #test-net .view-evolve-button {
    background: #096dd9;
  }
  .special-color{
    color: #fff;
  }

  .text-1:nth-child(n) {
    min-height: auto;
    padding: 0;
    margin-bottom: 0;
  }
  .home-3-item {
    width: 98%;
    padding: 15px;
    margin-bottom: 20px;
  }
  .text-1:last-of-type .home-3-item{
    margin-bottom: 0;
  }

  .img-content-wrap {
    margin-top: 0;
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center
  }
  .img-content-icon {
    max-width: 90px;
    width: 39px;
    max-height: 39px;
    max-height: 90px;
  }
  #test-net .net-button {
    height: 29px;
    width: 250px;
    line-height: 29px;
    border-radius: 1px;
    background: #26b7ff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
    border-radius: 3px;
  }
  #mainnet-monitoring .mainnet-list-container{
    padding-bottom: 0;
  }
  .home-mainnet-monitoring {
    height: 250px;
  }
  .home-mainnet-monitoring .fs-36 {
    font-size: 17px;
  }
  .view-evolve-button{
    height: 45px;
    width: 80%;
    line-height: 45px;
  }
  .home-2-mb-20 {
    margin-bottom: 37px;
  }
  .home-item-wrap {
    margin-top: 12px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brow-f {
    border-radius: 1px;
    height: 45px;
    width: 150px;
    line-height: 45px;
    border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    margin: 30px 0;
  }
  .jump-icon {
    width: 20px;
  }

}
.col12-1, .col12-10, .col12-11, .col12-12, .col12-2, .col12-3, .col12-4, .col12-5, .col12-6, .col12-7, .col12-8, .col12-9, .col12-gt-1, .col12-gt-10, .col12-gt-11, .col12-gt-12, .col12-gt-2, .col12-gt-3, .col12-gt-4, .col12-gt-5, .col12-gt-6, .col12-gt-7, .col12-gt-8, .col12-gt-9, .col12-lg-1, .col12-lg-10, .col12-lg-11, .col12-lg-12, .col12-lg-2, .col12-lg-3, .col12-lg-4, .col12-lg-5, .col12-lg-6, .col12-lg-7, .col12-lg-8, .col12-lg-9, .col12-md-1, .col12-md-10, .col12-md-11, .col12-md-12, .col12-md-2, .col12-md-3, .col12-md-4, .col12-md-5, .col12-md-6, .col12-md-7, .col12-md-8, .col12-md-9, .col12-sm-1, .col12-sm-10, .col12-sm-11, .col12-sm-12, .col12-sm-2, .col12-sm-3, .col12-sm-4, .col12-sm-5, .col12-sm-6, .col12-sm-7, .col12-sm-8, .col12-sm-9, .col12-tn-1, .col12-tn-10, .col12-tn-11, .col12-tn-12, .col12-tn-2,  .col12-tn-4, .col12-tn-5, .col12-tn-6, .col12-tn-7, .col12-tn-8, .col12-tn-9{
  padding: 0;
}

#test-net .test-net-button{
  margin: 0;
}
#test-net .test-net-buttons{
  display: unset;
}
