/*.ec-bg1{*/
/*  background: linear-gradient(120deg, #7713b4, #1b0160);*/
/*}*/
/*.dep1-bg{*/
/*  background: url("../../assets/images/dep1.png") 50% 0 no-repeat;*/
/*  background-size: 70%;*/

/*}*/
.section-22 .pic-txt-list-22 .ptl22-item .ptl22-box .ptl22-txt{
  padding: 0;
}
.ec-1-item>div{
   background:rgba(255,255,255,.05);
  border-radius:2px;
  text-align: center;
}

#data-chart1 {
  position: relative;
  width: 100%
}

#data-chart1 .chart-item:nth-child(2) {
  top: 26%;
  left: 41.2%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(3) {
  top: 16%;
  left: 4%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(4) {
  top: 16%;
  right: 4%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(5) {
  top: 50%;
  left: 4%;
  position: absolute;
  width: 18%;
}

#data-chart1 .chart-item:nth-child(6) {
  top: 50%;
  right: 4%;
  position: absolute;
  width: 18%;
}
#test-net .test-net-button:hover {
  background-color: #5fbdf9;
  color: #ffffff;
}
.home-1-item,.home-4-item{
  width: 30%;
  background:rgba(255,255,255,0.05);
  border-radius:4px;
  float: left;
  margin-right: 5%;
}

.home-4-item{
  text-align: center;
  padding: 16px 10px;
}

.home-1-container .home-1-item:nth-child(3),.home-4-container .home-4-item:nth-child(3){
  margin-right: 0;
}

.home-2-item>.ptl22-box{
  background:rgba(255,255,255,0.05);
  border-radius:4px;
  padding-top: 40px!important;
  padding-bottom: 210px!important;
  padding: 31px 34px;
}

.home-3-item>.ptl22-box>.col12-sm-12{
  padding: 0;
  margin-bottom: 30px;
}

.wrap{
  display: flex;
  padding: 30px 40px 20px 30px;
  border-radius:4px;
}
.wrap .img-content img{
  margin-top: 4px;
  width: 84px;
  margin-right: 20px;
  max-width: unset;
}
@media only screen and (max-width: 1240px) and (min-width: 1024px){
  .header .lg-hidden{
    display: block;
  }
  .lg-hidden{
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 0px){
  .lg-hidden{
    display: block;
  }

  .ordinary-btn{
    width: 250px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 1px;
    margin: 0 auto 20px;
  }

  .Welcome-to-the-developer .fs-36,.Developer-Documentation .fs-36{
    font-size: 13px;
    text-align: center;
  }
  .Welcome-to-the-developer .fs-18,.Developer-Documentation .fs-18 {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
  }
}
.lg-hidden{
  /*display: none;*/
}

@media only screen and (min-width: 1024px){
  .devlop_cont{
    background: url("../../assets/images/dep1.png") no-repeat top;
    padding: 60px 0;
    background-size: contain;
    max-height: 500px;
    background-position:right;
  }
  .dep_img img{
    display: none;
  }
  .dep_img{
    height: 500px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px){
  .devlop_cont{
    background: none;
  }
  .dep_img img{
    display: block;
  }
}
.ttttt a .fs-14{
  padding-right: 11%;
}
@media only screen and (max-width: 778px) {
  .Welcome-to-the-developer{
    padding-top: 30px!important;
    padding-bottom: 40px!important;
  }
  .ttttt a .fs-14{
    padding-right: 0;
  }
  .home-1-container .home-1-item:nth-child(1){
    margin-top: 0;
  }
  .Developer-Documentation h3{
    padding-bottom: 20px;
  }
  .Welcome-to-the-developer .fs-36{
    font-size: 21px;
    text-align: center;
    line-height: 31px;
  }
  .Developer-Documentation .fs-36{
    font-size: 13px;
    text-align: center;
  }
  .Welcome-to-the-developer .fs-18,.Developer-Documentation .fs-13 {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }

  .home-1-item {
    width: 100%;
    margin-right: 0;
  }
  .home-1-item .wrap {
    padding: 12px 8px;
  }

  .wrap .img-content img{
    margin-top: 4px;
    width: 50px;
    margin-right: 10px;
    max-width: unset;
  }
  .wrap img{
    width: 50px;
  }

  .home-1-item > .wrap {
    display: flex;
  }

  .txt-content h3 ,.home-3-item .fs-24{
    font-size: 13px;
  }

  .txt-content p,.home-3-item .fs-14 {
    font-size: 10px;
    line-height: 20px;
  }
  .home-3-item .col12-sm-12{
    padding-top: 0;
    margin:  10px auto 0 !important;
  }
}


.col12-1, .col12-10, .col12-11, .col12-12, .col12-2, .col12-3, .col12-4, .col12-5, .col12-6, .col12-7, .col12-8, .col12-9, .col12-gt-1, .col12-gt-10, .col12-gt-11, .col12-gt-12, .col12-gt-2, .col12-gt-3, .col12-gt-4, .col12-gt-5, .col12-gt-6, .col12-gt-7, .col12-gt-8, .col12-gt-9, .col12-lg-1, .col12-lg-10, .col12-lg-11, .col12-lg-12, .col12-lg-2, .col12-lg-3, .col12-lg-4, .col12-lg-5, .col12-lg-6, .col12-lg-7, .col12-lg-8, .col12-lg-9, .col12-md-1, .col12-md-10, .col12-md-11, .col12-md-12, .col12-md-2, .col12-md-3, .col12-md-4, .col12-md-5, .col12-md-6, .col12-md-7, .col12-md-8, .col12-md-9, .col12-sm-1, .col12-sm-10, .col12-sm-11, .col12-sm-12, .col12-sm-2, .col12-sm-3, .col12-sm-4, .col12-sm-5, .col12-sm-6, .col12-sm-7, .col12-sm-8, .col12-sm-9, .col12-tn-1, .col12-tn-10, .col12-tn-11, .col12-tn-12, .col12-tn-2, .col12-tn-3, .col12-tn-4, .col12-tn-5, .col12-tn-6, .col12-tn-7, .col12-tn-8, .col12-tn-9{
  padding: 0;
}
#test-net .test-net-button{
  margin: 0;
}
#test-net .test-net-buttons{
  display: unset;
}
